<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="checkbox-tree.html">

<dom-module id="checkbox-tree">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
        <template is="dom-if" if="[[parentPath]]">
        <div style="margin: 8px; position: relative;">
            <paper-checkbox name="[[parentPath.path]]" checked="{{parentChecked}}">[[parentPath.name]]</paper-checkbox>
            <paper-tooltip animation-delay="0">[[parentPath.description]]</paper-tooltip>
        </div>
    </template>
        <div id="domTree" style$="[[getHiddenStyle(parentChecked)]]">
                <template is="dom-repeat" items="[[tree]]" as="tree">
                
                    <checkbox-tree object-tree="[[tree]]" style$="[[getMargin(parentPath)]]"></checkbox-tree>
            </template>
        </div>
  </template>

  <script>
    class CheckboxTree extends Polymer.Element {
      static get is() { return 'checkbox-tree'; }
      getHiddenStyle(checked){
          if(checked){
              return "";
          }
          else return "display: none !important;";
      }
      selectTree(accessList){
        var domTree=this.$.domTree;
          var map={};
          for(var i=0;i<domTree.children.length;i++){
                var child=domTree.children[i];
            if(child.tagName.toLowerCase()=="checkbox-tree"){
                child.set("parentChecked",(accessList[child.parentPath.path] && accessList[child.parentPath.path]==true));
                //console.log(child,child.parentPath.path,child.parentChecked);
                
               // if(child.parentChecked){
                    child.selectTree(accessList);
                   // map[child.parentPath.path]=child.parentChecked;
                   // var childMap=child.getSelectedList();
                   // var childKeys=Object.keys(childMap);
                   // PolymerUtils.iterateArray(childKeys,function(key){
                   //     map[key]=childMap[key];
                   // });
               // }
                

              } 
          }
          
      }
      clearTree(){
        var domTree=this.$.domTree;
          var map={};
          for(var i=0;i<domTree.children.length;i++){
                var child=domTree.children[i];
            if(child.tagName.toLowerCase()=="checkbox-tree"){
                child.set("parentChecked",false);
                //console.log(child,child.parentPath.path,child.parentChecked);
                
               // if(child.parentChecked){
                    child.clearTree();
                   // map[child.parentPath.path]=child.parentChecked;
                   // var childMap=child.getSelectedList();
                   // var childKeys=Object.keys(childMap);
                   // PolymerUtils.iterateArray(childKeys,function(key){
                   //     map[key]=childMap[key];
                   // });
               // }
                

              } 
          }
      }
      getSelectedList(){
          var domTree=this.$.domTree;
          var map={};
          for(var i=0;i<domTree.children.length;i++){
                var child=domTree.children[i];
            if(child.tagName.toLowerCase()=="checkbox-tree"){
                //console.log(child,child.parentPath.path,child.parentChecked);
                if(child.parentChecked){
                    map[child.parentPath.path]=child.parentChecked;
                    var childMap=child.getSelectedList();
                    var childKeys=Object.keys(childMap);
                    PolymerUtils.iterateArray(childKeys,function(key){
                        map[key]=childMap[key];
                    });
                }
                

              } 
          }
          
          return map;
//          console.log(domTree,domTree.children);
      }
      _objectTreeChanged(origin){
      //  console.log("ORIGIN ",origin);
        var arr=[];   
        if(origin){
            if(origin.path){
            this.set("parentPath",{"path":origin.path,"name":origin.name,"description":origin.description});
            }
            
            if(!origin._main){

            
                if(origin.children){
                    var keys=Object.keys(origin.children);

                    for(var i=0;i<keys.length;i++){
                        var child=origin.children[keys[i]]
                        if(this.parentPath){
                        child.path=this.parentPath.path+"/"+keys[i];
                       
                       }
                       else{
                        child.path=keys[i];
                       
                       }
                       child.parent=this.parentPath;
                      arr.push(child);
                    }
                }
            }
            else{
                    var keys=Object.keys(origin);

                    for(var i=0;i<keys.length;i++){
                        if(keys[i]=="_main"){
                            continue;
                        }
                        var child=origin[keys[i]]
                       if(this.parentPath){
                        child.path=this.parentPath.path+"/"+keys[i];
                       
                       }
                       else{
                        child.path=keys[i];
                       
                       }
                  //     console.log("Child",child);
                        arr.push(child);
                    }
                    this.set("parentChecked",true);
            }
        }
        
        this.set("tree",arr);
      }
      getMargin(parentPath){
          if(parentPath){
              return "margin-left: 32px;";
          }
          else return "";
      }
      static get observers(){
            return [
               // "_checkedMapChanged(parentChecked,partialMap)"
            ];
      }
      _checkedMapChanged(checked,map){
          if(map){
              if(this.parentPath){
                    if(checked)
                    map[this.parentPath.path]=true;
                    else delete map[this.parentPath.path];
                }
            }
          else{
              map={};
              if(this.parentPath)
                if(checked){
                    map[this.parentPath.path]=true;
 
                }   
          
            }
          this.set("selectedMap",map);

      }
      _mapListChanged(mapList){
          console.log("Map list",mapList);
      }
      static get properties() {
        return {
          tree:{
            type:Array,
            notify:true
            
          },
          mapList:{
              type:Object,
              notify:true,
              observer: "_mapListChanged"
              
          },
          parentChecked:{
              type:Boolean,
              notify:true,
              reflectToAttribute: true
          },
         
          parentPath:{
              type:Object,
              notify:true,
              value: null,
              reflectToAttribute:true
          },

          objectTree:{
              type:Object,
              notify:true,
              observer: "_objectTreeChanged" 
          }/*,
          partialMap:{
            type:Object,
              notify:true
          },
          selectedMap:{
              type:Object,
              notify:true,
              value:null,
              reflectToAttribute: true
          }*/


        };
      }
    }

    window.customElements.define(CheckboxTree.is, CheckboxTree);
  </script>
</dom-module>
