<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="icon-label">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 8px;
        --paper-tooltip-delay-in: 0;
        --paper-tooltip-duration-in: 150;
        --paper-tooltip-duration-out: 150;
        cursor: pointer;
        --paper-tooltip:{
            font-size: 13px;
        };
      }
      .circle {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        
      }
    </style>

    <div style="display: table-cell; vertical-align: middle; text-align: left;">
        <div style$="[[getIconStyle(iconColor)]] font-weight: 600; padding-left: 28px; [[getFontSizeLabel(big)]]" class="icon-name">[[second]]</div>
   
        <template is="dom-if" if="[[!circleIcon]]">
                <iron-icon icon="[[icon]]" style$="[[getIconStyle(iconColor)]] display: inline-block;"></iron-icon>
                <paper-tooltip position="left">[[tooltipText]]</paper-tooltip>
        </template>
        <template is="dom-if" if="[[circleIcon]]">
                
                <iron-icon class="circle" icon="[[icon]]" style$="[[getCircleStyle(iconColor)]] color: white; display: inline-block;"></iron-icon>
                <paper-tooltip position="left">[[tooltipText]]</paper-tooltip>
        </template>
      
      <div style$="[[getLabelStyle(labelColor)]] height: 100%; vertical-align: middle; display: inline-block; [[getFontSizeText(big)]]">[[label]]</div>
      
    </div>
  </template>

  <script>
    class IconLabel extends GlobalMixin(Polymer.Element) {
        getFontSizeLabel(big){
            if(big){
                return "font-size: 17px;"
            }
            else{
                return "font-size: 12px;";
            }
        }
        getFontSizeText(big){
            if(big){
                return "font-size: 26px;"
            }
            else{
                return "";
            }
        }
        getIconStyle(color){
            if(color){
                return "color: "+color+";";
            }
            return "color: black;";
        }
        getCircleStyle(color){
            if(color){
                return "background-color: "+color+";";
            }
            return "background-color: black;";
        }
        getLabelStyle(color){
            if(color){
                return "color: "+color+";";
            }
            return "color: black;";
        }
      static get is() { return 'icon-label'; }
      static get properties(){
          return{
              icon:{
                  type: String,
                  notify:true
              },
              second:{
                  type:String,
                  notify:true
              },
              big:{
                  type:Boolean,
                  notify:true
              },
              circleIcon:{
                  type: Boolean,
                  notify:true,
                  value: false
              },
              iconColor:{
                  type:String,
                  notify:true,
                  value: "var(--paper-blue-500)"
              },
              label:{
                  type:String,
                  notify:true
              },
              tooltipText:{
                  type:String,
                  notify:true
              },
              labelColor:{
                  type:String,
                  notify:true,
                  value: "#212121"
              }


          };
      }
    }

    window.customElements.define(IconLabel.is, IconLabel);
  </script>
</dom-module>
