<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="icon-label.html">
<link rel="import" href="checkbox-tree.html">

<dom-module id="profile-dialog">
  <template>
    <style >
      :host {
        display: block;

        --paper-item-focused-before: { background: transparent };
        --paper-tooltip:{
        font-weight: 500 !important;
        font-size: 11px !important;
        width: 110px !important;
        text-align: center; 
        z-index: 999 !important;
      };
      --paper-tooltip-animation:{
        

      };
      }
      paper-tooltip{
        z-index: 999 !important;
      }
      
      
      iron-icon{
        color: var(--paper-grey-600) !important;
      }
      paper-button{
        font-weight: 500;
      }
      .circle {
        width: 48px;
        height: 48px;
        
      }
      .translucent-circle{
        background-color: rgba(0,0,0,0.3);
        color: white;
        border-radius: 50%;
        opacity: 0.0;
        transition: opacity 100ms;
        
      }
      .photo-circle{
        cursor:pointer;
        max-height: 48px;
        max-width: 48px;
      }
      .photo-circle:hover .translucent-circle{
        opacity: 1.0;

      }
    </style>
    <input style="display:none;" id="photoInput" type="file" on-change="_fileSelected"/>
     <paper-dialog id="dialog" 
     entry-animation="scale-up-animation"
              exit-animation="fade-out-animation"
              style$="min-width: [[getDialogMinWidth(smallDevice)]]; min-height: 280px;"
              modal>
        <paper-item style="background-color: rgb(247, 247, 247); flex-grow: 100; font-size: 22px; margin: 0px !important; padding-top: 16px; padding-bottom: 16px;">
            <!--<contact-badge contact=[[user]] tam="64px"  slot="item-icon"></contact-badge>-->
            <!--<div class="avatar blue" slot="item-icon"></div>-->
            
            <div style=" height: 30px;">[[getHeader(perfil)]]</div>
            
           
          </paper-item>


        <paper-dialog-scrollable>
            <template is="dom-if" if="[[saving]]">
                <paper-spinner active="[[saving]]"></paper-spinner>
            </template>
            <div hidden$="[[saving]]">
              <vaadin-combo-box style="flex-grow: 1; padding: 0 4px; width: 350px;" label="Perfil" placeholder="Selecciona un perfil para editarlo" selected-item="{{perfil}}" items="[[perfiles]]" item-value-path="_key" item-label-path="name"></vaadin-combo-box>
            
                <div style="display:flex; align-items: center; justify-content: center;">

           
                    
            <paper-input id="displayNameInput" 
            error-message="¡Campo obligatorio!"
            label="Nombre"
            auto-validate
            style="flex-grow: 100;"
            always-float-label
          autofocus value="{{displayName}}">

          </paper-input>

</div>
<div style="border: solid 1px #E0E0E0; min-height: 350px; max-height: 350px; background-color: var(--paper-grey-200); overflow-y: auto;">

<checkbox-tree object-tree="[[mainTree]]" id="mainDomTree">

</checkbox-tree>
</div>

            </div>
        </paper-dialog-scrollable>

            <template is="dom-if" if="[[!saving]]">
                <div class="buttons">
 
              <paper-button dialog-dismiss>Cancelar</paper-button>
          <paper-button on-click="saveProfile">Guardar</paper-button>
        </div>
 
        </template>
      </paper-dialog>

      <iron-media-query query="(max-width: 640px)" query-matches="{{smallDevice}}"></iron-media-query>

  </template>

  <script>
    class ProfileDialog extends GlobalMixin(Polymer.Element) {
      static get is() { return 'profile-dialog'; }
      constructor(){
        super();
        firebaseController.UserProfiles.getQuery().bindArray(this,this.perfiles,"perfiles");
        console.log("Main Tree",StaticDomAccess.MAIN_TREE);
        this.set("mainTree",StaticDomAccess.MAIN_TREE);
      }
      getHeader(perfil){
          if(perfil){
              return "Editar Perfil";
          }
          else{
              return "Agregar Perfil";
          }
      }
      getDialogMinWidth(small){
        if(small){
          return "95%";
        }
        return "600px";
      }
      shouldHidePasswordInput(user,change){
        if(!user){
          return false;
        }
        return !change;
      }
      selectTree(list){
        this.$.mainDomTree.selectTree(list);
      }
      clearTree(){
        this.$.mainDomTree.clearTree();

      }
      saveProfile(){
        if(this.saving){
                return; 
          }
          var actualPerfil=this.perfil;
          if(!this.displayName || this.displayName.trim()==""){
            PolymerUtils.Toast.show("Escribe un nombre para el perfil");
            return;
          }

          this.set("saving",true);
          var context=this;
          console.log("Saving Profile");
          var accessList=this.$.mainDomTree.getSelectedList();
          var name=this.displayName;
          
          if(actualPerfil){
            firebaseController.UserProfiles.getQuery().update(this,{"_key":actualPerfil._key,"name":name,"accessList":accessList},
          function(){
            context.close();
            PolymerUtils.Toast.show("Perfil '"+name+"' actualizado con éxito");
          },function(err){
            context.set("saving",false);
            PolymerUtils.Toast.show("Hubo un error actualizando el perfil. Intenta más tarde");
            console.error("Error guardando el perfil",err);
          },{"includeUser":true,"includeTimestamp":true});
          }
          else{

          
          firebaseController.UserProfiles.getQuery().insert(this,{"name":name,"accessList":accessList},
          function(){
            context.close();
            PolymerUtils.Toast.show("Perfil '"+name+"' guardado con éxito");
          },function(err){
            context.set("saving",false);
            PolymerUtils.Toast.show("Hubo un error guardando el perfil. Intenta más tarde");
            console.error("Error guardando el perfil",err);
          },{"includeUser":true,"includeTimestamp":true});
        }
      }
      save(){
        if(this.saving){
                return; 
          }
          var changes=this.changes;
          var extraData=this.extraData;
//          console.log("Badge color",extraData.badgeColor);
              if(!changes.displayName || changes.displayName.trim()==""){
                  this.$.displayNameInput.invalid=true;
                  return;
              }
              if(!changes.email || changes.email.trim()==""){
                this.$.emailInput.invalid=true;
                return;
              }
              if(!extraData.profileName){
                this.$.profileDropdown.invalid=true;
                return;
              }
          if(this.user){

            if(this.changePassword){
              if(!changes.password || changes.password.trim()==""){
                this.$.passwordInput.invalid=true;
                return;
                }
            }
              this.changes.uid=this.user.uid;
              if(!this.changePassword){
                this.changes.password=null;
              }
              this.changes.extraData=this.extraData;
              this.updateUser(this.changes);

          }
          else{
              
            if(!changes.password || changes.password.trim()==""){
              //changes.password="mokoccino";
                this.$.passwordInput.invalid=true;
                return;
                }

          this.extraData.badgeColor=this.getRandomColor();

                
              this.insertUser(this.changes.displayName,
              this.changes.email,this.changes.password,this.changes.photoURL,this.extraData);


          }


      }
      ready(){
          super.ready();
          var t=this;
          this.$.dialog.addEventListener("iron-overlay-closed",function(e){
            
            t.dispatchEvent(new CustomEvent('closed', {detail: {closed: true,target:e.target}}));        
            //console.log("Child removed");
        });
      }
      open(){
          this.$.dialog.open();
      }
      close(){
          this.$.dialog.close();
      }
      _selectedPerfilChanged(perfil){
        if(perfil){
          this.set("displayName",perfil.name);
          this.selectTree(perfil.accessList);
    
        }
        else{
          this.set("displayName",null);
          this.clearTree();
        }
      }
      _userChanged(user){
          if(user){
              this.set("changes.displayName",user.displayName);
              this.set("changes.password",user.password);
              this.set("changes.email",user.email);
              this.set("changes.photoURL",user.photoURL);
              this.set("extraData.profileName",user.profileName);
              this.set("tempPhoto",user.photoURL);

          }
          else{
            this.set("changes.displayName","");
              this.set("changes.password","");
              this.set("changes.email","");
              this.set("changes.displayName","");
              this.set("changes.photoURL","");
              this.set("extraData.profileName",null);

          }
      } 
      updateUser(changes){
        var t=this;
        
        t.set("saving",true);
         firebaseController.User.updateUser(changes,{
                success:function(){
                  t.close();
                },
                fail: function(){
                  t.set("saving",false);
                }
              });
      }
      insertUser(name,email,password,photoURL,extraData){
        var t=this;
        var context=this;
        var blob=this.tempBlob;
        t.set("saving",true);
         firebaseController.User.insertUser(name,email,password,photoURL,extraData,function(){

         },function(user){
           console.log("Inserted user "+user.uid,user);
          if(blob){
            context.set("changes.uid",user.uid);
					var storageRef = firebase.storage().ref();
          var imageName="users/thumb_"+user.uid+".jpg";
          console.log("Image nAME",imageName);
					storageRef.child(imageName).put(blob).then(function(snapshot){

   snapshot.ref.getDownloadURL().then(function(downloadURL) {
    console.log('Real image to update at', downloadURL);
            //context.set("tempPhoto",downloadURL);
            context.set("changes.photoURL",downloadURL);

            context.updateUser(context.changes);
  });

          });
        }
           t.close();



         }, function(){

            t.set("saving",false);
         });
      }
      selectPhoto(){
        this.$.photoInput.click();
      }
      _fileSelected(c){
        var t=this;
					var context=this;
			if(c.target.files[0]){
			var file=c.target.files[0];
      var actualItem=null;

        if(this.user){
          actualItem=this.user;
        }
			
		//	console.log("file",this.actualItem._key,file);

			ImageTools.resize(file, {
        width: 400, // maximum width
        height: 400 // maximum height
    }, function(blob, didItResize) {
				console.log("Resized?",didItResize);
				if(didItResize){
	
					var storageRef = firebase.storage().ref();
					var imageName="users-draft/temp.jpg";
					if(actualItem){
            imageName="users/thumb_"+actualItem._key+".jpg";
          }

					console.log("Image nAME",imageName);
					storageRef.child(imageName).put(blob).then(function(snapshot){
            //console.log("Snap",snapshot);
            context.set("tempBlob",blob);
            snapshot.ref.getDownloadURL().then(function(downloadURL) {
    console.log('File available at', downloadURL);
            context.set("tempPhoto",downloadURL);
            context.set("changes.photoURL",downloadURL);
  });
            /*
						actualItem.imageUrl=snapshot.downloadURL;
							if(t.platillos.indexOf(actualItem)!=-1){
								var index=context.platillos.indexOf(actualItem);
								console.log("Index to replace platillos",index);
                
								t.splice("platillos",index,1,actualItem);
								

							}
							if(t.visibleList.indexOf(actualItem)!=-1){
								var index=context.visibleList.indexOf(actualItem);
								console.log("Index to replace visibleList",index);
                
								t.splice("visibleList",index,1,actualItem);
								

							}
						
  						console.log('Uploaded a blob or file!');
						t.updateDownloadUrl(actualItem,snapshot.downloadURL);*/
					});
				}
				else{
					PolymerUtils.Toast.show("Hubo un error al guardar el archivo seleccionado. Inténtalo de nuevo.");
				}
       
    });





			this.$.photoInput.value="";
			}
			else{

				console.log("File not selected");
        PolymerUtils.Toast.show("No seleccionaste ninguna foto");
			}



      }
      getPhotoUrl(tempPhoto){
      //  console.log("Temp photo",tempPhoto);
        if(!tempPhoto){
        //  console.error("Returning default user photo!");

          return "../../images/default_user.png";
        }
        //console.log("Returning photo!",tempPhoto);
        return tempPhoto;
      }
      static get properties(){
        return {
          perfil:{
            type:Object,
            notify:true,
            value:null,
            observer: "_selectedPerfilChanged"
          },
          perfiles:{
            type:Array,
            notify:true,
            value:[]
          },
            mainTree:{
                type:Object,
                notify:true
            },
            accessMap:{
              type:Object,
              notify:true,
              observer: "_accessMapChanged"
            },
            displayName:{
              type:String,
              notify:true
            },
          user:{
            type:Object,
            notify:true,
            value: null,
            observer: "_userChanged"
          },
          tempPhoto:{
            type:String,
            notify:true,
            value: null
          },
          tempBlob:{
            type:Object,
            notify:true,
            value: null
          },
          saving:{
              type:Boolean,
              notify:true,
              value: false
          },
          changes:{
              type:Object,
              notify:true,
              value: {"displayName":"","password":"","email":""}
          },
          extraData:{
            type:Object,
            notify:true,
            value:{}
          },
          actualProfile:{
            type:String,
            notify:true,
            observer: "_actualProfileChanged"
          }

        };
      }
      _actualProfileChanged(profile){
        if(profile)
        this.set("extraData.profileName",profile);
      }


    }

    window.customElements.define(ProfileDialog.is, ProfileDialog);
  </script>
</dom-module>
