<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="icon-label.html">

<dom-module id="user-dialog">
  <template>
    <style >
      :host {
        display: block;

        --paper-item-focused-before: { background: transparent };
        --paper-tooltip:{
        font-weight: 500 !important;
        font-size: 11px !important;
        width: 110px !important;
        text-align: center; 
        z-index: 999 !important;
      };
      --paper-tooltip-animation:{
        

      };
      }
      paper-tooltip{
        z-index: 999 !important;
      }
      
      
      iron-icon{
        color: var(--paper-grey-600) !important;
      }
      paper-button{
        font-weight: 500;
      }
      .circle {
        width: 48px;
        height: 48px;
        
      }
      .translucent-circle{
        background-color: rgba(0,0,0,0.3);
        color: white;
        border-radius: 50%;
        opacity: 0.0;
        transition: opacity 100ms;
        
      }
      .photo-circle{
        cursor:pointer;
        max-height: 48px;
        max-width: 48px;
      }
      .photo-circle:hover .translucent-circle{
        opacity: 1.0;

      }
    </style>
    <input style="display:none;" id="photoInput" type="file" on-change="_fileSelected"/>
     <paper-dialog id="dialog" 
     entry-animation="scale-up-animation"
              exit-animation="fade-out-animation"
              style$="min-width: [[getDialogMinWidth(smallDevice)]]; min-height: 280px;"
              modal>
        <paper-item style="background-color: rgb(247, 247, 247); flex-grow: 100; font-size: 22px; margin: 0px !important; padding-top: 16px; padding-bottom: 16px;">
            <!--<contact-badge contact=[[user]] tam="64px"  slot="item-icon"></contact-badge>-->
            <!--<div class="avatar blue" slot="item-icon"></div>-->
            
            <div style=" height: 30px;">[[getHeader(user)]]</div>
            
           
          </paper-item>


        <paper-dialog-scrollable>
            <template is="dom-if" if="[[saving]]">
                <paper-spinner active="[[saving]]"></paper-spinner>
            </template>
            <div hidden$="[[saving]]">

                <div style="display:flex; align-items: center; justify-content: center;">

                  <div class="photo-circle" style="position: relative; margin-left: 0px; margin-right: 16px;" on-click="selectPhoto">
                    <!--<iron-icon class="circle" icon="social:person" style="width: 48px; height: 48px; color: white !important;">-->

                      <img class="circle" 
                      style$="background-size: cover; background-image: url('[[getPhotoUrl(tempPhoto)]]');" />
                    
                    <div class="translucent-circle" style="display: flex; align-items: center; justify-content: center; position: absolute; margin: auto; height: 40px; width: 40px; top: 0; left: 0; right: 0; bottom: 0;" 
                    >
                      <iron-icon icon="image:photo-camera" style="color: white !important;" ></iron-icon>
                    </div>
                    <paper-tooltip class="camera-tooltip"  animation-delay="0" horizontal-offset="16px" offset="2px" animation-entry="scale-up-animation" animation-exit="scale-down-animation">Elegir foto de usuario</paper-tooltip>
                  </div>
                    
            <paper-input id="displayNameInput" 
            error-message="¡Campo obligatorio!"
            label="Nombre"
            auto-validate
            style="flex-grow: 100;"
            always-float-label
          autofocus value="{{changes.displayName}}">

          </paper-input>

</div>


          <div style="display:flex; align-items: center; justify-content: center;">

          <iron-icon icon="communication:business" style="margin-right: 29px; margin-left: 13px;"></iron-icon>

          <paper-dropdown-menu id="profileDropdown" always-float-label error-message="¡Campo obligatorio!" label="Perfil de acceso" style="width: 100%;">
              <paper-listbox slot="dropdown-content" attr-for-selected="name" selected="{{extraData.profileKey}}">
                <template is="dom-repeat" items="[[profiles]]">
                  <paper-item name="[[item._key]]">[[item.name]]</paper-item>
                
                </template>
                
              </paper-listbox>
            </paper-dropdown-menu>
          </div>
          <div style="display:flex; align-items: center; justify-content: center;">


              <iron-icon icon="communication:email" style="margin-right: 29px; margin-left: 13px;"></iron-icon>
          <paper-input id="emailInput"
          error-message="¡Campo obligatorio!"
          label="Email"
          auto-validate
          style="flex-grow:100;"
            always-float-label
          value="{{changes.email}}">

            </paper-input>
            </div>
            <template is="dom-if" if="[[user]]">
              <paper-checkbox checked="{{changePassword}}" style="padding-left: 64px; padding-top: 12px; padding-bottom: 12px; ">Cambiar contraseña</paper-checkbox>
          </template>
          <div hidden$="[[shouldHidePasswordInput(user,changePassword)]]">
              <div style="display:flex; align-items: center; justify-content: center;">


                  <iron-icon icon="hardware:security" style="margin-right: 29px; margin-left: 13px;"></iron-icon>
                
                  <paper-input id="passwordInput" 
            label="Contraseña"
            always-float-label
            style="flex-grow: 100;"
            auto-validate
            error-message="¡Campo obligatorio!"
            type="password" value="{{changes.password}}">

                </paper-input>
</div>

              </div>
            </div>
        </paper-dialog-scrollable>

            <template is="dom-if" if="[[!saving]]">
                <div class="buttons">
 
              <paper-button dialog-dismiss>Cancelar</paper-button>
          <paper-button on-click="save">Guardar</paper-button>
        </div>
 
        </template>
      </paper-dialog>

      <iron-media-query query="(max-width: 640px)" query-matches="{{smallDevice}}"></iron-media-query>

  </template>

  <script>
    class UserDialog extends GlobalMixin(Polymer.Element) {
      static get is() { return 'user-dialog'; }
      constructor(){
        super();
        firebaseController.UserProfiles.getQuery().bindArray(this,this.profiles,"profiles");
        
      }
      getHeader(user){
          if(user){
              return "Editar Usuario";
          }
          else{
              return "Agregar Usuario";
          }
      }
      getDialogMinWidth(small){
        if(small){
          return "95%";
        }
        return "600px";
      }
      shouldHidePasswordInput(user,change){
        if(!user){
          return false;
        }
        return !change;
      }
      save(){
        if(this.saving){
                return; 
          }
          var changes=this.changes;
          var extraData=this.extraData;
//          console.log("Badge color",extraData.badgeColor);
              if(!changes.displayName || changes.displayName.trim()==""){
                  this.$.displayNameInput.invalid=true;
                  return;
              }
              if(!changes.email || changes.email.trim()==""){
                this.$.emailInput.invalid=true;
                return;
              }
              if(!extraData.profileKey){
                this.$.profileDropdown.invalid=true;
                return;
              }
          if(this.user){

            if(this.changePassword){
              if(!changes.password || changes.password.trim()==""){
                this.$.passwordInput.invalid=true;
                return;
                }
            }
              this.changes.uid=this.user.uid;
              if(!this.changePassword){
                this.changes.password=null;
              }
              this.changes.extraData=this.extraData;
              if(this.extraData.profileKey){
                this.extraData.profile=PolymerUtils.cloneObject(firebaseController.UserProfiles.getQuery().findKey(this.extraData.profileKey));
                delete this.extraData.profile["_user"];
                delete this.extraData.profile["_timestamp"];
                delete this.extraData.profile["accessList"];  
              }
              this.updateUser(this.changes);

          }
          else{
              
            if(!changes.password || changes.password.trim()==""){
              //changes.password="mokoccino";
                this.$.passwordInput.invalid=true;
                return;
                }

          this.extraData.badgeColor=this.getRandomColor();

              if(this.extraData.profileKey){
                this.extraData.profile=PolymerUtils.cloneObject(firebaseController.UserProfiles.getQuery().findKey(this.extraData.profileKey));
                delete this.extraData.profile["_user"];
                delete this.extraData.profile["_timestamp"];
                delete this.extraData.profile["accessList"];  
              }
              this.insertUser(this.changes.displayName,
              this.changes.email,this.changes.password,this.changes.photoURL,this.extraData);


          }


      }
      ready(){
          super.ready();
          var t=this;
          this.$.dialog.addEventListener("iron-overlay-closed",function(e){
            if(e.target.tagName.toLowerCase().includes("dialog")){
              //console.log("My tag name",e.target);
              t.dispatchEvent(new CustomEvent('closed', {detail: {closed: true,target:e.target}}));        
           
            }
            //console.log("Child removed");
        });
      }
      open(){
          this.$.dialog.open();
      }
      close(){
          this.$.dialog.close();
      }
      
      _userChanged(user){
          if(user){
              this.set("changes.displayName",user.displayName);
              this.set("changes.password",user.password);
              this.set("changes.email",user.email);
              this.set("changes.photoURL",user.photoURL);
              this.set("extraData.profile",user.profile);
              this.set("extraData.profileKey",user.profileKey);
              this.set("tempPhoto",user.photoURL);

          }
          else{
            this.set("changes.displayName","");
              this.set("changes.password","");
              this.set("changes.email","");
              this.set("changes.displayName","");
              this.set("changes.photoURL","");
              this.set("extraData.profile",null);
              this.set("extraData.profileKey",null);

          }
      } 
      updateUser(changes){
        var t=this;
        
        t.set("saving",true);
         firebaseController.User.updateUser(changes,{
                success:function(){
                  t.close();
                },
                fail: function(){
                  t.set("saving",false);
                }
              });
      }
      insertUser(name,email,password,photoURL,extraData){
        var t=this;
        var context=this;
        var blob=this.tempBlob;
        t.set("saving",true);
         firebaseController.User.insertUser(name,email,password,photoURL,extraData,function(){

         },function(user){
           console.log("Inserted user "+user.uid,user);
          if(blob){
            context.set("changes.uid",user.uid);
					var storageRef = firebase.storage().ref();
          var imageName="users/thumb_"+user.uid+".jpg";
          console.log("Image nAME",imageName);
					storageRef.child(imageName).put(blob).then(function(snapshot){

   snapshot.ref.getDownloadURL().then(function(downloadURL) {
    console.log('Real image to update at', downloadURL);
            //context.set("tempPhoto",downloadURL);
            context.set("changes.photoURL",downloadURL);

            context.updateUser(context.changes);
  });

          });
        }
           t.close();



         }, function(){

            t.set("saving",false);
         });
      }
      selectPhoto(){
        this.$.photoInput.click();
      }
      _fileSelected(c){
        var t=this;
					var context=this;
			if(c.target.files[0]){
			var file=c.target.files[0];
      var actualItem=null;

        if(this.user){
          actualItem=this.user;
        }
			
		//	console.log("file",this.actualItem._key,file);

			ImageTools.resize(file, {
        width: 400, // maximum width
        height: 400 // maximum height
    }, function(blob, didItResize) {
				console.log("Resized?",didItResize);
				if(didItResize){
	
					var storageRef = firebase.storage().ref();
					var imageName="users-draft/temp.jpg";
					if(actualItem){
            imageName="users/thumb_"+actualItem._key+".jpg";
          }

					console.log("Image nAME",imageName);
					storageRef.child(imageName).put(blob).then(function(snapshot){
            //console.log("Snap",snapshot);
            context.set("tempBlob",blob);
            snapshot.ref.getDownloadURL().then(function(downloadURL) {
    console.log('File available at', downloadURL);
            context.set("tempPhoto",downloadURL);
            context.set("changes.photoURL",downloadURL);
  });
            /*
						actualItem.imageUrl=snapshot.downloadURL;
							if(t.platillos.indexOf(actualItem)!=-1){
								var index=context.platillos.indexOf(actualItem);
								console.log("Index to replace platillos",index);
                
								t.splice("platillos",index,1,actualItem);
								

							}
							if(t.visibleList.indexOf(actualItem)!=-1){
								var index=context.visibleList.indexOf(actualItem);
								console.log("Index to replace visibleList",index);
                
								t.splice("visibleList",index,1,actualItem);
								

							}
						
  						console.log('Uploaded a blob or file!');
						t.updateDownloadUrl(actualItem,snapshot.downloadURL);*/
					});
				}
				else{
					PolymerUtils.Toast.show("Hubo un error al guardar el archivo seleccionado. Inténtalo de nuevo.");
				}
       
    });





			this.$.photoInput.value="";
			}
			else{

				console.log("File not selected");
        PolymerUtils.Toast.show("No seleccionaste ninguna foto");
			}



      }
      getPhotoUrl(tempPhoto){
      //  console.log("Temp photo",tempPhoto);
        if(!tempPhoto){
        //  console.error("Returning default user photo!");

          return "../../images/default_user.png";
        }
        //console.log("Returning photo!",tempPhoto);
        return tempPhoto;
      }
      static get properties(){
        return {
          profiles:{
            type:Array,
            notify:true,
            value:[]
          },
          user:{
            type:Object,
            notify:true,
            value: null,
            observer: "_userChanged"
          },
          tempPhoto:{
            type:String,
            notify:true,
            value: null
          },
          tempBlob:{
            type:Object,
            notify:true,
            value: null
          },
          saving:{
              type:Boolean,
              notify:true,
              value: false
          },
          changes:{
              type:Object,
              notify:true,
              value: {"displayName":"","password":"","email":""}
          },
          extraData:{
            type:Object,
            notify:true,
            value:{}
          },
          actualProfile:{
            type:String,
            notify:true,
            observer: "_actualProfileChanged"
          }

        };
      }
     


    }

    window.customElements.define(UserDialog.is, UserDialog);
  </script>
</dom-module>
