<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="user-delete-dialog">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

      }
      
    </style>
     <paper-dialog id="dialog" 
     entry-animation="scale-up-animation"
              exit-animation="fade-out-animation"
              modal>
        <h2>Eliminar usuario</h2>

        <paper-dialog-scrollable>
            <template is="dom-if" if="[[saving]]">
                <paper-spinner active="[[saving]]"></paper-spinner>
            </template>
            <div hidden$="[[saving]]" style="width: 200px;">
                ¿Deseas eliminar el usuario [[user.displayName]]? Su información ya no podrá recuperarse una vez eliminada.
            </div>
        </paper-dialog-scrollable>

            <template is="dom-if" if="[[!saving]]">
                <div class="buttons">
 
              <paper-button dialog-dismiss>Cancelar</paper-button>
          <paper-button on-click="save" style="background-color: var(--paper-red-500); color: white;" raised>Eliminar</paper-button>
        </div>
 
        </template>
      </paper-dialog>


  </template>

  <script>
    class UserDeleteDialog extends GlobalMixin(Polymer.Element) {
      static get is() { return 'user-delete-dialog'; }
      constructor(){
        super();

      }
      
      save(){
        if(this.saving){
                return; 
          }
          this.deleteUser(this.user);



      }
      ready(){
          super.ready();
          var t=this;
          this.$.dialog.addEventListener("iron-overlay-closed",function(e){
            
            t.dispatchEvent(new CustomEvent('closed', {detail: {closed: true,target:e.target}}));        
            
        });
      }
      open(){
          this.$.dialog.open();
      }
      close(){
          this.$.dialog.close();
      }
      
      _userChanged(user){
          
      } 
      deleteUser(user){
        var t=this;
        
        t.set("saving",true);
         firebaseController.User.deleteUser(user,{
                success:function(){
                  t.close();
                },
                fail: function(){
                  t.set("saving",false);
                }
              });
      }
      
      static get properties(){
        return {
          user:{
            type:Object,
            notify:true,
            value: null,
            observer: "_userChanged"
          },
          saving:{
              type:Boolean,
              notify:true,
              value: false
          }
        };
      }


    }

    window.customElements.define(UserDeleteDialog.is, UserDeleteDialog);
  </script>
</dom-module>
