<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/bootstrap-styles/bootstrap-styles.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
vaa
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../componentes/agrega-tipo-reporte.html">

<dom-module id="reporte-main">
  <template>
    <style include="bootstrap-styles"></style>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  margin: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}
    </style>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <h1> Control de reportes de incidencias</h1>

    <div>
      <paper-input label="descripción incidencia" value="{{texto}}"></paper-input>
      <vaadin-combo-box selected-item="{{filtraEventos}}" label="tipo de incidencia" items="[[tipos]]" item-value-path="nombre"
        item-label-path="nombre">
      </vaadin-combo-box>
    </div>
 
    <div>
      <div class="grid-container">
        <template is="dom-repeat" items="[[arrayTipos]]" as="tipo" filter="[[computeArticleFilter(texto,filtraEventos)]]"
          mutable-data>
          <div class="grid-item">
            <div style$="color:[[getClass(tipo.tipoReporte.id)]] !important;">
              <div style="display:block;">[[tipo.descripcion]]</div>
              <div style="display:block;">[[tipo.tipoReporte.tipo]]</div>
              <div style="display:block;">puntaje: [[tipo.puntaje]]</div>
              <div>
                <div class="btn-group">
                    <dom-access path="tipos-incidencias/edita-tipo">
                  <button type="button" class="btn btn-warning" on-click="showEditaTipo">
                    <iron-icon icon="editor:mode-edit"></iron-icon>
                  </button>
                  </dom-access>
                  <dom-access path="tipos-incidencias/elimina-tipo">
                  <button type="button" class="btn btn-danger" on-click="showEliminaTipo">
                    <iron-icon icon="delete-forever"></iron-icon>
                  </button>
                  </dom-access>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>

      <dom-access path="tipos-incidencias/agrega-tipo">
      <paper-fab icon="add" style="position: fixed; right: 24px; bottom: 24px;" on-click="showNuevoTipo"></paper-fab>
    </dom-access>
  </template>

  <script>
    class ReporteMain extends CustomClass(Polymer.Element) {
      static get is() { return 'reporte-main'; }

      static get properties() {
        return {
          route: {
            //este el el objecto que escucha app-location para verificar a que proyecto solicitamos
            type: Object,
            notify: true,
          },
          arrayTipos: { type: Array, notify: true, value: [] },
          tipos: {
            type: Array, notify: true, value: [
              { "id": 0, "nombre": "Positivos" },
              { "id": 1, "nombre": "Negativos" }
            ]
          },
          filtraEventos: { type: Object, notify: true },
          texto: { type: String, notify: true, value: null }
        };
      }//properties

      constructor() {
        super();
        console.log('%c Querying collection with listener ', 'background: #222; color: #bada55');
        if (this.lastQueryCollection) {
          console.log("Killing previous collection snapshot");
          this.lastQueryCollection();
        }
        var collection = "tiposIncidencias"
        var context = this;

        var options = {
          "collection": collection,
          "array": this.arrayTipos,
          "arrayName": "arrayTipos"
        };

        options["callback"] = function (collectionArray) {
          console.log('%c Callback fired from collection listener', 'background: #222; color: white;');
          eval.call(window, '(function (collection) {' + callback + '})')(collectionArray);

        };
        options["callback"] = function (collection) {
          console.log('%c Callback fired from collection listener', 'background: #222; color: white;');

        };
        options["error"] = function (err) {
          eval.call(window, '(function (err) {' + error + '})')(err);
        };
        this.set("lastQueryCollection", firebaseHelper.queryCollection(this, options));
      }//constructor

      ready() {
        super.ready();
      }//ready





      showNuevoTipo() {

        PolymerUtils.Dialog.createAndShow({
          type: "modal",
          element: "agrega-tipo-reporte",
          title: "Nuevo tipo de reporte",
          style: "width: 400px;",
          smallStyle: "width: 100% margin: 0 !important;",
          positiveButton: {
            text: "Crear tipo de reporte",
            action: function (dialog, element) {
              element.guardaTipoReporte();

            },
            raised: true,
            style: "color: white; background-color: var(--paper-green-700);"
          },
          negativeButton: {
            text: "Cerrar",
            action: function (dialog, element) {
              dialog.close();
              element.limpiaCampos();
              console.log("Cancelando");
            }
          }
        });
      }//showNuevoEvento

      showEditaTipo(e) {
        var item = e.model.tipo;
        console.log(item);
        var empleadoDialog = PolymerUtils.Dialog.createAndShow({
          type: "modal",
          element: "agrega-tipo-reporte",
          title: "Editar reporte",
          elementReady: function (element) {
            element.set("objetoEditar", item);
            element.set("texto", item.descripcion);
            element.set("puntaje", item.puntaje);
            empleadoDialog.notifyResize();
          },
          style: "width: 400px;",
          smallStyle: "width: 100% margin: 0 !important;",
          positiveButton: {
            text: "Editar",
            action: function (dialog, element) {
              element.editaTipoReporte();
              dialog.close();
            },
            raised: true,
            style: "color: white; background-color: var(--paper-green-700);"
          },
          negativeButton: {
            text: "Cerrar",
            action: function (dialog, element) {
              dialog.close();
              element.limpiaCampos();
              console.log("Cancelando");
            }
          }
        });
      }//showEditaTipo






      showEliminaTipo(e) {
        var item = e.model.tipo;
        var t = this;
        console.log(item);
        var empleadoDialog = PolymerUtils.Dialog.createAndShow({
          type: "modal",

          title: "Eliminar tipo de incidencia",
          message: "¿Esta seguro que desea eliminar este tipo: " + item.descripcion,
          style: "width: 400px;",
          smallStyle: "width: 100% margin: 0 !important;",
          positiveButton: {
            text: "Eliminar",
            action: function (dialog, element) {
              t.eliminaLista(item);
              dialog.close();
            },
            raised: true,
            style: "color: white; background-color: var(--paper-red-700);"
          },
          negativeButton: {
            text: "Cancelar",
            action: function (dialog, element) {
              dialog.close();

              console.log("Cancelando");
            }
          }
        });
      }//showEliminaTipo



      eliminaLista(item) {
        var emp = item;
        var empId = emp._key;
        var collection = "tiposIncidencias";
        var doc = empId;
        var success = null;
        var error = null;
        if (this.successCallback)
          success = (this.successCallback);

        if (this.errorCallback)
          error = (this.errorCallback);

        var options = {
          "collection": collection,
        };
        if (doc) {
          options["doc"] = doc;
        }
        options["success"] = function (key) {
          PolymerUtils.Toast.show("tipode incidencia eliminado");
        };
        options["error"] = function (err) {
          //console.log(err);
          PolymerUtils.Toast.show("Error al eliminar");
        };
        firebaseHelper.deleteDocument(this, options);
      }//eliminaLista


      getClass(num) {
        if (num == 0) {
          return "green";
        }
        return "red";
      }//getclass



      computeArticleFilter(string, tipo) {

        if (string) {
          string = string.toLowerCase();
        }

        return function (compra) {
          return (string ? (
            (compra.descripcion ?
              compra.descripcion.toLowerCase().indexOf(string) != -1 : false)
          ) : true) && (tipo ?
            compra.tipoReporte.id == tipo.id : true);
        };
      }//computeArticleFilter

    }//class

    window.customElements.define(ReporteMain.is, ReporteMain);
  </script>
</dom-module>