<!-- Load the Polymer.Element base class -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-item/all-imports.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button-animations.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">













<link rel="import" href="../../src/recursos-humanos/modal-alta-usuarios.html">
<link rel="import" href="../../src/recursos-humanos/modal-edicion-usuarios.html">
<link rel="import" href="../../src/recursos-humanos/modal-spinner.html">
<link rel="import" href="../../src/recursos-humanos/modal-deleted.html">
<link rel="import" href="../../src/recursos-humanos/modal-inactivos.html">
<link rel="import" href="../../src/recursos-humanos/modal-dexcision.html">
<link rel="import" href="../../src/recursos-humanos/modal-information.html">
<link rel="import" href="../../src/recursos-humanos/modal-plus.html">
<link rel="import" href="../../src/recursos-humanos/modal-filtros.html">
<link rel="import" href="../../src/recursos-humanos/show-image.html">














<dom-module id="empleados-info">
  <!-- Defines the element's style and local DOM -->
  <template>
   


    <style>
      .container {
    position: relative;
}

.center {
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: 800px;
}

#img { 
    width: 80px;
    height: 60px;
    height: auto;
    
}
      #myInput {
  background-image: url('../../src/recursos-humanos/rh-images/search.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  background-color:white;
}
      @keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
      input[type="radio"] {
  display: none;
}


label {
  color: gold;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: gold;
}

input[type="radio"]:checked ~ label {
  color: gold;
}
      :host {
        display: block;

      }  
      @import url('https://fonts.googleapis.com/css?family=Amatic+SC');





.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.description {
	font-size: 35px;
}
#mi-imagen-abajo-derecha{
    position:absolute;
    bottom:0px;
    right:0;
}




.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
  
}
#example-half-width {
      width: 30%;
      --iron-image-width: 100%;
    }
    .grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "photo1 Generales edit";
}



paper-fab.blue {
      --paper-fab-background: var(--paper-light-blue-500);
      --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
      font-size:20px;
      position: fixed;
      bottom: 24px;
      right: 24px;
      z-index:99;
    }
    
    paper-fab.orange {
      --paper-fab-background: var(--paper-red-500);
      --paper-fab-keyboard-focus-background: var(--paper-red-900);
      font-size:20px;
      position: fixed;
      bottom: 24px;
      right: 24px;
      z-index:80;
      top:70px;
      border-radius: 0;
      height:50px;
    }
    .avatar {
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                min-width: 80px !important;
                min-height: 80px !important;
                max-width: 80px !important;
                max-height: 80px !important;
                border: solid 1px #E0E0E0;
            }
    .divo{
      position:relative;

    }
    .dee{
      position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;    
        }
        #example1 {
    
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;
    display: block
}
#inline {
      display: inline;
    }
    paper-item paper-icon-button{
      pointer-events: none !important;
    }
    paper-item p{
      pointer-events: none !important;
    }
    
   
    </style>

<iron-media-query query="(max-width: 640px)" query-matches="{{smallDevice}}"></iron-media-query>

 
        <div align="left">
       <paper-input label="Busqueda en empleados"  icon=search style="width:12em;"  name="nombre" value="{{busqueda}}" type="search" required ></paper-input>
<!--        <paper-input label="Busqueda en puesto"  icon=search style="width:12em;"  name="nombre" value="{{busquedaPuesto}}" type="search" required ></paper-input>
 -->     
      </div>
   
       
         


<div style="background-color:white; max-height: calc(100vh - 200px) !important; overflow-x: none !important;overflow-y: auto;"> 
<template is="dom-repeat" items="{{arrayEmpleados}}" filter="[[filtroEmpleados(busqueda)]]">
<paper-icon-item style="border-bottom:solid 2px #EEEEEE;">

    <div class="divo" slot="item-icon">
    <div class="avatar" on-click="showDialogImage" style$="background-image:url([[getPhoto(item.image)]])" slot="item-icon">

    </div>
    <iron-icon style$="[[getIcon(item.perfilStatus)]] right: 200" id="mi-imagen-abajo-derecha" icon="icons:verified-user" ></iron-icon>

  </div>
   
   

    <paper-item-body three-line style="min-height: 120px !important; flex-grow: 1000; margin-left:35px; padding:8px; font-weight: 600;text-align: left; width: 100%;">
        <div style="width: 100%;"> [[item.nombreEmpleado]] [[item.aPaternoEmpleado]] [[item.aMaternoEmpleado]]</div>
       <div style="display: flex; flex-wrap: wrap;" secondary>
        <div style$="{{getColorCalificacion(item.calificacion,item.empleadoPlus)}}; margin-right: 10px;"><iron-icon icon="av:equalizer"></iron-icon>[[getCalificacion(item.calificacion,item.empleadoPlus)]]</div>
        <div style="font-weight: 400"><iron-icon icon="icons:work" style="color:#959595"></iron-icon> [[item.puesto.nombre]]</div>

      </div>
      <div secondary style="font-weight: 400"><iron-icon icon="maps:local-phone" style="color:#959595"></iron-icon> [[item.telefonoPrincipal]]</div>

      <template is="dom-if" if="[[smallDevice]]">
        
        <div style="display: flex; text-align: left; align-items: start; justify-content: start;">
        
        <paper-icon-button title="Plus +" src="{{getImage(item.empleadoPlus)}}" on-click="doPlusPerson"></paper-icon-button>
       
        <paper-menu-button dynamic-align style="padding: 0; margin: 0;">
          <paper-icon-button icon="more-vert" style="color: #545454;" slot="dropdown-trigger"></paper-icon-button>
          <paper-listbox selected="0" style="cursor: pointer;" slot="dropdown-content">
            <paper-item   src="../../src/recursos-humanos/rh-images/edit.png" on-click="showDialogSpinner">
            <paper-icon-button title="Editar usuario" src="../../src/recursos-humanos/rh-images/edit.png" ></paper-icon-button><p style="font-weight: 500">Editar</p>
            </paper-item>
            <paper-item  on-click="deletePerson" style$="[[putStyle]]">
        <paper-icon-button title="Eliminar empleado"src="../../src/recursos-humanos/rh-images/eliminar.png"></paper-icon-button><p style="font-weight: 500">Eliminar</p>
            </paper-item>
            <paper-item  on-click="showDialogSpinner3" style$="[[putStyle]]">
                <paper-icon-button title="Editar empleado"src="../../src/recursos-humanos/rh-images/informacion.png"></paper-icon-button><p style="font-weight: 500">Info</p>
          </paper-item>
          </paper-listbox>
        </paper-menu-button>
        <div class="container" style="left:80px;">
            <img id="img"src="[[changeStyle(item.empleadoPlus)]]">
            <div class="center" style="font-weight: bold;font-size: 18px">[[item.calificacion]]</div>
          </div>
      </div>
      </template>
        
    </paper-item-body>
    <template is="dom-if" if="[[!smallDevice]]">
      
    <div class="container">
        <img id="img"src="[[changeStyle(item.empleadoPlus)]]"  width="1000" height="300">
        <div class="center" style="font-weight: bold;font-size: 18px">[[item.calificacion]]</div>
      </div>

    <paper-icon-button title="Plus +" src="{{getImage(item.empleadoPlus)}}" on-click="doPlusPerson"></paper-icon-button>
   
    <paper-menu-button dynamic-align >
      <paper-icon-button icon="more-vert" style="color: #545454;" slot="dropdown-trigger"></paper-icon-button>
      <paper-listbox selected="0" style="cursor: pointer;" slot="dropdown-content">
      <dom-access path="empleados/editar">

        <paper-item   src="../../src/recursos-humanos/rh-images/edit.png" on-click="showDialogSpinner">
        <paper-icon-button title="Editar usuario" src="../../src/recursos-humanos/rh-images/edit.png" ></paper-icon-button><p style="font-weight: 500">Editar</p>
        </paper-item>
        </dom-access>

      <dom-access path="empleados/eliminar">
        <paper-item  on-click="deletePerson" style$="[[putStyle]]">
    <paper-icon-button title="Eliminar empleado"src="../../src/recursos-humanos/rh-images/eliminar.png"></paper-icon-button><p style="font-weight: 500">Eliminar</p>
        </paper-item>
        </dom-access>
      <dom-access path="empleados/informacion">

        <paper-item  on-click="showDialogSpinner3" style$="[[putStyle]]">
            <paper-icon-button title="Editar empleado"src="../../src/recursos-humanos/rh-images/informacion.png"></paper-icon-button><p style="font-weight: 500">Info</p>
      </paper-item>
      </dom-access>
      </paper-listbox>
    </paper-menu-button>
  </template>

   
</paper-icon-item>
  </template>
  </div>

  <paper-dialog id="Image">
    <div class="dee">
      <img src="{{image}}" on-click="cerrar" id="example1"/>
    </div>
       </paper-dialog>

       
<dom-access path="empleados/agregar">
  <paper-fab icon="add" class="blue" on-click="showDialogElement"></paper-fab>
</dom-access>
<dom-access path="empleados/habilitar">

  <paper-fab icon="notification:do-not-disturb-off"class="orange" on-click="showDialogSpinner2"></paper-fab>
</dom-access>



  </template> <!--POLYMER-->
  <script>
    class EmpladosInfo extends CustomClass(Polymer.Element) {
      static get is() { return 'empleados-info'; }
      constructor(){

        super();
        var context=this;
        var db=firebase.firestore();
        
        db.collection("empleados").where("statusBD","==",true)
                          .onSnapshot(function(querySnapshot) {
                            context.splice("arrayEmpleados",0,context.arrayEmpleados.length);
                            querySnapshot.forEach(function(doc) {
                           var documento=doc.data();       
                          documento._key=doc.id;
                          context.push("arrayEmpleados",documento);  

                        });
                    });

           
                
      }
      getFlexDirection(small){
        if(small){
          return "column";
        }
        else return "row";
      }
      _listClicked(e){
        console.log("Target",e.target);
      }
      static get properties()
      {
        return{
          arrayEmpleados:{
            type:Array,
            value:[]
          },
          arrayInactivos:{
            type:Array,value:[]
          },
          test:{
            type:Number,
            value:5
          },
          busquedaPuesto:{
            type:String
          },
          arrayEdicion:{
            type:Array,
            value:[]
          },
          colorCalif:{
            type:String,
            value:"color:red"
          },
          arrayBusqueda:{
            type:Array,
            value:[]
          },
          busqueda:{
            type:String
          },
          nombre:{
            type:String
          },
          edad:{
            type:String
          },
          condicion1:{
            type:Boolean,
            value:false
          },
          condicion2:{
            type:Boolean,
            value:false
          },
          image:{
            type:String
          }

        }
      }
      changeStyle(item){
        if(item==true){
          return "../../src/recursos-humanos/rh-images/medallaPlus.png";
        }
        return "../../src/recursos-humanos/rh-images/medalla.png";
      }

      getIcon(item){
        if(item=="Completo")
        {
          return "color:blue;"
        }
        return "color:grey;"
      }

      showFilter(event){
        
        var context=this;
      
    if(event.target.checked) {
      var a=event.target.value;
      console.log(a);             
      if(a=='Nombre'){
        this.condicion1=!this.condicion1;
      }else
      if(a=='Edad'){
        this.condicion2=!this.condicion2;

      }
    }

   
}

 putStyle(smallDevice){
          if(smallDevice){
              return "position: absolute; left: 40px; top: 40px;";
          }
          return "0px";
      }

      deletePerson(e){
        var id=e.model.get("item._key");
        e.target.closest("paper-menu-button").close();


          PolymerUtils.Dialog.createAndShow(
              {     

                type: "modal",
                element:"modal-deleted",
                    title: "Opciones de eliminación",          
                    style: "width: 400px;",
                    smallStyle: "width: 100% !important;",
                    elementReady:function(element){
                            element.set("_key",id);
                    },
                    positiveButton:{
                        text: "Confirmar",
                        action: function(dialog,element){
                          element.deletingClient(dialog);
              
                        },
                        raised: true,
                        style: "color: white; background-color: var(--paper-blue-700);"
                    },
                    negativeButton:{
                        text: "Cancelar",
                        action: function(dialog,element){
                            dialog.close();
                        }
                    }
                }
            );
          }
          getImage(item){
            if(item==true){
   
              return " src=../../src/recursos-humanos/rh-images/star.png"
            }else{
              return " src=../../src/recursos-humanos/rh-images/star-off.png"

            }

          }

          getImageCalif(item){
            if(item==true){
   
              return " ../../src/recursos-humanos/rh-images/medalla.png"
            }else{
              return " ../src/recursos-humanos/rh-images/medalla.png"

            }

          }

          showDialogFiltro(){
            this.$.modal.open();
          }

           doPlusPerson(e){
             var status=e.model.get("item.empleadoPlus");
             if(status==true)
             {
               this.removePlusPerson(e);
              return;
             }
        var id=e.model.get("item._key");
          PolymerUtils.Dialog.createAndShow(
              {     

                type: "modal",
                element:"modal-plus",
                    title: "¿Deseas convertirlo a PLUS?",          
                    style: "width: 400px;",
                    smallStyle: "width: 100% !important;",
                    elementReady:function(element){
                            element.set("key",id);
                    },
                    positiveButton:{
                        text: "Sí",
                        action: function(dialog,element){
                          element.doPlus();
                          dialog.close();
                        },
                        raised: true,
                        style: "color: white; background-color: var(--paper-blue-700);"
                    },
                    negativeButton:{
                        text: "No",
                        action: function(dialog,element){
                            dialog.close();
                        }
                    }
                }
            );
          }

          removePlusPerson(e){
           
        var id=e.model.get("item._key");
          PolymerUtils.Dialog.createAndShow(
              {     

                type: "modal",
                element:"modal-plus",
                    title: "¿Deseas quitar el PLUS a este empleado?",          
                    style: "width: 400px;",
                    smallStyle: "width: 100% !important;",
                    elementReady:function(element){
                            element.set("key",id);
                    },
                    positiveButton:{
                        text: "Sí",
                        action: function(dialog,element){
                          element.removePlus();
                          dialog.close();
                        },
                        raised: true,
                        style: "color: white; background-color: var(--paper-blue-700);"
                    },
                    negativeButton:{
                        text: "No",
                        action: function(dialog,element){
                            dialog.close();
                        }
                    }
                }
            );
          }

           getColorCalificacion(item,empleado){
              if(empleado==true){
                      return "color:#F9FD01"  
                    }else if(item<=30){
                      return "color:blue"
                    } else if(item>30 && item<=60){

                      return "color:red"
                    }
                    else if(item>60){
                      return "color:green"
                    }
            }

            getCalificacion(item,empleadoPlus){  
              
              if(empleadoPlus==true){
                return "Plus"
              }else
              { if(item<=30){
                return "Nuevo"
                }else
              { if(item>30 && item<=60){
                return "Regular"
              }else
              { if(item>60 )
                return "Bueno"
              }
              } 
              }
            }
               

             getPhoto(imagen) {
                if (imagen) {
                    return imagen;
                }
                return "../rh-images/download.png";
            }//getPhoto
                
                  getValor(item){
                  var total=[];
                  var context=this;
                  for(var i=0;i<item;i++){
                      var o=[];
                      o.push({});
                      total.push(o);
                                }
                        return total;
                                }


          busquedaEmpleados(){
            var id= this.busqueda;
              var proyecto=this.busqueda;
              var db=firebase.firestore();
              var context=this;
              db.collection("eventos").doc(id).collection('empleados')
                    .get()
                .then(function(querySnapshot) {
                  context.splice("arrayBusqueda",0,context.arrayBusqueda.length);
                    querySnapshot.forEach(function(doc) {
                        context.push("arrayBusqueda",doc.data());
                    });
                })
                .catch(function(error) {
                    ////console"Error getting documents: ", error);
                });
            }
            limpiarBusqueda()
      {
        var context=this;
        context.splice("arrayBusqueda",0,context.arrayBusqueda.length)
        this.busqueda="";
      }
                         

      showDialogElement2(e){
        var nombre= e.model.get("item.nombreEmpleado");
        var aPaterno= e.model.get("item.aPaternoEmpleado");
        var aMaterno= e.model.get("item.aMaternoEmpleado");
        var colonia= e.model.get("item.colonia");
        var calle= e.model.get("item.calle");
        var casa= e.model.get("item.numeroCasa");
        var curp= e.model.get("item.curp");
        var email= e.model.get("item.correo");
        var cp= e.model.get("item.cp");
        var telefono= e.model.get("item.telefonoPrincipal");
        var telefono2= e.model.get("item.telefonoSecundario");
        var fechaNacimiento=e.model.get("item.fechaNacimiento");
        var edad=e.model.get("item.edad");
        var sexo=e.model.get("item.sexo.sexo");
        var nacionalidad=e.model.get("item.nacionalidad");
        var puesto=e.model.get("item.puesto.nombre");
        var idCheck=e.model.get("item.idMatutino");
        var image=e.model.get("item.image");
        var credencial=e.model.get("item.credencial");
        var credencialAtras=e.model.get("item.credencialAtras");
        var disponibilidad=e.model.get("item.disponibilidad");





        var id=e.model.get("item._key");

      PolymerUtils.Dialog.createAndShow(
          {     

            type: "modal",
            element:"modal-edicion-usuarios",
                title: "Edición de Usuarios",
                elementReady:function(element){
                            element.set("nombreEmpleado",nombre);
                            element.set("aPaternoEmpleado",aPaterno);
                            element.set("aMaternoEmpleado",aMaterno);
                            element.set("colonia",colonia);
                            element.set("calle",calle);
                            element.set("cp",cp);
                            element.set("telefonoPrincipal",telefono);
                            element.set("key",id);
                            element.set("numeroCasa",casa);
                            element.set("curp",curp);
                            element.set("telefonoSecundario",telefono2);
                            element.set("email",email);
                            element.set("nacionalidad",nacionalidad);
                            element.set("puesto",puesto);
                            element.set("sexo",sexo);
                            element.set("edad",edad);
                            element.set("bday",fechaNacimiento);
                            element.set("idMatutino",idCheck);
                            element.set("imageURL",image);
                            element.set("credencial",credencial);
                            element.set("credencialAtras",credencialAtras);
                            element.set("disponibilidad",disponibilidad);





                          },
                style: "width: 500px;",
                smallStyle: "width: 100% !important;",
                positiveButton:{
                    text: "Actualizar",
                    action: function(dialog,element){
                      element.updatingClient();
                      dialog.close();
                    },
                    raised: true,
                    style: "color: white; background-color: var(--paper-blue-700);"
                },
                negativeButton:{
                    text: "Cancelar Ahora",
                    action: function(dialog,element){
                        dialog.close();
                            }
                      }
                  }
                );
            } 


      showDialogSpinner(e){
        e.target.closest("paper-menu-button").close();
        
         this.showDialogElement2(e)
          PolymerUtils.Dialog.createAndShow(
            {     
              time:1500,
              type: "modal",
              element:"modal-spinner",
              title: "   Cargando...",
              style: "heigth:200px",
              smallStyle: "heigth: 200px !important;",
             }
          );
      } 
      _sort(){
        var arrayEmpleados=this.arrayEmpleados;
        for(var i=0;i<arrayEmpleados.length;i++){
          var err=arrayEmpleados[i];
          var y= err.calificacion;
        }
        var x =y.sort();

        console.log("Valor shorteado",x);
        return x
      }

      filtroEmpleados(input,puesto){
        
        if(input){
          input=input.toLowerCase();
        }

           return function(salida){

           return (input ? (
           (salida.nombreEmpleado ? salida.nombreEmpleado.toLowerCase().indexOf(input)!=-1 : false)
           
               ) : true) || (input ? (
           (salida.aPaternoEmpleado ? salida.aPaternoEmpleado.toLowerCase().indexOf(input)!=-1 : false)
           
               ) : true)|| (input ? (
           (salida.aMaternoEmpleado ? salida.aMaternoEmpleado.toLowerCase().indexOf(input)!=-1 : false)
           
               ) : true);
           };

     }

     


      showDialogSpinner2(e){

         this.showDialogInactive(e)
          PolymerUtils.Dialog.createAndShow(
            {     
              time:1500,
              type: "modal",
              element:"modal-spinner",
              title: "   Cargando...",
              style: "heigth:200px",
              smallStyle: "heigth: 200px !important;",
             }
          );
      } 
      showDialogSpinner3(e){
        e.target.closest("paper-menu-button").close();

         this.showDialogInformation(e)
          PolymerUtils.Dialog.createAndShow(
            {     
              time:1500,
              type: "modal",
              element:"modal-spinner",
              title: "   Cargando...",
              style: "heigth:100px",
              smallStyle: "heigth: 100px !important;",
             }
          );
      } 

       showDialogSpinner4(e){
         var context=this;
         var img=e.model.get("item.image");
         context.set("image",img);
         this.$.Image.open();
      } 
      cerrar()
      {
        this.$.Image.close();
      }

      showDialogInformation(e){
        var disponibilidad=e.model.get("item.disponibilidad");
        console.log("Disponibilidad",disponibilidad);

        var fechaRegistro=e.model.get("item._timestamp");
        var id=e.model.get("item._key");
        var nombre= e.model.get("item.nombreEmpleado");
        var aPaterno= e.model.get("item.aPaternoEmpleado");
        var aMaterno= e.model.get("item.aMaternoEmpleado");
        var colonia= e.model.get("item.colonia");
        var calle= e.model.get("item.calle");
        var casa= e.model.get("item.numeroCasa");
        var curp= e.model.get("item.curp");
        var email= e.model.get("item.correo");
        var cp= e.model.get("item.cp");
        var telefono= e.model.get("item.telefonoPrincipal");
        var telefono2= e.model.get("item.telefonoSecundario");
        var photo= e.model.get("item.image");
        var credencial= e.model.get("item.credencial");
        var sexo=e.model.get("item.sexo");
        var nacionalidad=e.model.get("item.nacionalidad");
        var fechaNacimiento=e.model.get("item.fechaNacimiento");
        var edad=e.model.get("item.edad");
        var sexo=e.model.get("item.sexo.sexo");
        var nacionalidad=e.model.get("item.nacionalidad");
        var credencialAtras=e.model.get("item.credencialAtras");
        var puesto=e.model.get("item.puesto.nombre");






    PolymerUtils.Dialog.createAndShow(
    {     

      type: "modal",
      element:"modal-information",          
          style: "width: 500px;top:10px",
          smallStyle: "width: 100% !important;",
          elementReady:function(element){
                            element.set("idEncontrado",id);
                            element.set("nombreEmpleado",nombre);
                            element.set("aPaternoEmpleado",aPaterno);
                            element.set("aMaternoEmpleado",aMaterno);
                            element.set("colonia",colonia);
                            element.set("calle",calle);
                            element.set("cp",cp);
                            element.set("telefonoPrincipal",telefono);
                            element.set("numeroCasa",casa);
                            element.set("curp",curp);
                            element.set("telefonoSecundario",telefono2);
                            element.set("email",email);
                            element.set("photo",photo);
                            element.set("fechaNacimiento",fechaNacimiento);
                            element.set("nacionalidad",nacionalidad);
                            element.set("sexo",sexo);
                            element.set("edad",edad);
                            element.set("disponibilidad",disponibilidad);
                            element.set("credencial",credencial);
                            element.set("credencialAtras",credencialAtras);
                            element.set("fechaRegistro",fechaRegistro);
                            element.set("puesto",puesto);





          },
          positiveButton:{
              text: "Aceptar",
              action: function(dialog,element){
                  dialog.close();
              },
              raised: true,
              style: "color: white; background-color: var(--paper-blue-700);"
          },
          
             }
          );
      } 

      showDialogInactive(e){
    PolymerUtils.Dialog.createAndShow(
    {     

      type: "modal",
      element:"modal-inactivos",          
          style: "width: 500px;top:10px",
          smallStyle: "width: 100% !important;",
        
          positiveButton:{
              text: "Aceptar",
              action: function(dialog,element){
                  dialog.close();
              },
              raised: true,
              style: "color: white; background-color: var(--paper-blue-700);"
          },
          negativeButton:{
              text: "Cancelar",
              action: function(dialog,element){
                element
                  dialog.close();
                      }
                 }
             }
          );
      } 

       showDialogFiltros(){
    PolymerUtils.Dialog.createAndShow(
        {     

          type: "modal",
          element:"modal-filtros",
              title: "Asigne filtros",
              
              style: "width: 500px;",
              smallStyle: "width: 100% !important;",
              positiveButton:{
                  text: "Aplicar",
                  action: function(dialog,element){
                    element.filtros(dialog);
                    
                                },
                  raised: true,
                  style: "color: white; background-color: var(--paper-blue-700);"
              },
              negativeButton:{
                  text: "Cancelar",
                  action: function(dialog,element){
                      dialog.close();
                          }
                    }
                }
              );
      } 

       filtros(){
        var db=firebase.firestore();
        var edadMinima=this.valorMenor;
        var edadMaxima=this.valorMayor;
        var nombre=this.nombre;
        var context=this;
        db.collection("empleados").where("nombreEmpleado","==",nombre).where("edad", ">", Number(edadMinima)).where("edad","<",Number(edadMaxima))
        
              .get()
              .then(function(querySnapshot) {
                  querySnapshot.forEach(function(doc) {
                      var data = doc.data();
                      context.push("arrayBusqueda",data);
                      console.log(doc.data());

                  });
              })
              .catch(function(error) {
                  console.error("Error getting documents: ", error);
              });

            this.$.modal.close();
      }

     

      showDialogImage(e){
        var image=e.model.get("item.image");
    PolymerUtils.Dialog.createAndShow(
        {     
          type: "with-backdrop",
          element:"show-image",
              
              style: "width: 500px; top:50px",
              smallStyle: "width: 100% !important; max-height: 100%;",
              elementReady:function(element){
                            element.set("image",image);
              },
              negativeButton:{
                  text: "X",
                  action: function(dialog,element){
                      dialog.close();
                      element.cerrar(dialog);
                          }
                    }
              
                }
              );
      } 

       showDialogElement(){
    PolymerUtils.Dialog.createAndShow(
        {     

          type: "modal",
          element:"modal-alta-usuarios",
              title: "Alta de Usuarios",
              
              style: "width: 500px;",
              smallStyle: "width: 100% !important;",
              positiveButton:{
                  text: "Confirmar",
                  action: function(dialog,element){
                    element.saveDataNow(dialog);
                                },
                  raised: true,
                  style: "color: white; background-color: var(--paper-blue-700);"
              },
              negativeButton:{
                  text: "Cancelar Ahora",
                  action: function(dialog,element){
                      dialog.close();
                          }
                    }
                }
              );
      } 
    }
    customElements.define(EmpladosInfo.is, EmpladosInfo);
  </script>
</dom-module>