<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-column.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/bootstrap-styles/bootstrap-styles.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-iconset-svg/iron-iconset-svg.html">








<dom-module id="empleados-example">
  <template> 
      <style include="bootstrap-styles"></style>
    <style>
      :host {
        display: block;
      }
    </style>
	
    Fecha Inicio
    <date-picker value="{{fechaInicio}}"></date-picker>
    Fecha Fin    
    <date-picker value="{{fechaFin}}"></date-picker>

        <paper-button style="color: white; font-weight: 500; font-size: 13px; background-color: var(--paper-blue-800);width:100px;" raised on-click="busquedaEmpleados">
              Consultar
          </paper-button>
        
      <br><br>
        <template is="dom-if" if="{{!hide}}">
        <div class="alert alert-dismissable alert-warning">
            <h4 align="center">
                ¡Aviso!
            </h4> <strong>¡Datos Vacíos!</strong> Debes seleccionar un rango de fechas para ver las estadísticas
        </div>
    </template>
    <template is="dom-if" if="{{hide}}">
        <div class="alert alert-dismissable alert-info">
            <h4 align="center">
                ¡Consulta Generada!
            </h4> Datos consultados del <strong>[[getDateEvent2(fechaInicio)]]</strong> al <strong>[[getDateEvent2(fechaFin)]]</strong> 
              <br><p style="font-size: 14px"align="center">
                  <strong>¡Ya puedes generar el Excel de los datos (Se encuentra en la parte inferior de la tabla)!</strong>

              </p>
        </div>
    </template>

<paper-dialog id="actions" style="min-width: 400px;">
        <h2>Reportes Negativos</h2>
    <template is="dom-repeat" items="[[arrayNeg]]"> 
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-group">
                                 <a  class="list-group-item list-group-item-danger active">Reporte Negativo</a>
                               
                                <div class="list-group-item">
                                   
                                            Descripcion: [[item.reporte.descripcion]]<br>
                                            Comentario General: [[item.comentario]]<br>
                                            Evento: [[item.evento.nombre]]<br>
                                            Fecha: [[getDate(item._timestamp)]]                                

                                   
                                </div>
                             </div>
                        </div>
                    </div>
                </div>


    </template>

           <div class="buttons">
          <paper-button dialog-confirm autofocus>Aceptar</paper-button>
        </div>
      </paper-dialog>
      

      <paper-dialog id="actionsPositivos">
            <h2>Reportes Positivos</h2>
        <template is="dom-repeat" items="[[arrayPosit]]"> 
                <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="list-group">
                                     <a  class="list-group-item list-group-item-success active">Reporte Positivo</a>
                                   
                                    <div class="list-group-item">
                                       
                                                Descripcion: [[item.reporte.descripcion]]<br>
                                                Comentario General: [[item.comentario]]<br>
                                                Evento: [[item.evento.nombre]]<br>
                                                Fecha: [[getDate(item._timestamp)]]                                

                                       
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
            
    
    
        </template>
    
               <div class="buttons">
              <paper-button dialog-confirm autofocus>Aceptar</paper-button>
            </div>
          </paper-dialog>


    <vaadin-grid theme="row-dividers" items="[[empleadosDirecto]]" column-reordering-allowed multi-sort>

            <!--  <vaadin-grid-selection-column auto-select frozen> </vaadin-grid-selection-column>
            -->
              
              <vaadin-grid-column width="9em">
              <template class="header">
                  <vaadin-grid-sorter path="nombreEmpleado">Nombre</vaadin-grid-sorter>
              </template>
              <template>
                  <div>[[item.nombreEmpleado]] [[item.aPaternoEmpleado]] [[item.aMaternoEmpleado]]</div>
      
              </template>
              </vaadin-grid-column>

              <vaadin-grid-column width="9em">
                    <template class="header">
                        <vaadin-grid-sorter path="puesto.nombre">Puesto</vaadin-grid-sorter>
                    </template>
                    <template>
                        <div>[[item.puesto.nombre]]</div>
            
                    </template>
                    </vaadin-grid-column>
               
              <vaadin-grid-column width="3em">
                    <template class="header">
                        <vaadin-grid-sorter path="calificacion">Nivel</vaadin-grid-sorter>
                    </template>
                    <template>
                        <div style$="[[changeColor(item.calificacion,item.empleadoPlus)]]">[[getCalificacion(item.calificacion,item.empleadoPlus)]]</div>
                    </template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="3em">
                        <template class="header">
                            <vaadin-grid-sorter path="calificacion">Calificación</vaadin-grid-sorter>
                        </template>
                        <template>
                            <div >[[item.calificacion]]</div>
                        </template>
                        </vaadin-grid-column>
                    
                     
              
      
              <vaadin-grid-column width="3em">
              <template class="header">
                  <vaadin-grid-sorter path="cantidadPositivos">Positivos</vaadin-grid-sorter>
              </template>
              <template><div on-click="showPositivos">[[getReportesPositivos(item,reportes.splices)]]</div></template>
              <template class="footer">
                    [[totalesFinalesPositivos(item,empleadosDirecto.*)]]
                  </template>  
            </vaadin-grid-column>
      
              <vaadin-grid-column width="3em">
              <template class="header">
                  <vaadin-grid-sorter path="cantidadNegativos" >Negativos</vaadin-grid-sorter>
              </template>
              <template><div on-click="totalEventos">[[getReportesNegativos(item,reportes.splices)]]</div></template>
              <template class="footer">
                    [[totalesFinalesNegativos(item,empleadosDirecto.*)]]
                  </template>  
            
            </vaadin-grid-column>

              <vaadin-grid-column width="3em">
                <template class="header">
                    <vaadin-grid-sorter path="totalAsistencia">Asistencias</vaadin-grid-sorter>
                </template>
                <template>[[getTotalAsistencias(item,arrayAsistencias.splices)]]</template>
                <template class="footer">
                        [[totalesFinales(item,empleadosDirecto.*)]]
                      </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="3em">
                        <template class="header">
                            <vaadin-grid-sorter path="totalRechazados">Rechazados</vaadin-grid-sorter>
                        </template>
                        <template>[[getTotalRechazados(item,arrayAsistencias.splices)]]</template>
                        <template class="footer">
                                [[totalesFinalesRechazados(item,empleadosDirecto.*)]]
                              </template>  
                        </vaadin-grid-column>

        <vaadin-grid-column width="3em">
                <template class="header">
                    <vaadin-grid-sorter path="totalFaltas">Faltas</vaadin-grid-sorter>
                </template>
                <template>[[getTotalFaltas(item,arrayAsistencias.splices)]]</template>
                <template class="footer">
                        [[totalesFinalesFaltas(item,empleadosDirecto.*)]]
                      </template>  
                </vaadin-grid-column>

                 <vaadin-grid-column width="3em">
                <template class="header">
                    <vaadin-grid-sorter path="totalEventos">Eventos</vaadin-grid-sorter>
                </template>
                <template>[[getTotalEventos(item,reportes.splices)]]</template>
                <template class="footer">
                        [[totalesFinalesEventos(item,empleadosDirecto.*)]]
                      </template>  
                </vaadin-grid-column> 

        
          </vaadin-grid>

    <template is="dom-if" if="{{hide}}">
          <div align="center">
          <paper-button style="color: white; font-weight: 500; font-size: 13px; background-color: var(--paper-green-800);width:100px;" raised on-click="exportToExcel">
                <iron-icon style="margin-right: 6px; " src="../images/excel2.svg"></iron-icon>
                Exportar
            </paper-button>
        </div>
        </template>

       
  </template>
 
 

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmpleadosExample extends Polymer.Element {
      static get is() { return 'empleados-example'; }
      static get properties() {
        return {
            empleadosDirecto:{
                type:Array,
                notify:true,
                value:[]
            },
            hide:{
                type:Boolean,
                value:false
            },
            fechaInicio:{
                type:Date
            },
            fechaFin:{
                type:Date
            },
            empleados:{
                type:Array,
                notify:true,
                value:[]
            },
            reportes:{
                type:Array,
                notify:true,
                value:[]
            },
            arrayNeg:{
                type:Array,
                value:[]
            },
            arrayPosit:{
                type:Array,
                value:[]
            },
            arrayAsistencias:{
                type:Array,
                value:[]
            },
            asist:{
                type:Array,
                notify:true,
                value:[]
            }
        };
      }

      
      static get observers(){
          return [

              "_reportesChanged(reportes.splices)"
/*              "_fechasChanged(fechaInici,fechaFin)"
 */          ];
      }

        changeColor(item,empleado){
              if(empleado==true){
                      return "color:#F9FD01"  
                    }else if(item<=30){
                      return "color:blue"
                    } else if(item>30 && item<=60){

                      return "color:red"
                    }
                    else if(item>60){
                      return "color:green"
                    }
            }


      getDate(item){
        
        var x = item.toDate();
        console.log(x);
        var dia=x.getDate();
        var mes=x.getMonth()+1;
        var año=x.getFullYear();
        var horas=x.getHours();
        var minutes=x.getMinutes();
        var seconds= x.getSeconds();
        var total = dia+"/"+mes+"/"+año;
        var th=horas+":"+minutes+":"+seconds;
        return total+"   "+th;
      }
      getDateEvent(items){
        var item = new Date(items); 
        var dia=item.getDate();
        var mes=item.getMonth()+1;
        var año=item.getFullYear();
        var horas=item.getHours();
        var minutes=item.getMinutes();
        var seconds= item.getSeconds();
        var total = dia+"/"+mes+"/"+año;
        var th=horas+":"+minutes+":"+seconds;
        return total+"   "+th;
      }
      getDateEvent2(items){
        var item = new Date(items); 
        var dia=item.getDate();
        var mes=item.getMonth()+1;
        var año=item.getFullYear();
        var horas=item.getHours();
        var minutes=item.getMinutes();
        var seconds= item.getSeconds();
        var total = dia+"/"+mes+"/"+año;
        var th=horas+":"+minutes+":"+seconds;
        return total;
      }


     /*  _fechasChanged(fecha1,fecha2){
          this.busquedaEmpleados();
      } */
     
    
      _reportesChanged(){
          var reportes=this.reportes;
          if(!reportes){
              return;
          }
          var empleadosMap={};
          for (var counter=0;counter<this.reportes.length;counter++){
                var rep=this.reportes[counter];

                
                if(rep.empleado){
                    if(!empleadosMap[rep.empleado.empleadoId]){
                                var toAdd=rep.empleado;
                                toAdd.cantidadPositivos=0;
                                toAdd.cantidadNegativos=0;
                                toAdd.totalEventos=0;
                                empleadosMap[rep.empleado.empleadoId]=toAdd;
                            }
                            
                    
                        var emp=empleadosMap[rep.empleado.empleadoId];
                        if(emp){
                            if(rep.evento.eventoId){
                                empleadosMap[emp.empleadoId].totalEventos+=1;

                            }
                            
                            if(rep.reporte.tipoReporte.tipo=="positivo"){
                                empleadosMap[emp.empleadoId].cantidadPositivos+=1;
                            }
                            else if(rep.reporte.tipoReporte.tipo=="negativo"){

                                empleadosMap[emp.empleadoId].cantidadNegativos+=1;
                            }
                            
                        }
                        else{
                            console.error("El empleado por alguna razón no existe aún");

                        }

                    
                    
                }
                
          }

          
          var empleadosArray=this._convertObjectToArray(empleadosMap);
          this.set("empleados",empleadosArray);




      }

        getCalificacion(item,empleadoPlus){  
              
              if(empleadoPlus==true){
                return "Plus"
              }else
              { if(item<=30){
                return "Nuevo"
                }else
              { if(item>30 && item<=60){
                return "Regular"
              }else
              { if(item>60 )
                return "Bueno"
              }
              } 
              }
            }

             getTotalAsistencias(empleado){
                 
        if(!this.arrayAsistencias || !empleado){
              return 0;
          }
          var sumaAsistencias=0;
        
          for(var i=0;i<this.arrayAsistencias.length;i++){
              var asistencia=this.arrayAsistencias[i];
              //console.log("Asistencia",asistencia.empleado.empleadoId,empleado._key);
              if(asistencia.asistencia==true && asistencia.empleado )
              if(asistencia.empleado.empleadoId==empleado._key){
                  sumaAsistencias+=1;
              }
          }
      //    console.log(sumaAsistencias+" Sumando asistencias de empleado",empleado,this.arrayAsistencias);
        

        
          this.set("empleadosDirecto."+this.empleadosDirecto.indexOf(empleado)+".totalAsistencia",sumaAsistencias);    
            return sumaAsistencias;

      } 

        getTotalRechazados(empleado){
                 
                 if(!this.arrayAsistencias || !empleado){
                       return 0;
                   }
                   var sumaRechazados=0;
                 
                   for(var i=0;i<this.arrayAsistencias.length;i++){
                       var asistencia=this.arrayAsistencias[i];
                       //console.log("Asistencia",asistencia.empleado.empleadoId,empleado._key);
                       if(asistencia.rechazado==true && asistencia.empleado )
                       if(asistencia.empleado.empleadoId==empleado._key){
                        sumaRechazados+=1;
                       }
                   }
               //    console.log(sumaAsistencias+" Sumando asistencias de empleado",empleado,this.arrayAsistencias);
                 
         
                 
                   this.set("empleadosDirecto."+this.empleadosDirecto.indexOf(empleado)+".totalRechazados",sumaRechazados);    
                     return sumaRechazados;
         
               } 

               getTotalFaltas(empleado){
                 
                 if(!this.arrayAsistencias || !empleado){
                       return 0;
                   }
                   var sumaFaltas=0;
                 
                   for(var i=0;i<this.arrayAsistencias.length;i++){
                       var asistencia=this.arrayAsistencias[i];
                       //console.log("Asistencia",asistencia.empleado.empleadoId,empleado._key);
                       if(asistencia.confirmado==true && asistencia.asistencia==false && asistencia.empleado )
                       if(asistencia.empleado.empleadoId==empleado._key){
                        sumaFaltas+=1;
                       }
                   }
               //    console.log(sumaAsistencias+" Sumando asistencias de empleado",empleado,this.arrayAsistencias);
                 
         
                 
                   this.set("empleadosDirecto."+this.empleadosDirecto.indexOf(empleado)+".totalFaltas",sumaFaltas);    
                     return sumaFaltas;
         
               } 

                  getTotalEventos(empleado){
                 
                 if(!this.arrayAsistencias || !empleado){
                       return 0;
                   }
                   var sumaEventos=0;
                 
                   for(var i=0;i<this.arrayAsistencias.length;i++){
                       var asistencia=this.arrayAsistencias[i];
                       //console.log("Asistencia",asistencia.empleado.empleadoId,empleado._key);
                       if(asistencia.asistencia==true && asistencia.empleado )
                       if(asistencia.empleado.empleadoId==empleado._key){
                        sumaEventos+=1;
                       }
                   }
               //    console.log(sumaAsistencias+" Sumando asistencias de empleado",empleado,this.arrayAsistencias);
                 
         
                 
                   this.set("empleadosDirecto."+this.empleadosDirecto.indexOf(empleado)+".totalEventos",sumaEventos);    
                     return sumaEventos;
         
               } 
         
             
         
         

      getCantidadReportes(empleado){
        if(!this.reportes || !empleado){
              return 0;
          }
          var sumaReportes=0;
          PolymerUtils.iterateArray(this.reportes,function(reporte){
             if(reporte.empleado.empleadoId==empleado._key){
                  sumaReportes+=1;
              }
          });

        
          this.set("empleadosDirecto."+this.empleadosDirecto.indexOf(empleado)+".totalEventos",sumaReportes);    


      } 



      getReportes(empleado,tipo){
        if(!this.reportes || !empleado){
              return 0;
          }
          var sumaReportes=0;
          PolymerUtils.iterateArray(this.reportes,function(reporte){
             if(reporte.empleado.empleadoId==empleado._key &&
                  reporte.reporte.tipoReporte.tipo==tipo){
                  sumaReportes+=1;
              }
          });

          return sumaReportes;
      }

      
      getReportesPositivos(empleado){
          var cantidadReportes=this.getReportes(empleado,"positivo");
          if(empleado){
            this.set("empleadosDirecto."+this.empleadosDirecto.indexOf(empleado)+".cantidadPositivos",cantidadReportes);    
          }
          return cantidadReportes;
      }



      getReportesNegativos(empleado){
        var cantidadReportes=this.getReportes(empleado,"negativo");
          if(empleado){
            this.set("empleadosDirecto."+this.empleadosDirecto.indexOf(empleado)+".cantidadNegativos",cantidadReportes);    
          }
          return cantidadReportes;
      }

      totalesFinales(){
          var contadorAsistencia=0;       
          var asistencia;
          var array=this.empleadosDirecto;
          for(var i=0;i<array.length;i++){
              var totales=array[i];
              asistencia=totales.totalAsistencia;

              contadorAsistencia=asistencia+contadorAsistencia;
          }
          return contadorAsistencia;
      }
      totalesFinalesNegativos(){
          var contadorAsistencia=0;       
          var asistencia;
          var array=this.empleadosDirecto;
          for(var i=0;i<array.length;i++){
              var totales=array[i];
              asistencia=totales.cantidadNegativos;

              contadorAsistencia=asistencia+contadorAsistencia;
          }
          return contadorAsistencia;
      }
      totalesFinalesPositivos(){
          var contadorAsistencia=0;       
          var asistencia;
          var array=this.empleadosDirecto;
          for(var i=0;i<array.length;i++){
              var totales=array[i];
              asistencia=totales.cantidadPositivos;

              contadorAsistencia=asistencia+contadorAsistencia;
          }
          return contadorAsistencia;
      }
      totalesFinalesRechazados(){
          var contadorAsistencia=0;       
          var asistencia;
          var array=this.empleadosDirecto;
          for(var i=0;i<array.length;i++){
              var totales=array[i];
              asistencia=totales.totalRechazados;

              contadorAsistencia=asistencia+contadorAsistencia;
          }
          return contadorAsistencia;
      }
      totalesFinalesEventos(){
          var contadorAsistencia=0;       
          var asistencia;
          var array=this.empleadosDirecto;
          for(var i=0;i<array.length;i++){
              var totales=array[i];
              asistencia=totales.totalEventos;

              contadorAsistencia=asistencia+contadorAsistencia;
          }
          return contadorAsistencia;
      }
      totalesFinalesFaltas(){
          var contadorAsistencia=0;       
          var asistencia;
          var array=this.empleadosDirecto;
          for(var i=0;i<array.length;i++){
              var totales=array[i];
              asistencia=totales.totalFaltas;

              contadorAsistencia=asistencia+contadorAsistencia;
          }
          return contadorAsistencia;
      }

      _convertObjectToArray(object){
/*           console.log("Object to convert",object);
 */          var keys=Object.keys(object);
          var array=[];
          for(var i=0;i<keys.length;i++){
              var item=object[keys[i]];
              array.push(item);
          }
          return array;
      }

       _convertObjectToArrayAsist(object){
          console.log("Objeto de Asistencia",object);
          var keys=Object.keys(object);
          var array2=[];
          for(var i=0;i<keys.length;i++){
              var item=object[keys[i]];
              array2.push(item);
          }
          return array2;
      }




      constructor(){
          super();
          var context=this;
        /*   firebaseHelper.queryCollection(this,
          {"collection":"reportes",
          "callback":function(back){
              console.log("Success reading",back);
          },    
          "error":function(err){
              console.error("Error reading reportes",err);
          },
           "array":this.reportes,
           "arrayName":"reportes"});

         

           firebaseHelper.queryCollection(this,{"collection":"asistencias",
          "array":this.arrayAsistencias,
          "arrayName":"arrayAsistencias"});

            context.splice("arrayAsistencias",0,context.arrayAsistencias.length);
            context.splice("reportes",0,context.reportes .length); */

           firebaseHelper.queryCollection(this,{"collection":"empleados",
          "array":this.empleadosDirecto,
          "arrayName":"empleadosDirecto"});
           
      }

   

          busquedaEmpleados(){
            var context=this;
            var fechaInicio=this.fechaInicio;
            var fechaFin=this.fechaFin;
            if(fechaInicio=="" || fechaInicio==null || fechaFin=="" || fechaFin==null){
              PolymerUtils.Toast.show("¡Error!, No seleccionaste un rango de fechas");
              return;
                
            }

            var arregloFull=[];
            var arregloFulli=[];


            var empleadosDirecto=this.empleadosDirecto;
            var start = new Date(fechaInicio);
            var end = new Date(fechaFin);
            var db=firebase.firestore();

              db.collection("asistencias").where("evento.fechaEvento",">",start).where("evento.fechaEvento","<=",end)
                    .get()
                    .then(function(querySnapshot) {
                        console.log(querySnapshot);

                        querySnapshot.forEach(function(doc) {
                            var dataFulli = doc.data();
                            //context.push("array",{datos:data});
                            arregloFulli.push(dataFulli);


                        });
                        context.set("arrayAsistencias",arregloFulli );

                    })
                    .catch(function(error) {
                        console.log("Error getting documents: ", error);
                    }); 
          


             db.collection("reportes").where("evento.fecha",">",start).where("evento.fecha","<=",end)
                    .get()
                    .then(function(querySnapshot) {


                        querySnapshot.forEach(function(doc) {
                            var dataFull = doc.data();
                            //context.push("array",{datos:data});
                            arregloFull.push(dataFull);


                        });
                        context.set("reportes",arregloFull);


                    })
                    .catch(function(error) {
                        console.log("Error getting documents: ", error);
                    }); 

                    this.hide=!this.hide;
            }

                  
          totalEventos(e){
              var can2=e.model.get("item.cantidadNegativos");

              if(can2==0){
                  return;
              }
            var id=e.model.get("item._key");
            var positivo="negativo";
            var context=this;
            var db=firebase.firestore();
            var total=[];
          

            var ref=db.collection("reportes").where("empleado.empleadoId","==",id).where("reporte.tipoReporte.tipo","==","negativo")
                    .get()
                    .then(function(querySnapshot) {

                        querySnapshot.forEach(function(doc) {
                            var dataFull = doc.data();
                            total.push(dataFull);


                        });
                        context.set("arrayNeg",total);



                    })
                    .catch(function(error) {
                        console.log("Error getting documents: ", error);
                    });
                    this.$.actions.open();
            
            }

            showPositivos(e){
                var can2=e.model.get("item.cantidadPositivos");

                    if(can2==0){
                        return;
                    }
            var id=e.model.get("item._key");
            var context=this;
            var db=firebase.firestore();
            var total=[];
          

            var ref=db.collection("reportes").where("empleado.empleadoId","==",id).where("reporte.tipoReporte.tipo","==","positivo")
                    .get()
                    .then(function(querySnapshot) {

                        querySnapshot.forEach(function(doc) {
                            var dataFull = doc.data();
                            total.push(dataFull);
                            


                        });
                        context.set("arrayPosit",total);



                    })
                    .catch(function(error) {
                        console.log("Error getting documents: ", error);
                    });
                    this.$.actionsPositivos.open();
            
            }

            
          filtroEmpleado(e){
            var id=e.model.get("item._key");
            var positivo="positivo";
            var context=this;
            var db=firebase.firestore();
            var total=[];
          


            var ref=db.collection("reportes").where("empleado.empleadoId","==",id)
                    .get()
                    .then(function(querySnapshot) {

                        querySnapshot.forEach(function(doc) {
                            var dataFull = doc.data();
                            total.push(dataFull);


                        });
                        context.set("arrayNeg",total);



                    })
                    .catch(function(error) {
                        console.log("Error getting documents: ", error);
                    });
                    this.$.actions.open();

            }
            getCalificacion(item,empleadoPlus){  
              
              if(empleadoPlus==true){
                return "Plus"
              }else
              { if(item<=30){
                return "Nuevo"
                }else
              { if(item>30 && item<=60){
                return "Regular"
              }else
              { if(item>60 )
                return "Bueno"
              }
              } 
              }
            }

       


         exportToExcel()
                  {
              
            var excel = $JExcel.new("Calibri light 10 #333333");
            var fechaInicio=this.getDateEvent2(this.fechaInicio);
            var fechaFin=this.getDateEvent2(this.fechaFin);


			
			excel.set( {sheet:0,value:"Reporte" } );
      var titleFormat = excel.addStyle ( { 																// Format for date cells
					font: "Arial 18 #F9C627 bold"}); 
          var fechaFormat1 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 11 #051585 bold"});
                    var fechaFormat2 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 11 #051585 bold"}); 
          var fechaResult = excel.addStyle ( { 																// Format for date cells
					font: "Arial 11 #2E86C1 bold"}); 
          var fechaResult1 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 11 #2E86C1 bold"}); 
          var generacion = excel.addStyle ( { 																// Format for date cells
                    font: "Arial 15 #FFC300 bold"}); 
            
            excel.set(0,0,0,"Reporte de Empleados",titleFormat);
			excel.set(0,0,1,"Fecha Inicio:",fechaFormat1);
			excel.set(0,1,1,fechaInicio,fechaResult);
			excel.set(0,0,2,"Fecha Fin:",fechaFormat2);
			excel.set(0,1,2,fechaFin,fechaResult1);



            


	
			var arri=this.empleadosDirecto;

			
			var evenRow=excel.addStyle ( { 																	// Style for even ROWS
				border: "none,none,none,thin #FFFFF"});													// Borders are LEFT,RIGHT,TOP,BOTTOM. Check $JExcel.borderStyles for a list of valid border styles

			var oddRow=excel.addStyle ( { 																	// Style for odd ROWS
				border: "none,none,none,thin #FFFFF B"}); 
			
			
			for (var i=2;i<=arri.length;i++) excel.set({row:i,style: i%2==0  });					// Set style for the first 50 rows
/* 			excel.set({row:3,value: 30  });																	// We want ROW 3 to be EXTRA TALL
 */ 
			var headers=["Nombre","Puesto","Nivel","Calificacion","Positivos","Negativos","Asistencias","Rechazados","Faltas","Eventos"];			// This array holds the HEADERS text
			var formatHeader=excel.addStyle ( { 															// Format for headers
        border: "none,none,none,thin #333333",													// 		Border for header
					font: "Calibri 15 #0FCCCC"}); 														// 		Font for headers

			for (var i=0;i<headers.length;i++){																// Loop all the haders
				excel.set(0,i,3,headers[i],formatHeader);													// Set CELL with header text, using header format
				excel.set(0,i,undefined,"auto");															// Set COLUMN width to auto (according to the standard this is only valid for numeric columns)
			}
			
			
			var dateStyle = excel.addStyle ( { 																// Format for date cells
															// 		using DATE mask, Check $JExcel.formats for built-in formats or provide your own 
					font: "Arial 10",formatHeader}); 
          var dateStyle1 = excel.addStyle ( { 																// Format for date cells
															// 		using DATE mask, Check $JExcel.formats for built-in formats or provide your own 
					font: "Arial 10 #000000"}); 
          var bodyStyle = excel.addStyle ( { 																// Format for date cells
					font: "Arial 10 #000000"}); 
          var bodyStyle1 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 10 #000000"}); 
          var bodyStyle2 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 10 #000000"}); 
          var bodyStyle3 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 10 #000000"}); 
          var bodyStyle4 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 10 #000000"}); 
          var bodyStyle5 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 10 #000000"});
                    var bodyStyle6 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 10 #000000"}); 
                    var bodyStyle7 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 10 #000000"}); 
                    var bodyStyle8 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 10 #000000"}); 
                    var bodyStyle9 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 10 #000000"}); 
                    var bodyStyle10 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 10 #000000"}); 
                    var bodyStyle11= excel.addStyle ( { 																// Format for date cells
                    font: "Arial 10 #000000"});
                    var bodyStyle190= excel.addStyle ( { 																// Format for date cells
					font: "Arial 12 #0E2CFF"});  
          var faltasStyle = excel.addStyle ( { 																// Format for date cells
															// 		using DATE mask, Check $JExcel.formats for built-in formats or provide your own 
					font: "Arial 15 #e60000"}); 		
          																// 		in color green
			var array=[];
      var total=[];
      var context=this;
      array=this.empleadosDirecto;
			for (var i=0;i<array.length;i++){		
      	
        var objeto=array[i];
        excel.set({column:0,value: 25  });		
        excel.set(0,i+4,undefined,"auto");															// This column is a TEXT
			excel.set(0,0,i+4,objeto.nombreEmpleado+" "+objeto.aPaternoEmpleado+" "+objeto.aMaternoEmpleado,bodyStyle,"auto");	
			excel.set(0,1,i+4,objeto.puesto.nombre,bodyStyle1);												// Store the random date as STRING
            excel.set(0,2,i+4,this.getCalificacion(objeto.calificacion,objeto.empleadoPlus),bodyStyle2);
            excel.set(0,3,i+4,objeto.calificacion,bodyStyle3);	
            excel.set(0,4,i+4,objeto.cantidadPositivos,bodyStyle4);	
            excel.set(0,5,i+4,objeto.cantidadNegativos,bodyStyle5);
/* 	        excel.set(0,5,i+6,this.totalesFinalesNegativos(objeto.cantidadNegativos),bodyStyle4);	         
 */            	
	        excel.set(0,6,i+4,objeto.totalAsistencia,bodyStyle6);	
	        excel.set(0,7,i+4,objeto.totalRechazados,bodyStyle7);	
	        excel.set(0,8,i+4,objeto.totalFaltas,bodyStyle8);
	        excel.set(0,9,i+4,objeto.totalEventos,bodyStyle9);										// Store the random date as STRING
            								
					
      }

 
		
				
     
		    excel.generate("reporte-empleados.xlsx");
                  }

                       
                   

      
    }

    window.customElements.define(EmpleadosExample.is, EmpleadosExample);
  </script>
</dom-module>
