

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<script type="text/javascript" src="../../scripts/myexcel.js"></script>
<script type="text/javascript" src="../../scripts/jszip.js"></script>
<script type="text/javascript" src="../../scripts/FileSaver.js"></script>




<dom-module id="export-excel">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-spinner {
   width: 35px;
   height: 35px;
}
    </style>


<paper-button style="color: white; font-weight: 500; font-size: 13px; background-color: var(--paper-green-800);width:100px;" raised on-click="exportToExcel">
    <iron-icon style="margin-right: 6px; " src="../images/excel2.svg"></iron-icon>
    Exportar
</paper-button>
  </template>
 
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ExportExcel extends DialogLayoutClass(CustomClass(Polymer.Element)) {
      static get is() { return 'export-excel'; }
      constructor(){

          super();
          var context=this;
          var db=firebase.firestore();

          db.collection("empleados").where("statusBD","==",true)
                            .onSnapshot(function(querySnapshot) {
                              context.splice("arrayEmpleados",0,context.arrayEmpleados.length);
                              querySnapshot.forEach(function(doc) {
                            var documento=doc.data();       
                            documento._key=doc.id;
                            context.push("arrayEmpleados",documento);  
                          });
                      });
                  
          }
      static get properties() {
        return {
          number:{
              type:Number,
              notify:true,
              value: 2929
          },
          nombreEmpleado:{
            type:String
          },
          aPaternoEmpleado:{
            type:String
          },
          aMaternoEmpleado:{
            type:String
          },
          calle:{
            type:String
          },
          colonia:{
            type:String
          },
          numeroCasa:{
            type:Number
          },
          cp:{
            type:String
          },
          arrayEmpleados:{
            type:Array,
            value:[]
          },
          telefonoPrincipal:{
            type:String
          },
          test:{
            type:String
          }
        };
      }

       exportToExcel()
                  {
              
		    var excel = $JExcel.new("Calibri light 10 #333333");			// Default font

        var actual = new Date();
                    var dia=actual.getDate();
                    var mes= actual.getMonth();
                    var año = actual.getFullYear();
                    var hora=actual.getHours();
                    var minutes = actual.getMinutes();
                    var seconds=actual.getSeconds();
                    var total= dia+"/"+mes+"/"+año+" "+hora+":"+minutes+":"+seconds;	
			
			excel.set( {sheet:0,value:"Nómina Semanal" } );
      var fechaFormat = excel.addStyle ( { 																// Format for date cells
					font: "Arial 15 #000000 bold"}); 
          var fechaFormat1 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 15 #000000 bold"}); 
          var fechaResult = excel.addStyle ( { 																// Format for date cells
					font: "Arial 15 #2E86C1 bold"}); 
          var fechaResult1 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 15 #2E86C1 bold"}); 
          var generacion = excel.addStyle ( { 																// Format for date cells
					font: "Arial 15 #FFC300 bold"}); 

		/* 	var fecha1=this.fechaInicioNomina;
      var fecha2=this.fechaFinNomina;
			excel.set(0,0,0,"Nómina del:",fechaFormat);
			excel.set(0,1,0,fecha1,fechaResult);

      excel.set(0,2,0,"al",fechaFormat1);			
			excel.set(0,3,0,fecha2,fechaResult1);
      excel.set(0,6,0,"Documento Generado:"+total,generacion);
 */
			

			
			var evenRow=excel.addStyle ( { 																	// Style for even ROWS
				border: "none,none,none,thin #333333"});													// Borders are LEFT,RIGHT,TOP,BOTTOM. Check $JExcel.borderStyles for a list of valid border styles

			var oddRow=excel.addStyle ( { 																	// Style for odd ROWS
				fill: "#ECECEC" , 																			// Background color, plain #RRGGBB, there is a helper $JExcel.rgbToHex(r,g,b)
				border: "none,none,none,thin #333333"}); 
			
			
			for (var i=1;i<50;i++) excel.set({row:i,style: i%2==0 ? evenRow: oddRow  });					// Set style for the first 50 rows
			excel.set({row:3,value: 30  });																	// We want ROW 3 to be EXTRA TALL
 
			var headers=["ID","Nombre","Puesto","Calificacion","STatus"];			// This array holds the HEADERS text
			var formatHeader=excel.addStyle ( { 															// Format for headers
        border: "none,none,none,thin #333333",													// 		Border for header
					font: "Calibri 18 #0000AA B bold"}); 														// 		Font for headers

			for (var i=0;i<headers.length;i++){																// Loop all the haders
				excel.set(0,i,1,headers[i],formatHeader);													// Set CELL with header text, using header format
				excel.set(0,i,undefined,"auto");															// Set COLUMN width to auto (according to the standard this is only valid for numeric columns)
			}
			
			
			// Now let's write some data
			var initDate = new Date(2000, 0, 1);
			var endDate = new Date(2016, 0, 1);
			var dateStyle = excel.addStyle ( { 																// Format for date cells
															// 		using DATE mask, Check $JExcel.formats for built-in formats or provide your own 
					font: "Arial 15 #00AA00"}); 
          var dateStyle1 = excel.addStyle ( { 																// Format for date cells
															// 		using DATE mask, Check $JExcel.formats for built-in formats or provide your own 
					font: "Arial 15 #00AA00"}); 
          var bodyStyle = excel.addStyle ( { 																// Format for date cells
					font: "Arial 15 #000000"}); 
          var bodyStyle1 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 15 #000000"}); 
          var bodyStyle2 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 15 #000000"}); 
          var bodyStyle3 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 15 #000000"}); 
          var bodyStyle4 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 15 #000000"}); 
          var bodyStyle5 = excel.addStyle ( { 																// Format for date cells
					font: "Arial 15 #000000"}); 
          var faltasStyle = excel.addStyle ( { 																// Format for date cells
															// 		using DATE mask, Check $JExcel.formats for built-in formats or provide your own 
					font: "Arial 15 #e60000"}); 		
          																// 		in color green
			var array=[];
      var total=[];
      var context=this;
      array=this.arrayEmpleados;
			for (var i=0;i<array.length;i++){		
      	
        var objeto=array[i];
       
				
        excel.set(0,i+2,undefined,"auto");															// This column is a TEXT
				excel.set(0,0,i+2,objeto._key,bodyStyle);	
        											// Store the 
				excel.set(0,1,i+2,objeto.nombreEmpleado+" "+objeto.aPaternoEmpleado+" "+objeto.aMaternoEmpleado,bodyStyle1);												// Store the random date as STRING
        excel.set(0,2,i+2,objeto.puesto.nombre,bodyStyle2);
        excel.set(0,3,i+2,objeto.calificacion,bodyStyle3);	
				excel.set(0,3,i+2,objeto.perfilStatus,bodyStyle4);												// Store the random date as STRING
        											// Store the random date as STRING
        												// Store the random date as STRING
					
      }


		
					
    var timestamp= firebase.firestore.FieldValue.serverTimestamp();
         var actual = new Date();
                    var dia=actual.getDate();
                    var mes= actual.getMonth();
                    var año = actual.getFullYear();
                    var hora=actual.getHours();
                    var minutes = actual.getMinutes();
                    var seconds=actual.getSeconds();
                    var total= dia+"/"+mes+"/"+año+" "+hora+":"+minutes;
     
		    excel.generate("reporte-empleados.xlsx");
                  }

                  }
    

    window.customElements.define(ExportExcel.is, ExportExcel);
  </script>
</dom-module>
