

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">


<link rel="import" href="../../src/components/storage-button.html">
<link rel="import" href="../../src/recursos-humanos/modal-spinner.html">





<dom-module id="modal-alta-usuarios">
  <template>
    <style>
      :host {
        display: block;
      }
   
    </style>
    
<!--    <div>Valor actual: [[_formatCurrency(number)]]</div>
  
 -->   
      <paper-input id="1" value="{{nombreEmpleado}}" label="Nombre" required error-message="Campo Requerido"></paper-input>
      <paper-input id="2" value="{{aPaternoEmpleado}}" label="Apellido Paterno" type="txt" required error-message="Campo Requerido"></paper-input> 
      <paper-input id="3"value="{{aMaternoEmpleado}}" label="Apellido Materno" type="txt" required error-message="Campo Requerido"></paper-input>
      <paper-input id="4"value="{{bday}}" label="Fecha de nacimiento" type="date" required error-message="Campo Requerido"></paper-input>
      <paper-input value="{{getAge(bday)}}" label="Edad" type="txt" disabled></paper-input>

      <paper-dropdown-menu  label="Sexo" on-iron-select="obtenerSexo">
          <paper-listbox slot="dropdown-content" >
            <paper-item>Masculino</paper-item>
            <paper-item>Femenino</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
      <paper-input id="5" value="{{nacionalidad}}" label="Nacionalidad" type="txt" required error-message="Campo Requerido"></paper-input>      
      <paper-input id="6"value="{{calle}}" label="Calle" type="txt" required error-message="Campo Requerido"></paper-input>
      <paper-input id="7"value="{{colonia}}" label="Colonia" type="txt" required error-message="Campo Requerido"></paper-input>
      <paper-input id="8"value="{{numeroCasa}}" label="Numero exterior" required error-message="Campo Requerido" ></paper-input>
      <paper-input id="9"value="{{cp}}" label="Código Postal" required error-message="Campo Requerido" char-counter maxlength="5"></paper-input>
      <paper-input id="10"label="Telefóno Principal" value="{{telefonoPrincipal}}" required error-message="Campo Requerido" char-counter maxlength="10"></paper-input>
      <paper-input label="Telefóno Celular" value={{telefonoSecundario}} auto-validate pattern="[0-9]*" error-message="Acepta solo números" char-counter maxlength="10"></paper-input> 
      <paper-input value="{{curp}}" label="CURP" pattern="[A-Z][A,E,I,O,U,X][A-Z]{2}[0-9]{2}[0-1][0-9][0-3][0-9][M,H][A-Z]{2}[B,C,D,F,G,H,J,K,L,M,N,Ñ,P,Q,R,S,T,V,W,X,Y,Z]{3}[0-9,A-Z][0-9]" required auto-validate char-counter maxlength="18" error-message="CURP inválido"></paper-input>
      <paper-input value="{{email}}" label="ejemplo@email.com" type="mail"></paper-input>

      <paper-dropdown-menu label="Puesto" on-iron-select="obtenerPuesto" >
      <paper-listbox slot="dropdown-content">
        <paper-item>Encargado del evento</paper-item>
        <paper-item>Garrotero</paper-item>
        <paper-item>Capitán de Meseros</paper-item>
        <paper-item>Mesero</paper-item>
        <paper-item>Barman</paper-item>
        <paper-item>Valet Parking</paper-item>
        <paper-item>Valet Sanitario</paper-item>
        <paper-item>Seguridad</paper-item>
        <paper-item>Escamoche</paper-item>
        <paper-item>Cocinero</paper-item>


   


      </paper-listbox>
    </paper-dropdown-menu>
    <p style="color:dodgerblue;size:80px">Disponibilidad</p>
    <paper-checkbox on-change="checkDisponibilidad" dataid="matutino" value="Matutino">Matutino</paper-checkbox>
    <paper-checkbox on-change="checkDisponibilidad" dataid="vespertino" value="Vespertino">Vespertino</paper-checkbox>
    <paper-checkbox on-change="checkDisponibilidad" dataid="weekends" value="Fines de Semana">Fines de Semana</paper-checkbox>

    

    <br><br>

    <storage-button options="[[uploadOptions]]">
        <paper-button style="background-color: var(--paper-blue-600); color: white;" on-click="upload">Subir Foto</paper-button>
      </storage-button>

<br>
      <storage-button options="[[uploadOptions1]]">

    <paper-button style="background-color: var(--paper-blue-600); color: white;" on-click="uploadINE">Subir Credencial (Frente)</paper-button>
  </storage-button>
<br>

   <storage-button options="[[uploadOptions2]]">

   <paper-button style="background-color: var(--paper-blue-600); color: white;" on-click="uploadINE2">Subir Credencial (Atras)</paper-button>
  </storage-button>


        
     
  

  </template>
 
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModalAltaUsuarios extends DialogLayoutClass(CustomClass(Polymer.Element)) {
      static get is() { return 'modal-alta-usuarios'; }
      constructor(){
        super();
        var context=this;
        
        this.set("uploadOptions",{
        
        "fileTypes": [".pdf",".xlsx",".xls","image/*"],
        "path":"meseros/photos",
        "name":"",
        "success":function(downloadUrl){
          context.set("imageURL",downloadUrl);

            PolymerUtils.Toast.show("Foto subida con éxito");
//            firebase.firestore().collection("meseros").doc("1").update({"photoURL":downloadUrl});
          /* firebaseController.Proyectos.getQuery().update(context,{"_key":context.project._key,"_ordenClienteUrl":downloadUrl},function(){
            PolymerUtils.Toast.show("URL de foto guardada con éxito");
            
        },"":function(err){console.error("Problem saving url for orden cliente",err);});*/




        },
        "onProgress":function(p){
            context.updateProgress2(p);
        PolymerUtils.Toast.show("Subiendo Foto...");

        },
        "onPaused":function(){

        },
        "onResumed":function(){

        },
        "error":function(err){

            console.error("Hubo un error en la subida del archivo a Firebase Storage",err);
            PolymerUtils.Toast.show("¡Error!");

        }});

        this.set("uploadOptions1",{
        
        "fileTypes": [".pdf",".xlsx",".xls","image/*"],
        "path":"meseros/INE",
        "name":"",
        "success":function(downloadUrl){
          context.set("credencial",downloadUrl);
            PolymerUtils.Toast.show("Credencial subida con éxito");
//            firebase.firestore().collection("meseros").doc("1").update({"photoURL":downloadUrl});
          /* firebaseController.Proyectos.getQuery().update(context,{"_key":context.project._key,"_ordenClienteUrl":downloadUrl},function(){
            PolymerUtils.Toast.show("URL de foto guardada con éxito");
            
        },"":function(err){console.error("Problem saving url for orden cliente",err);});*/




        },
        "onProgress":function(p){
            context.updateProgress(p);
        PolymerUtils.Toast.show("Subiendo Credencial...");

        },
        "onPaused":function(){

        },
        "onResumed":function(){

        },
        "error":function(err){

            console.error("Hubo un error en la subida del archivo a Firebase Storage",err);
        }});
        this.set("uploadOptions2",{
        
        "fileTypes": [".pdf",".xlsx",".xls","image/*"],
        "path":"meseros/INE",
        "name":"",
        "success":function(downloadUrl){
          context.set("credencialAtras",downloadUrl);

            PolymerUtils.Toast.show("Credencial de atrás subida con éxito");
//            firebase.firestore().collection("meseros").doc("1").update({"photoURL":downloadUrl});
          /* firebaseController.Proyectos.getQuery().update(context,{"_key":context.project._key,"_ordenClienteUrl":downloadUrl},function(){
            PolymerUtils.Toast.show("URL de foto guardada con éxito");
            
        },"":function(err){console.error("Problem saving url for orden cliente",err);});*/




        },
        "onProgress":function(p){
            context.updateProgress(p);
        PolymerUtils.Toast.show("Subiendo Credencial...");

        },
        "onPaused":function(){

        },
        "onResumed":function(){

        },
        "error":function(err){

            console.error("Hubo un error en la subida del archivo a Firebase Storage",err);
        }});

    
      }
      static get observers(){
        return [
          //"_disponibilidadChanged(objDisponibilidad.*)"
          ];
      }
      _disponibilidadChanged(){
        console.log("Disponibilidad:",this.objDisponibilidad);
      }
      static get properties() {
        return {
          number:{
              type:Number,
              notify:true,
              value: 2929
          },
          objDisponibilidad:{
            type:Object,
            notify:true,
            value:{}
          },
          
          nombreEmpleado:{
            type:String
          },
          aPaternoEmpleado:{
            type:String
          },
          aMaternoEmpleado:{
            type:String
          },
          calle:{
            type:String
          },
          colonia:{
            type:String
          },
          numeroCasa:{
            type:Number
          },
          cp:{
            type:String
          },
          telefonoPrincipal:{
            type:String
          },
          test:{
            type:String
          },
          curp:{
            type:String
          },
          telefonoSecundario:{
            type:String
          },
          mensaje:{
            type:String
          },
          puesto:{
            type:String
          },
          imageURL:{
            type:String
          },
          credencial:{
            type:String
          },
          edad:{
            type:String
          },
          sexo:{
            type:String
          },
          bday:{
            type:String
          }
        };
      }

      getAge(item){
        var context=this;
        if(item){
        var nuevo = new Date();
        var año= nuevo.getFullYear();
        var date=item.split("-").reverse();
        var change=date["2"];
        var result = (Number(2018)-parseInt(change));

        context.set("edad",result);
        return result+" "+"años";
        }
        return "";
        context.set("edad",result);
      }
      
      upload(){        
        this.showDialogSpinner2();         
            var context=this;
            firebaseHelper.Storage.uploadFile({
            "fileTypes": [".pdf",".xlsx",".xls","image/*"],
            "path":"meseros/photos",
            "name":"",
            "success":function(downloadUrl){
              this.set("imageURL",downloadUrl);
            },
            "onProgress":function(p){
              context.updateProgress(p);
            },
            "onPaused":function(){

            },
            "onResumed":function(){

            },
            "error":function(err){

              console.error("Hubo un error en la subida del archivo a Firebase Storage",err);
            }});


            }
            saveField(e){
          localStorage.setItem("storage-"+e.target.name,this[e.target.name]);
      }
      updateProgress(progreso){
            this.set("uploadProgress",progreso);
      }
      uploadINE(){   

            var context=this;
            firebaseHelper.Storage.uploadFile({
            "fileTypes": [".pdf",".xlsx",".xls","image/*"],
            "path":"meseros/INE",
            "name":"",
            "success":function(downloadUrl){
              this.set("credencial",downloadUrl);
            },
            "onProgress":function(p){
        this.showDialogSpinner2();         

              context.updateProgress2(p);
            },
            "onPaused":function(){

            },
            "onResumed":function(){

            },
            "error":function(err){

              console.error("Hubo un error en la subida del archivo a Firebase Storage",err);
            }});


            }
            saveField(e){
          localStorage.setItem("storage-"+e.target.name,this[e.target.name]);
      }
      updateProgress2(progreso){
            this.set("uploadProgress2",progreso);
      }
      uploadINE2(){                  
            var context=this;
            firebaseHelper.Storage.uploadFile({
            "fileTypes": [".pdf",".xlsx",".xls","image/*"],
            "path":"meseros/INE",
            "name":"",
            "success":function(downloadUrl){
              this.set("credencialAtras",downloadUrl);
            },
            "onProgress":function(p){
              context.updateProgress3(p);
            },
            "onPaused":function(){

            },
            "onResumed":function(){

            },
            "error":function(err){

              console.error("Hubo un error en la subida del archivo a Firebase Storage",err);
            }});


            }
            saveField(e){
          localStorage.setItem("storage-"+e.target.name,this[e.target.name]);
      }
      updateProgress3(progreso){
            this.set("uploadProgress3",progreso);
      }

      saveDataNow(dialog){
        var context=this;
       
        var nombreEmpleado=this.nombreEmpleado;
        var aPaternoEmpleado=this.aPaternoEmpleado;
        var aMaternoEmpleado=this.aMaternoEmpleado;
        var calle=this.calle;
        var colonia=this.colonia;
        var colonia=this.colonia;
        var cp=this.cp;
        var email=this.email;
        var curp=this.curp;
        var telefonoPrincipal=this.telefonoPrincipal;
        var telefonoSecundario=this.telefonoSecundario;
        var numeroCasa=this.numeroCasa;
        var puesto=this.puesto;
        var image=this.imageURL;
        var credencial=this.credencial;
        var credencialAtras=this.credencialAtras;
        var sexo=this.sexo;
        var edad=this.edad;
        var fechaNacimiento=this.bday;
        var nacionalidad=this.nacionalidad;
        var disponibilidad=this.objDisponibilidad;

         for(var k=1;k<11;k++){
        this.shadowRoot.getElementById(k).validate();
          
        }

        if(nombreEmpleado=="" || nombreEmpleado==null
         || aPaternoEmpleado=="" || aPaternoEmpleado==null
         || aMaternoEmpleado=="" || aMaternoEmpleado==null){
          PolymerUtils.Toast.show("¡Error! Verifica los campos de favor.");
          context.set("mensaje","Campo Obligatorio");
          return;

          
        }

        if(puesto=='Encargado del evento'){
          var puesto={
            id:0,
            nombre:puesto
          }
        }else if(puesto=='Capitán de Meseros'){
          var puesto={
            id:1,
            nombre:puesto
          }
        }else if(puesto=='Mesero'){
          var puesto={
            id:2,
            nombre:puesto
          }
        }
          else if(puesto=='Garrotero'){
          var puesto={
            id:3,
            nombre:puesto
          }       

        }  else if(puesto=='Barman'){
          var puesto={
            id:4,
            nombre:puesto
          } 
        }
        else if(puesto=='Escamoche'){
          var puesto={
            id:5,
            nombre:puesto
          } 
        }
        else if(puesto=='Valet Parking'){
          var puesto={
            id:6,
            nombre:puesto
          } 
        }
        else if(puesto=='Valet Sanitario'){
          var puesto={
            id:7,
            nombre:puesto
          } 
        }
        else if(puesto=='Seguridad'){
          var puesto={
            id:8,
            nombre:puesto
          } 
        }
        else if(puesto=='Cocinero'){
          var puesto={
            id:9,
            nombre:puesto
          } 
        }




        if(sexo=='Masculino'){
          var sexo={
            id:0,
            sexo:sexo}
          }else if(sexo=='Femenino'){
            var sexo={
            id:1,
            sexo:sexo

          }
        }

        if(telefonoSecundario=="" || telefonoSecundario==null){
          var object={
          nombreEmpleado:nombreEmpleado,
          aPaternoEmpleado:aPaternoEmpleado,
          aMaternoEmpleado:aMaternoEmpleado,
          calle:calle,
          colonia:colonia,
          numeroCasa:numeroCasa,
          cp:cp,
          telefonoPrincipal:telefonoPrincipal,
          puesto,
          correo:email,
          statusBD:true,
          calificacion:0,
          image:image,
          credencial:credencial,
          credencialAtras:credencialAtras,
          sexo,
          edad:edad,
          fechaNacimiento:fechaNacimiento,
          disponibilidad:disponibilidad,
          perfilStatus:"Incompleto"
        }
        }else{
      

        var object={
          nombreEmpleado:nombreEmpleado,
          aPaternoEmpleado:aPaternoEmpleado,
          aMaternoEmpleado:aMaternoEmpleado,
          calle:calle,
          colonia:colonia,
          numeroCasa:numeroCasa,
          cp:cp,
          telefonoPrincipal:telefonoPrincipal,
          telefonoSecundario:telefonoSecundario,
          credencialAtras:credencialAtras,
          puesto,
          correo:email,
          statusBD:true,
          calificacion:0,
          image:image,
          credencial:credencial,
          sexo,
          edad:edad,
          fechaNacimiento:fechaNacimiento,
          nacionalidad:nacionalidad,
          curp:curp,
          disponibilidad:disponibilidad,
          perfilStatus:"Completo"
        }
        }
        console.log(object);
        var db = firebase.firestore();
           db.collection("empleados").add(object)
          .then(function(docRef) {
            var updateTimestamp = docRef.update({
           _timestamp: firebase.firestore.FieldValue.serverTimestamp()
                        });
                        PolymerUtils.Toast.show("Éxito guardado datos");
                        dialog.close();

          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
          }
        obtenerPuesto(e) {
            var context=this;
            var selectedItem = e.target.selectedItem;
            if (selectedItem) {
                context.set("puesto",selectedItem.innerText);
                            }
                     }
           obtenerSexo(e) {
            var context=this;
            var selectedItem = e.target.selectedItem;
            if (selectedItem) {
                context.set("sexo",selectedItem.innerText);
                            }
                     }

            checkDisponibilidad(event){
                var context=this;
                   // console.log("CheckDisponibilidad fired", event.target);
//                if(event.target.checked) {
                  var a=event.target.value;             

                  context.set("objDisponibilidad."+event.target.getAttribute("dataid"),event.target.checked);
                  if(!event.target.checked){
                    var obj=this.objDisponibilidad;
                   delete obj[event.target.getAttribute("dataid")];
                   this.set("objDisponibilidad",obj);
                  }
  //              }
  console.log("Disponibilidad actual",this.objDisponibilidad);

               }

                          showDialogSpinner2(e){
                            console.log("ENtro");
          PolymerUtils.Dialog.createAndShow(
            {     
              time:1500,
              type: "modal",
              element:"modal-spinner",
              title: "   Cargando...",
              style: "heigth:200px",
              smallStyle: "heigth: 200px !important;",
              }
          );
          } 
  }

    window.customElements.define(ModalAltaUsuarios.is, ModalAltaUsuarios);
  </script>
</dom-module>
