

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-input/all-imports.html">





<dom-module id="modal-filtros">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-spinner {
   width: 35px;
   height: 35px;
}
    </style>
    <button on-click="filtroEdad">

    </button>

<paper-checkbox on-change="showFilter" name="Nombre" value="Nombre">Nombre</paper-checkbox>
<template is="dom-if" if="{{condicion1}}">
  <paper-input label="Nombre"  value="{{nombre}}">Mayor</paper-input>

</template>

<paper-checkbox on-change="showFilter" name="edad" value="Edad">Edad</paper-checkbox>
<template is="dom-if" if="{{condicion2}}">
<paper-input label="Edad Maxima" value="{{valorMayor}}">Mayor</paper-input>
<paper-input label="Edad Minima" value="{{valorMenor}}">Menor</paper-input>
</template>







  </template>
 
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModalFiltros extends DialogLayoutClass(CustomClass(Polymer.Element)) {
      static get is() { return 'modal-filtros'; }
      constructor(){
        super();
        var context=this;
        context.splice("arrayBusqueda",0,context.arrayBusqueda.length);
      }
      static get properties() {
        return {
          number:{
              type:Number,
              notify:true,
              value: 2929
          },
          condicion1:{
            type:Boolean,
            value:false
          },
          condicion2:{
            type:Boolean,
            value:false
          },
          arrayBusqueda:{
            type:Array,
            value:[]
          },
          valorMayor:{
            type:Number
          },
          valorMenor:{
            type:Number
          },
          nombre:{
            type:String
          },
          aPaternoEmpleado:{
            type:String
          },
          aMaternoEmpleado:{
            type:String
          },
          calle:{
            type:String
          },
          colonia:{
            type:String
          },
          numeroCasa:{
            type:Number
          },
          cp:{
            type:String
          },
          telefonoPrincipal:{
            type:String
          },
          test:{
            type:String
          }
        };
      }

      showFilter(event){
        
                    var context=this;
                  
                if(event.target.checked) {
                  var a=event.target.value;
                  console.log(a);             
                  if(a=='Nombre'){
                    this.condicion1=!this.condicion1;
                  }else
                  if(a=='Edad'){
                    this.condicion2=!this.condicion2;

                  }
                }

               
      }

      filtros(){
        var db=firebase.firestore();
        var edadMinima=this.valorMenor;
        var edadMaxima=this.valorMayor;
        var nombre=this.nombre;
        var context=this;
        db.collection("empleados").where("nombreEmpleado","==",nombre).where("edad", ">", Number(edadMinima)).where("edad","<",Number(edadMaxima))
        
              .get()
              .then(function(querySnapshot) {
                  querySnapshot.forEach(function(doc) {
                      var data = doc.data();
                      context.push("arrayBusqueda",data);
                      console.log(doc.data());

                  });
              })
              .catch(function(error) {
                  console.error("Error getting documents: ", error);
              });


      }

      filtroEdad(){
/*         db.collection("empleados").where("edad", ">", Number(edadMinima)).where("edad","<",Number(edadMaxima))
 */     var x=localStorage.getItem("arrayBusqueda");
        console.log("Traido",x);  
      }



      saveDataNow(){
        var nombreEmpleado=this.nombreEmpleado;
        var aPaternoEmpleado=this.aPaternoEmpleado;
        var aMaternoEmpleado=this.aMaternoEmpleado;
        var calle=this.calle;
        var colonia=this.colonia;
        var colonia=this.colonia;
        var cp=this.cp;
        var telefonoPrincipal=this.telefonoPrincipal;

        var object={
          nombreEmpleado:nombreEmpleado,
          aPaternoEmpleado:aPaternoEmpleado,
          aMaternoEmpleado:aMaternoEmpleado,
          calle:calle,
          colonia:colonia,
          CP:cp,
          telefono:telefonoPrincipal,
          statusBD:true,
          calificacion:5
        }
        var db = firebase.firestore();
              db.collection("empleados").add(object)
          .then(function(docRef) {
            var updateTimestamp = docRef.update({
       _timestamp: firebase.firestore.FieldValue.serverTimestamp()
                        });
                        PolymerUtils.Toast.show("Éxito guardado datos");
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
      }
    }

    window.customElements.define(ModalFiltros.is, ModalFiltros);
  </script>
</dom-module>
