

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/bootstrap-styles/bootstrap-styles.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/iron-icons/places-icons.html">
<link rel="import" href="../../bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">












<dom-module id="modal-information">
  <template>
      <style include="bootstrap-styles"></style>
    <style>
      :host {
        display: block;
      }
      #tooltip {
        display: block;
        outline: none;
        animation-delay: 5s;
        
        
      }
      paper-spinner {
   width: 35px;
   height: 35px;
}
paper-tabs {
                margin: 0;
                display: flex;
                align-items: flex-end;
                height: 60px;
                background: white;
                color: black;
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
                width: 100%;
                text-transform: uppercase;
                margin-bottom: 1px;
                --paper-tabs-selection-bar-color:#2E7D32;
              
            }

            .photo-div{
  background-color: #212121;
  background-size: contain;
  background-position: center;
  height: 400px; 
  width: 100%;
  background-repeat: no-repeat;
}

    </style>


      <div style="align-content: center; background-image: url([[photo]])" class="photo-div" align="center">
    <!--       <iron-image style="width:400px; height:400px; max-width: 300px !important"sizing="fixed" src="{{image}}]"></iron-image>
    --></div>
    <h2>[[nombreEmpleado]] [[aPaternoEmpleado]] [[aMaternoEmpleado]]</h2>
    <p style="font-size: 20px">Fecha: [[getDate(fechaRegistro)]]</p>

    <paper-tabs selected="{{selected}}">
        <paper-tab>Generales</paper-tab>
        <paper-tab on-tap="traerEmpleado">Historial</paper-tab>
       </paper-tabs>


       <iron-pages selected="{{selected}}">
        <div> <!--Inicio 1-->
          <div style="text-align: left">
              <div align="center" style="font-size: 25px"><p>Datos Generales</p></div>
              <div class="row" style="padding-left: 16px;">
                <div id=prueba style="padding-right: 16px;padding-bottom: 12px;font-size: 20px"><iron-icon icon="social:cake"></iron-icon> {{fechaNacimiento}}
                </div><br>
                
    
                <div style="padding-right: 16px;padding-bottom: 12px;font-size: 20px"><iron-icon icon="places:child-friendly"></iron-icon> [[edad]] años</div><br>
                <div style="padding-right: 16px;padding-bottom: 12px;font-size: 20px"><iron-icon icon="icons:work"></iron-icon> [[puesto]]</div><br>
                <div style="padding-right: 16px;padding-bottom: 12px;font-size: 20px"><iron-icon icon="maps:local-phone"></iron-icon> [[telefonoPrincipal]]</div><br>
                <div style="padding-right: 16px;padding-bottom: 12px;font-size: 20px"><iron-icon icon="hardware:phone-iphone"></iron-icon> [[telefonoSecundario]]</div><br>
                <div style="padding-right: 16px;padding-bottom: 12px;font-size: 20px"><iron-icon icon="icons:room"></iron-icon> [[calle]] , [[colonia]] , [[numeroCasa]] , [[cp]]</div><br>
                <div style="padding-right: 16px;padding-bottom: 12px;font-size: 20px"><iron-icon icon="notification:wc"></iron-icon>  [[sexo]]    
                <iron-icon icon="social:public"></iron-icon>  [[nacionalidad]]</div><br>
                <div style="padding-right: 16px;padding-bottom: 12px;font-size: 20px"><iron-icon icon="image:timer"></iron-icon> [[getMatutino(disponibilidad.matutino)]]  [[getVespertino(disponibilidad.vespertino)]]  [[getWeekends(disponibilidad.weekends)]]</div><br>
    
              </div>
            </div>
           
            <div class="modal-footer" align=center>
                <div style="align-content: center; background-image: url([[credencial]])" class="photo-div" align="center">
                </div>
                <div style="align-content: center; background-image: url([[credencialAtras]])" class="photo-div" align="center">
                  </div>
           </div>
        </div>
        <div><!--Inicio 2-->
          <template is="dom-repeat" items="[[arrayMostrar]]"> 
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="list-group">
                               <a  class="list-group-item list-group-item-danger active">Reporte Negativo</a>
                             
                              <div class="list-group-item">
                                 
                                  Descripción General: [[item.comentario]]<br>
                                  Descripción del Reporte: [[item.reporte.descripcion]]<br>
                                  Evento: [[item.evento.nombre]]<br>
                                  Tipo de Reporte: [[item.reporte.tipoReporte.tipo]]<br>
                                  Fecha: [[getDate(item._timestamp)]]                                

                                 
                              </div>
                           </div>
                      </div>
                  </div>

      
            </template>

            <template is="dom-repeat" items="[[arrayPositivo]]"> 
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-group">
                                 <a  class="list-group-item list-group-item-success active">Reporte Positivo</a>
                               
                                <div class="list-group-item">
                                   
                                    Descripción General: [[item.comentario]]<br>
                                    Descripción del Reporte: [[item.reporte.descripcion]]<br>
                                    Evento: [[item.evento.nombre]]<br>
                                    Tipo de Reporte: [[item.reporte.tipoReporte.tipo]]<br>
                                    Fecha: [[getDate(item._timestamp)]]                                
  
                                   
                                </div>
                             </div>
                        </div>
                    </div>
  
        
              </template>
        </div>
       </iron-pages>




      




    


         <paper-tooltip id=tooltip for="prueba" position="bottom" animation-delay="0" offset="0">Fecha de nacimiento</paper-tooltip>

           
         
  </template>
 
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModalInformation extends DialogLayoutClass(CustomClass(Polymer.Element)) {
      static get is() { return 'modal-information'; }
      constructor(){
        super();
        var context=this;
        var db = firebase.firestore();
        var id=this.key;
        /* db.collection("empleados").doc(id)
                          .onSnapshot(function(querySnapshot) {
                            context.splice("arrayEmpleados",0,context.arrayEmpleados.length);
                            querySnapshot.forEach(function(doc) {
                           var documento=doc.data();       
                          documento._key=doc.id;
                          console.log(documento);

                        });
                    }); */

      }
      static get properties() {
        return {
          number:{
              type:Number,
              notify:true,
              value: 2929
          },
          photo:{
            type:String
          },
          fechaRegistro:{
            type:String
          },
          credencial:{
            type:String
          },
          nombreEmpleado:{
            type:String
          },
          aPaternoEmpleado:{
            type:String
          },
          aMaternoEmpleado:{
            type:String
          },
          calle:{
            type:String
          },
          colonia:{
            type:String
          },
          numeroCasa:{
            type:Number
          },
          cp:{
            type:String
          },
          telefonoPrincipal:{
            type:String
          },
          test:{
            type:String
          },
          credencialAtras:{
            type:String
          },
          idEncontrado:{type:String},
          arrayMostrar:{
            type:Array,
            value:[]
          },
          puesto:{
            type:String
          }
        };
      }
      getMatutino(item){
         if(item==true)
         {
           return "Matutino"+" "+",";
         }
         return "";
         
        }
        getVespertino(item){
         if(item==true)
         {
           return "Vespertino"+" "+",";
         }
         return "";
         
        }
        getWeekends(item){
         if(item==true)
         {
           return "Fines de Semana";
         }
         return "";
        }
        
       

      
      getFecha(item){
       var date= new Date(item.seconds).getTime();
       var dia= new Date(date);
       var d = dia.getDate();
       var mes = dia.getMonth()+1;
       var año = dia.getFullYear();
      var resultado=d+"/"+mes+"/"+año;
      }
      imprimir(){
        var key=this.key;
        console.log("LLAVE",key);
      }

      traerEmpleado(){
        var context=this;
        var id=this.idEncontrado;
        var db=firebase.firestore();
        var array=[];
        db.collection("reportes").where("empleado.empleadoId","==",id).where("reporte.tipoReporte.tipo","==","negativo")
                    .get()
                    .then(function(querySnapshot) {

                        querySnapshot.forEach(function(doc) {
                            var dataFull = doc.data();
                            array.push(dataFull);


                        });
                      context.set("arrayMostrar",array);


                    })
                    .catch(function(error) {
                        console.log("Error getting documents: ", error);
                    });

                    var arreglo=[];
                    db.collection("reportes").where("empleado.empleadoId","==",id).where("reporte.tipoReporte.tipo","==","positivo")
                    .get()
                    .then(function(querySnapshot) {

                        querySnapshot.forEach(function(doc) {
                            var dataFulli = doc.data();
                            arreglo.push(dataFulli);


                        });
                      context.set("arrayPositivo",arreglo);


                    })
                    .catch(function(error) {
                        console.log("Error getting documents: ", error);
                    });
      }

       getDate(item){
        
        var x = item.toDate();
        var dia=x.getDate();
        var mes=x.getMonth()+1;
        var año=x.getFullYear();
        var horas=x.getHours();
        var minutes=x.getMinutes();
        var seconds= x.getSeconds();
        var total = dia+"/"+mes+"/"+año;
        var th=horas+":"+minutes+":"+seconds;
        return total+"   "+th;
      }


    }

    window.customElements.define(ModalInformation.is, ModalInformation);
  </script>
</dom-module>
