<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../src/components/storage-button.html">





<dom-module id="modal-edicion-usuarios">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
<!--    <div>Valor actual: [[_formatCurrency(number)]]</div>
 -->     <paper-input value="{{nombreEmpleado}}" label="Nombre" required></paper-input>
      <paper-input value="{{aPaternoEmpleado}}" label="Apellido Paterno" type="txt"></paper-input> 
      <paper-input value="{{aMaternoEmpleado}}" label="Apellido Materno" type="txt"></paper-input>
      <paper-input value="{{bday}}" label="Fecha de nacimiento" type="date"></paper-input>
      <paper-input value="{{getAge(bday)}}" label="Edad" type="txt" disabled></paper-input>

      <paper-dropdown-menu label="{{sexo}}" on-iron-select="obtenerSexo" disabled> 
          <paper-listbox slot="dropdown-content" >
            <paper-item>Masculino</paper-item>
            <paper-item>Femenino</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
      <paper-input value="{{nacionalidad}}" label="Nacionalidad" type="txt"></paper-input>      
      <paper-input value="{{calle}}" label="Calle" type="txt"></paper-input>
      <paper-input value="{{colonia}}" label="Colonia" type="txt"></paper-input>
      <paper-input value="{{numeroCasa}}" label="Numero casa" ></paper-input>
      <paper-input value="{{cp}}" label="Código Postal" auto-validate pattern="[0-9]*" error-message="Acepta solo números" char-counter maxlength="5"></paper-input>
      <paper-input label="Telefóno Principal" value="{{telefonoPrincipal}}" auto-validate pattern="[0-9]*" error-message="Acepta solo números" char-counter maxlength="10"></paper-input>
      <paper-input label="Telefóno Celular" value={{telefonoSecundario}} auto-validate pattern="[0-9]*" error-message="Acepta solo números" char-counter maxlength="10"></paper-input> 
      <paper-input value="{{curp}}" label="CURP" pattern="[A-Z][A,E,I,O,U,X][A-Z]{2}[0-9]{2}[0-1][0-9][0-3][0-9][M,H][A-Z]{2}[B,C,D,F,G,H,J,K,L,M,N,Ñ,P,Q,R,S,T,V,W,X,Y,Z]{3}[0-9,A-Z][0-9]" required auto-validate char-counter maxlength="18" error-message="CURP inválido"></paper-input>
      <paper-input value="{{email}}" label="ejemplo@email.com" type="mail"></paper-input>

      <paper-dropdown-menu label="{{puesto}}" on-iron-select="obtenerPuesto">
      <paper-listbox slot="dropdown-content"  >
        <paper-item>Encargado del evento</paper-item>
        <paper-item>Garrotero</paper-item>
        <paper-item>Capitán de Meseros</paper-item>
        <paper-item>Mesero</paper-item>
      </paper-listbox>
    </paper-dropdown-menu>
        
    <p style="color:dodgerblue;size:80px">Disponibilidad</p>
    <paper-checkbox on-change="checkDisponibilidad" dataid="matutino" value="Matutino">Matutino</paper-checkbox>
    <paper-checkbox on-change="checkDisponibilidad" dataid="vespertino" value="Vespertino">Vespertino</paper-checkbox>
    <paper-checkbox on-change="checkDisponibilidad" dataid="weekends" value="Fines de Semana">Fines de Semana</paper-checkbox>

   
    <br><br>

    <storage-button options="[[uploadOptions]]">
        <paper-button style="background-color: var(--paper-blue-600); color: white;" on-click="upload">Cambiar Foto</paper-button>
      </storage-button>

<br>
      <storage-button options="[[uploadOptions1]]">

    <paper-button style="background-color: var(--paper-blue-600); color: white;" on-click="uploadINE">Cambiar foto de Credencial (Frente)</paper-button>
  </storage-button>
<br>

   <storage-button options="[[uploadOptions2]]">

   <paper-button style="background-color: var(--paper-blue-600); color: white;" on-click="uploadINE2">Cambiar foto de Credencial (Atras)</paper-button>
  </storage-button>

  </template>
 
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModalEdicionUsuarios extends DialogLayoutClass(CustomClass(Polymer.Element)) {
      static get is() { return 'modal-edicion-usuarios'; }
      constructor(){
        super();
        var context=this;
        this.set("uploadOptions",{
        
        "fileTypes": [".pdf",".xlsx",".xls","image/*"],
        "path":"meseros/photos",
        "name":"",
        "success":function(downloadUrl){
          context.set("imageURL",downloadUrl);

            PolymerUtils.Toast.show("Foto subida con éxito");
//            firebase.firestore().collection("meseros").doc("1").update({"photoURL":downloadUrl});
          /* firebaseController.Proyectos.getQuery().update(context,{"_key":context.project._key,"_ordenClienteUrl":downloadUrl},function(){
            PolymerUtils.Toast.show("URL de foto guardada con éxito");
            
        },"":function(err){console.error("Problem saving url for orden cliente",err);});*/




        },
        "onProgress":function(p){
        PolymerUtils.Toast.show("Actualizando Foto...");

        },
        "onPaused":function(){

        },
        "onResumed":function(){

        },
        "error":function(err){

            console.error("Hubo un error en la subida del archivo a Firebase Storage",err);
        }});

        this.set("uploadOptions1",{
        
        "fileTypes": [".pdf",".xlsx",".xls","image/*"],
        "path":"meseros/INE",
        "name":"",
        "success":function(downloadUrl){
          context.set("credencial",downloadUrl);
            PolymerUtils.Toast.show("Credencial subida con éxito");
//            firebase.firestore().collection("meseros").doc("1").update({"photoURL":downloadUrl});
          /* firebaseController.Proyectos.getQuery().update(context,{"_key":context.project._key,"_ordenClienteUrl":downloadUrl},function(){
            PolymerUtils.Toast.show("URL de foto guardada con éxito");
            
        },"":function(err){console.error("Problem saving url for orden cliente",err);});*/




        },
        "onProgress":function(p){
        PolymerUtils.Toast.show("Actualizando Crendecial...");

        },
        "onPaused":function(){

        },
        "onResumed":function(){

        },
        "error":function(err){

            console.error("Hubo un error en la subida del archivo a Firebase Storage",err);
        }});
        this.set("uploadOptions2",{
        
        "fileTypes": [".pdf",".xlsx",".xls","image/*"],
        "path":"meseros/INE",
        "name":"",
        "success":function(downloadUrl){
          context.set("credencialAtras",downloadUrl);

            PolymerUtils.Toast.show("Credencial de atrás subida con éxito");
//            firebase.firestore().collection("meseros").doc("1").update({"photoURL":downloadUrl});
          /* firebaseController.Proyectos.getQuery().update(context,{"_key":context.project._key,"_ordenClienteUrl":downloadUrl},function(){
            PolymerUtils.Toast.show("URL de foto guardada con éxito");
            
        },"":function(err){console.error("Problem saving url for orden cliente",err);});*/




        },
        "onProgress":function(p){
        PolymerUtils.Toast.show("Actualizando Crendecial...");

        },
        "onPaused":function(){

        },
        "onResumed":function(){

        },
        "error":function(err){

            console.error("Hubo un error en la subida del archivo a Firebase Storage",err);
        }});

    
      }
      
      static get properties() {
        return {
          number:{
              type:Number,
              notify:true,
              value: 2929
          },
          puesto:{
            type:String
          },
          nombreEmpleado:{
            type:String
          },
          idMatutino:{
            type:String
        },
        credencial:{
          type:String
        },
        credencialAtras:{
          type:String
        },
        imageURL:{
          type:String
        },
          aPaternoEmpleado:{
            type:String
          },
          aMaternoEmpleado:{
            type:String
          },
          calle:{
            type:String
          },
          colonia:{
            type:String
          },
          numeroCasa:{
            type:Number
          },
          cp:{
            type:String
          },
          telefonoPrincipal:{
            type:String
          },
          key:{
            type:String
          },
          objDisponibilidad:{
            type:Object,
            notify:true,
            value:{}
          },
          disponibilidad:{
            type:Object
          }
        };
      }
      
      checkDisponibilidad(event){
                var context=this;
                   // console.log("CheckDisponibilidad fired", event.target);
//                if(event.target.checked) {
                  var a=event.target.value;             

                  context.set("objDisponibilidad."+event.target.getAttribute("dataid"),event.target.checked);
                  if(!event.target.checked){
                    var obj=this.objDisponibilidad;
                   delete obj[event.target.getAttribute("dataid")];
                   this.set("objDisponibilidad",obj);
                  }
  //              }
  console.log("Disponibilidad actual",this.objDisponibilidad);

               }
      updatingClient(){
        var key=this.key;
        var nombreEmpleado=this.nombreEmpleado;
        var aPaternoEmpleado=this.aPaternoEmpleado;
        var aMaternoEmpleado=this.aMaternoEmpleado;
        var calle=this.calle;
        var colonia=this.colonia;
        var cp=this.cp;
        var telefonoPrincipal=this.telefonoPrincipal;
        var telefonoSecundario=this.telefonoSecundario;
        var numeroCasa=this.numeroCasa;
        var correo=this.email;
        var sexo=this.sexo;
        var nacionalidad=this.nacionalidad;
        var puesto=this.puesto;
        var edad=this.edad;
        var fechaNacimiento=this.bday;
        var curp=this.curp;
        var numeroCasa=this.numeroCasa;
        var image=this.imageURL;
        var credencial=this.credencial;
        var credencialAtras=this.credencialAtras;
        var objDisponibilidad=this.objDisponibilidad;

         if(puesto=='Encargado del evento'){
          var puesto={
            id:0,
            nombre:puesto
          }
        }else if(puesto=='Capitán de Meseros'){
          var puesto={
            id:1,
            nombre:puesto
          }
        }else if(puesto=='Mesero'){
          var puesto={
            id:2,
            nombre:puesto
          }
        }
          else if(puesto=='Garrotero'){
          var puesto={
            id:3,
            nombre:puesto
          }       
        }

        if(objDisponibilidad==null || objDisponibilidad==""){
          var disponibilidad=this.disponibilidad;
        }


        if(telefonoSecundario=="" || telefonoSecundario==null){
          
          var perfilStatus="Incompleto";
        
        }else if(telefonoSecundario){

        
          var perfilStatus="Completo";
        
        }
        var db = firebase.firestore();
        var updateRef = db.collection("empleados").doc(key);

            // Set the "capital" field of the city 'DC'
            return updateRef.update({
              nombreEmpleado:nombreEmpleado,
              aPaternoEmpleado:aPaternoEmpleado,
              aMaternoEmpleado:aMaternoEmpleado,
              calle:calle,
              colonia:colonia,
              cp:cp,
              telefonoPrincipal:telefonoPrincipal,
              telefonoSecundario:telefonoSecundario,
              statusBD:true,
              edad:edad,
              numeroCasa:numeroCasa,
              nacionalidad:nacionalidad,
              fechaNacimiento:fechaNacimiento,
              perfilStatus:perfilStatus,
              correo:correo,
              curp:curp,
              puesto:puesto,
              image:image,
              credencial:credencial,
              credencialAtras:credencialAtras,
              disponibilidad:objDisponibilidad


            })
            .then(function() {
              PolymerUtils.Toast.show("Empleado actualizado con éxito");
            })
            .catch(function(error) {
                console.error("Error updating document: ", error);
            });
      }
      getAge(item){
        var context=this;
        if(item){
        var nuevo = new Date();
        var año= nuevo.getFullYear();
        var date=item.split("-").reverse();
        var change=date["2"];
        var result = (Number(2018)-parseInt(change));

        context.set("edad",result);
        return result+" "+"años";
        }
        return "";
        context.set("edad",result);
      }
      obtenerPuesto(e) {
            var context=this;
            var selectedItem = e.target.selectedItem;
            if (selectedItem) {
                context.set("puesto",selectedItem.innerText);
                            }
                     }
    obtenerSexo(e) {
            var context=this;
            var selectedItem = e.target.selectedItem;
            if (selectedItem) {
                context.set("sexo",selectedItem.innerText);
                            }
                     }
    }

    window.customElements.define(ModalEdicionUsuarios.is, ModalEdicionUsuarios);
  </script>
</dom-module>
