

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">



<dom-module id="modal-plus">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-spinner {
   width: 35px;
   height: 35px;
}
    </style>


  </template>
 
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModalPlus extends DialogLayoutClass(CustomClass(Polymer.Element)) {
      static get is() { return 'modal-plus'; }
      static get properties() {
        return {
          number:{
              type:Number,
              notify:true,
              value: 2929
          },
          key:{
            type:String
          },
          nombreEmpleado:{
            type:String
          },
          aPaternoEmpleado:{
            type:String
          },
          aMaternoEmpleado:{
            type:String
          },
          calle:{
            type:String
          },
          colonia:{
            type:String
          },
          numeroCasa:{
            type:Number
          },
          cp:{
            type:String
          },
          telefonoPrincipal:{
            type:String
          },
          test:{
            type:String
          }
        };
      }
      doPlus(){
        var key=this.key;
        
        var db = firebase.firestore();
        var washingtonRef = db.collection("empleados").doc(key);

          // Set the "capital" field of the city 'DC'
          return washingtonRef.update({
              empleadoPlus: true
          })
          .then(function() {
            PolymerUtils.Toast.show("Empleado agredo a PLUS");

          })
          .catch(function(error) {
              // The document probably doesn't exist.
              console.error("Error updating document: ", error);
          });

          }

           removePlus(){
        var key=this.key;
        
        var db = firebase.firestore();
        var washingtonRef = db.collection("empleados").doc(key);

          // Set the "capital" field of the city 'DC'
          return washingtonRef.update({
              empleadoPlus: firebase.firestore.FieldValue.delete()
          })
          .then(function() {
            PolymerUtils.Toast.show("Empleado sin PLUS");

          })
          .catch(function(error) {
              // The document probably doesn't exist.
              console.error("Error updating document: ", error);
          });

          }
    }

    window.customElements.define(ModalPlus.is, ModalPlus);
  </script>
</dom-module>
