

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">



<dom-module id="modal-dexcision">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-spinner {
   width: 35px;
   height: 35px;
}
    </style>

  </template>
 
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModalDexcision extends DialogLayoutClass(CustomClass(Polymer.Element)) {
      static get is() { return 'modal-dexcision'; }
      static get properties() {
        return {
          number:{
              type:Number,
              notify:true,
              value: 2929
          },
          nombreEmpleado:{
            type:String
          },
          aPaternoEmpleado:{
            type:String
          },
          aMaternoEmpleado:{
            type:String
          },
          calle:{
            type:String
          },
          colonia:{
            type:String
          },
          numeroCasa:{
            type:Number
          },
          cp:{
            type:String
          },
          telefonoPrincipal:{
            type:String
          },
          test:{
            type:String
          },
          key:{
            type:String
          }
        };
      }

      undeletedUser(){
        var db=firebase.firestore();
        var id=this.key;
        var clientRef = db.collection("empleados").doc(id);
        var context=this;
            return clientRef.update({
                statusBD: true,
                eliminado: firebase.firestore.FieldValue.delete()

            })
            .then(function() {
              PolymerUtils.Toast.show("Usuario activo");
            })
            .catch(function(error) {
                console.error("Error updating document: ", error);
            });
                }
}
    window.customElements.define(ModalDexcision.is, ModalDexcision);
  </script>
</dom-module>
