

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">



<dom-module id="modal-spinner">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-spinner {
   width: 35px;
   height: 35px;
}
    </style>
<div align="center" style="width:100%">
<paper-spinner active ></paper-spinner>
</div>

  </template>
 
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModalSpinner extends DialogLayoutClass(CustomClass(Polymer.Element)) {
      static get is() { return 'modal-spinner'; }
      static get properties() {
        return {
          number:{
              type:Number,
              notify:true,
              value: 2929
          },
          nombreEmpleado:{
            type:String
          },
          aPaternoEmpleado:{
            type:String
          },
          aMaternoEmpleado:{
            type:String
          },
          calle:{
            type:String
          },
          colonia:{
            type:String
          },
          numeroCasa:{
            type:Number
          },
          cp:{
            type:String
          },
          telefonoPrincipal:{
            type:String
          },
          test:{
            type:String
          }
        };
      }
      saveDataNow(){
        var nombreEmpleado=this.nombreEmpleado;
        var aPaternoEmpleado=this.aPaternoEmpleado;
        var aMaternoEmpleado=this.aMaternoEmpleado;
        var calle=this.calle;
        var colonia=this.colonia;
        var colonia=this.colonia;
        var cp=this.cp;
        var telefonoPrincipal=this.telefonoPrincipal;

        var object={
          nombreEmpleado:nombreEmpleado,
          aPaternoEmpleado:aPaternoEmpleado,
          aMaternoEmpleado:aMaternoEmpleado,
          calle:calle,
          colonia:colonia,
          CP:cp,
          telefono:telefonoPrincipal,
          statusBD:true,
          calificacion:5
        }
        var db = firebase.firestore();
              db.collection("empleados").add(object)
          .then(function(docRef) {
            var updateTimestamp = docRef.update({
       _timestamp: firebase.firestore.FieldValue.serverTimestamp()
                        });
                        PolymerUtils.Toast.show("Éxito guardado datos");
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
      }
    }

    window.customElements.define(ModalSpinner.is, ModalSpinner);
  </script>
</dom-module>
