<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/bootstrap-styles/bootstrap-styles.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<link rel="import" href="../../src/recursos-humanos/modal-dexcision.html">




<dom-module id="modal-inactivos">
  <template>
    <style>
      @keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
      input[type="radio"] {
  display: none;
}

label {
  color: orange;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
      :host {
        display: block;

        padding: 16px;
      }  
      @import url('https://fonts.googleapis.com/css?family=Amatic+SC');


.button_container {
	position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.description {
	font-size: 35px;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(15, 12, 168);
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
   width: 100%;
   min-width: 10px;  
   max-width: 300px;
}


.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
     left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #02ccff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
  
}
#example-half-width {
      width: 30%;
      --iron-image-width: 100%;
    }
    .grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "photo1 Generales edit";
}

.photo1 { grid-area: photo1; }
.Generales { grid-area: Generales; }
.edit { grid-area: edit; }

#divi {
    width: 100%;
    height: 100px;
    background-image: url('../../src/recursos-humanos/rh-images/gato.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.avatar {
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                min-width: 80px !important;
                min-height: 80px !important;
                max-width: 80px !important;
                max-height: 80px !important;
                border: solid 1px #E0E0E0;
            }
    </style> 

<div style="background-color:white"> 
    <template is="dom-repeat" items="{{arrayInactivos}}">
    <paper-icon-item style="border-bottom:solid 1px #EEEEEE;">
        <div class="avatar" style="background-image:url([[getPhoto(item.image)]])" slot="item-icon" on-click="Hi">
        </div>
        <paper-item-body three-line style="margin-left:35px; padding:8px; ">
            <div>Nombre: [[item.nombreEmpleado]]  [[item.aPaternoEmpleado]]  [[item.aMaternoEmpleado]]</div>
            <div style="color:red">Status: [[item.eliminado.categoria]]</div>
            <div style="color:red">Razón: [[item.eliminado.razonVeto]] [[item.eliminado.comentario]]</div>    
        </paper-item-body>
        <paper-toggle-button  checked="{{item.condicion}}"
        on-change="advertencia"
        ></paper-toggle-button>
<!--        <label class="switch">
            <input type="checkbox" checked$="{{condicion}}" on-change="advertencia">
            <span class="slider round"></span>
          </label>-->
          
        </template>
      </div>
    

  </template>
 
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModalInactivos extends DialogLayoutClass(CustomClass(Polymer.Element)) {
      static get is() { return 'modal-inactivos'; }
      constructor(){
        super();
        var context=this;
        context.splice("arrayInactivos",0,context.arrayInactivos.length);

        var db=firebase.firestore();
        db.collection("empleados").where("statusBD","==",false)
                          .onSnapshot(function(querySnapshot) {
                            context.splice("arrayInactivos",0,context.arrayInactivos.length);
                            querySnapshot.forEach(function(doc) {
                           var documento=doc.data();       
                          documento._key=doc.id;
                          context.push("arrayInactivos",documento); 
                        });
                    });

      }
     
      clearSwitches(){
        var context=this;
        PolymerUtils.iterateArray(this.arrayInactivos,function(empleado,index){
          context.set("arrayInactivos."+index+".condicion",false);
        });
      }
      static get properties() {
        return {
          number:{
              type:Number,
              notify:true,
              value: 2929
          },
          arrayInactivos:{
            type:Array,
            value:[]
          },
          condicion:{
            type:Boolean,
            value:false
          },
          nombreEmpleado:{
            type:String
          },
          aPaternoEmpleado:{
            type:String
          },
          aMaternoEmpleado:{
            type:String
          },
          calle:{
            type:String
          },
          colonia:{
            type:String
          },
          numeroCasa:{
            type:Number
          },
          cp:{
            type:String
          },
          telefonoPrincipal:{
            type:String
          },
          test:{
            type:String
          },
          key:{
            type:String
          }
        };
      }

  /*     Hi(){
        alert("Hola Mundo");
      }
 */
      getMensaje(item){
        if(item.length==0){
          return false
        }
        else{
          return false;
        }
      }

      advertencia(e){
        var id=e.model.get("item._key");
        var nombre=e.model.get("item.nombreEmpleado");
        var context=this;

    PolymerUtils.Dialog.createAndShow(
    {     

      type: "modal",
      title:"¿Seguro que deseas activar a este Empleado?" ,
      element:"modal-dexcision",          
          style: "width: 500px;",
          smallStyle: "width: 100% !important;",
          elementReady:function(element){
                            element.set("key",id);

          },
          positiveButton:{
              text: "Sí",
              action: function(dialog,element){
                element.undeletedUser();
                dialog.close();
            
              },
              raised: true,
              style: "color: white; background-color: var(--paper-blue-700);"
          },
          negativeButton:{
              text: "No",
              action: function(dialog,element){
                  dialog.close();
                  context.clearSwitches();
                      }
                 }
             }
          );
      } 

     
      
      saveDataNow(){
        var nombreEmpleado=this.nombreEmpleado;
        var aPaternoEmpleado=this.aPaternoEmpleado;
        var aMaternoEmpleado=this.aMaternoEmpleado;
        var calle=this.calle;
        var colonia=this.colonia;
        var colonia=this.colonia;
        var cp=this.cp;
        var telefonoPrincipal=this.telefonoPrincipal;

        var object={
          nombreEmpleado:nombreEmpleado,
          aPaternoEmpleado:aPaternoEmpleado,
          aMaternoEmpleado:aMaternoEmpleado,
          calle:calle,
          colonia:colonia,
          CP:cp,
          telefono:telefonoPrincipal,
          statusBD:true,
          calificacion:5
        }
        var db = firebase.firestore();
              db.collection("empleados").add(object)
          .then(function(docRef) {
            var updateTimestamp = docRef.update({
       _timestamp: firebase.firestore.FieldValue.serverTimestamp()
                        });
                        PolymerUtils.Toast.show("Éxito guardado datos");
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
      }
      getPhoto(imagen) {
                if (imagen) {
                    return imagen;
                }
                return "../recursos-humanos/rh-images/download.png";
            }//getPhoto
    }

    window.customElements.define(ModalInactivos.is, ModalInactivos);
  </script>
</dom-module>
