

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">

<dom-module id="modal-deleted">
  <template>
    <style>
      :host {
        display: block;
        }
      
    </style>
          <paper-radio-group selected="a" aria-labelledby="label2" style="width:20em" on-change="checkEvent">
          <paper-radio-button value="Eliminar" name="a"><h3>Eliminar</h3></paper-radio-button>
          <paper-radio-button value="Vetar" name="b"><h3>Vetar</h3></paper-radio-button>
          </paper-radio-group>
          <template is="dom-if" if="{{!condicion}}">
          <paper-textarea label="Razón del Veto" value={{razonVeto}}></paper-textarea>
         </template>
         <template is="dom-if" if="{{condicion}}">
          <paper-textarea label="Comentario" value={{comentario}}></paper-textarea>
         </template>
         
  </template>
 
  <script>

    class ModalDeleted extends DialogLayoutClass(CustomClass(Polymer.Element)) {
      static get is() { return 'modal-deleted'; }
      static get properties() {
        return {
          number:{
              type:Number,
              notify:true,
              value: 2929
          },
          comentario:{
            type:String
          },
          razonVeto:{
            type:String
          },
          condicion:{
            type:Boolean,
            value:true
          },
          nombreEmpleado:{
            type:String
          },
          aPaternoEmpleado:{
            type:String
          },
          aMaternoEmpleado:{
            type:String
          },
          calle:{
            type:String
          },
          colonia:{
            type:String
          },
          numeroCasa:{
            type:Number
          },
          cp:{
            type:String
          },
          telefonoPrincipal:{
            type:String
          },
          _deleted:{
            type:String
          },
          _key:{
            type:String
          },
          seleccion:{
            type:String
          }
        };
      }

        checkEvent(event){
        
          var context=this;
          if(event.target.checked) {
              var a=event.target.value; 
              context.set("seleccion",a);   
              if(a=='Vetar') 
              {
              this.condicion = !this.condicion;  
              context.set("_deleted",a); 
              }else
              this.condicion=true;   
              context.set("_deleted",a); 

        }      
        }

      deletingClient(dialog){
        var id=this._key;
        var seleccion=this.seleccion;
        var _deleted=this._deleted;
        var razonVeto=this.razonVeto;
        var comentario=this.comentario;

        if(comentario=="" || comentario==null){
          if(razonVeto=="" || razonVeto==null){
            PolymerUtils.Toast.show("Debes completar el campo descriptivo");
            return;
          }
        }


        if(razonVeto!=null){
          var eliminado={
          _deleted:true,
          razonVeto:razonVeto,
          categoria:"Vetado"
        }
        }else{
          var eliminado={
          _deleted:true,
          comentario:comentario,
          categoria:"Inactivo"

        }
        }
      
        var db = firebase.firestore();
        var updateRef = db.collection("empleados").doc(id);
            return updateRef.update({eliminado,
            statusBD: false
            })
            .then(function() {
              PolymerUtils.Toast.show("Empleado eliminado con éxito");
              dialog.close();

            })
            .catch(function(error) {
                console.error("Error updating document: ", error);
            });
      }
    }

    window.customElements.define(ModalDeleted.is, ModalDeleted);
  </script>
</dom-module>
