

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">




<dom-module id="show-image">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-spinner {
   width: 35px;
   height: 35px;
}
#responsive {
  margin: auto;
    display: block;
    width:auto;
    max-width: 700px;
    max-height: 500px;

}
.photo-div{
  background-color: #212121;
  background-size: contain;
  background-position: center;
  height: 400px; 
  width: 100%;
  background-repeat: no-repeat;
}
    </style>
    <div style="align-content: center; background-image: url([[image]])" class="photo-div" align="center">
 <!--       <iron-image style="width:400px; height:400px; max-width: 300px !important"sizing="fixed" src="{{image}}]"></iron-image>
 --></div>

  </template>
 
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ShowImage extends DialogLayoutClass(CustomClass(Polymer.Element)) {
      static get is() { return 'show-image'; }
      static get properties() {
        return {
          number:{
              type:Number,
              notify:true,
              value: 2929
          },
          nombreEmpleado:{
            type:String
          },
          aPaternoEmpleado:{
            type:String
          },
          aMaternoEmpleado:{
            type:String
          },
          calle:{
            type:String
          },
          colonia:{
            type:String
          },
          numeroCasa:{
            type:Number
          },
          cp:{
            type:String
          },
          telefonoPrincipal:{
            type:String
          },
          test:{
            type:String
          },
          image:{
            type:String
          }
        };
      }
    }

    window.customElements.define(ShowImage.is, ShowImage);
  </script>
</dom-module>
