<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="empleados-registrados.html">
<link rel="import" href="../componentes/empleados-filtrados.html">

<dom-module id="asignacion-personal">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
        </style>

        <paper-listbox style="max-height: 450px; overflow-y: scroll;">
            <template is="dom-repeat" items="[[arrayMesas]]" as="mesa">
                <paper-icon-item style="border-bottom: solid 1px #BDBDBD; height: 60px;">
                    <div class="avatar" slot="item-icon" style="text-align: center;">[[mesa.numMesa]]</div>
                    <paper-item-body three-line>

                        <div style="width: 60%;display:inline-block;">
                            [[mesa.empleadoAsignado.nombreEmpleado]] [[mesa.empleadoAsignado.aPaternoEmpleado]]
                        </div>
                        <div>
                            [[mesa.empleadoAsignado.puesto.nombre]]
                        </div>
                    </paper-item-body>
                    <paper-icon-button icon="menu" on-click="agregaEmpleadoMesa"></paper-icon-button>
                </paper-icon-item>
            </template>
        </paper-listbox>
    </template>

    <script>
        class AsignacionPersonal extends CustomClass(Polymer.Element) {
            static get is() { return 'asignacion-personal'; }

            static get properties() {
                return {
                    evento: { type: Object, notify: true, },
                    empleadosRegistrados: { type: Array, notify: true, value: [], },
                    empleadosAsistencia: { type: Array, notify: true, value: [] },
                    arrayMesas: { type: Array, notify: true, value: [] },
                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready

            agregaEmpleadoMesa(e) {
                var t = this;
                var mesa = e.model.mesa;
                console.log("mesa: ", mesa);

                var empleadoDialog = PolymerUtils.Dialog.createAndShow(
                    {
                        type: "modal",
                        element: "empleados-registrados",
                        elementReady: function (element) {
                            element.set("eventoId", t.evento._key);
                            element.set("empleadosAsistencia", t.empleadosRegistrados);
                            element.set("mesa", mesa);
                            empleadoDialog.notifyResize();
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",

                        negativeButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                                console.log("Cancelando");
                            }
                        }
                    }
                );
            }//agregaEmpleadoMesa

        }//class

        window.customElements.define(AsignacionPersonal.is, AsignacionPersonal);
    </script>
</dom-module>