<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/bootstrap-styles/bootstrap-styles.html">
<link rel="import" href="../componentes/vista-agrega-empleado.html">
<link rel="import" href="../shared-styles.html">


<link rel="import" href="../componentes/actualiza-empleados-tipo.html">
<dom-module id="desglose-empleados">
    <template>
        <style include="bootstrap-styles"></style>
        <style include="shared-styles">
            :host {
                display: block;
            }

            iron-icon {
                background-color: green;
            }

            .badge {
                font-size: 15px;
            }

            .grid-item {
                text-align: left;
            }

            .grid-item:hover,
            .grid-item:focus {
                cursor: pointer !important;
                background-color: var(--paper-blue-800) !important;
            }

            .col-xs-6 {
                padding: 5px !important;
            }
        </style>

        <div class="col-xs-12" style="padding: 0 !important;">
            <div class="col-xs-12" style="padding: 0 !important;">
                <div class="list-group" style="margin:0 !important;">
                    <div class="list-group-item" style="padding: 1px !important;">
                        Total de empleados solicitados <span class="badge">[[getEmpleados(evento)]]</span>
                    </div>
                    <div class="list-group-item grid-item" style="padding: 1px !important;" on-click="showT2">
                        Porcentaje de inasistencia <span><iron-icon icon="create" style="width: 15px;height: 15px; background-color: white;color:teal;"></iron-icon></span> <span class="badge">[[getPorcentaje(evento)]]%</span></div>
                    <div class="list-group-item" style="padding: 1px !important;">
                        <!-- total de empleados considerados <span class="badge">[[numRegistrados]]/[[totalEmpleados]]</span></div> -->
                        total de empleados considerados <span class="badge">[[getConsiderados(empleadosDesgloseArray.*)]]</span></div>
                    <div class="list-group-item" style="padding: 1px !important; ">
                        total de empleados confirmados <span class="badge" style$="[[getColorConfirmados(empleadosDesgloseArray.*)]]">[[getConfirmadosTotal(empleadosDesgloseArray.*)]]</span></div>
                    <div class="list-group-item" style="padding: 1px !important;">
                        total de empleados que asistieron <span class="badge" style$="[[getColorAsistencia(empleadosDesgloseArray.*)]]">[[getAsistenciaTotal(empleadosDesgloseArray.*)]]</span></div>
                </div>
            </div>
        </div>
        <template is="dom-repeat" items="[[tiposEmpleados]]" as="tipo">
            <div class="col-xs-6">
                <div class="list-group">
                    <div class="list-group-item active main-color-bg" style="padding: 5px 5px 5px 0 !important;">
                        <span> [[tipo.nombreMuestra]]</span><span style="float:right; padding: 0 5px 0 0;">
                            <iron-icon icon="add" on-click="agregaEmpleado"></iron-icon>
                        </span>
                    </div>
                    <div class="list-group-item grid-item" style="padding: 1px !important;" on-click="muestraModificaSolicitados">
                        solicitados <span>
                            <iron-icon icon="create" style="width: 15px;height: 15px; background-color: white;color:teal;"></iron-icon>
                        </span> <span class="badge">[[getSolicitados(tipo, evento)]]</span>
                    </div>
                    <div class="list-group-item" style="padding: 1px !important;">confirmados <span class="badge">[[getConfirmados(tipo,empleadosDesgloseArray.*)]]</span></div>
                    <div class="list-group-item" style="padding: 1px !important;">asistencia <span class="badge">[[getAsistencia(tipo,empleadosDesgloseArray.*)]]</span></div>
                </div>
            </div>
        </template>
    </template>

    <script>
        class DesgloseEmpleados extends CustomClass(Polymer.Element) {
            static get is() { return 'desglose-empleados'; }

            static get properties() {
                return {
                    evento: { type: Object, notify: true },
                    empleadosDesgloseArray: { type: Array, notify: true, value: [] },
                    tiposEmpleados: {
                        type: Array, notify: true, value: [
                            { "id": 1, "nombre": "capitán de meseros", "nombreMuestra": "Capitán A" },
                            { "id": 2, "nombre": "capitán de meseros", "nombreMuestra": "Capitan B" },
                            { "id": 3, "nombre": "mesero", "nombreMuestra": "Meseros" },
                            { "id": 4, "nombre": "barman", "nombreMuestra": "Barman" },
                            { "id": 5, "nombre": "escamoche", "nombreMuestra": "Escamoches" },
                            { "id": 6, "nombre": "valet Parking", "nombreMuestra": "Valet Parking" },
                            { "id": 7, "nombre": "valet sanitario", "nombreMuestra": "Valet Sanitario" },
                            { "id": 8, "nombre": "seguridad", "nombreMuestra": "Seguridad" },
                        ]
                    },


                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready



            getEmpleados(evento) {
                var total = 0;
                if (evento.numCapA) {
                    total = total + parseFloat(evento.numCapA, 10);
                }
                if (evento.numCapB) {
                    total = total + parseFloat(evento.numCapB, 10);
                }
                if (evento.numMeseros) {

                    total = total + parseFloat(evento.numMeseros, 10);

                }
                if (evento.numBarman) {
                    total = total + parseFloat(evento.numBarman, 10);
                }
                if (evento.numEscamoche) {
                    total = total + parseFloat(evento.numEscamoche, 10);
                }
                if (evento.numParking) {
                    total = total + parseFloat(evento.numParking, 10);
                }

                if (evento.numSanitario) {
                    total = total + parseFloat(evento.numSanitario, 10);
                }

                if (evento.numSeguridad) {
                    total = total + parseFloat(evento.numSeguridad, 10);
                }
                return total;
            }//getEmpleados



            getEmpleadosConPorcentaje(evento) {
                var total = 0;
                if (evento.numCapA) {
                    total = total + parseFloat(evento.numCapA, 10);
                }
                if (evento.numCapB) {
                    total = total + parseFloat(evento.numCapB, 10);
                }
                if (evento.numMeseros) {
                    var porIn = parseFloat(evento.porcentajeInasistencia, 10);
                    var me = parseFloat(evento.numMeseros, 10);
                    var to = Math.ceil(me + (me * (porIn / 100)));

                    //total = total + parseFloat(evento.numMeseros, 10);
                    total = total + to;
                }
                if (evento.numBarman) {
                    total = total + parseFloat(evento.numBarman, 10);
                }
                if (evento.numEscamoche) {
                    total = total + parseFloat(evento.numEscamoche, 10);
                }
                if (evento.numParking) {
                    total = total + parseFloat(evento.numParking, 10);
                }

                if (evento.numSanitario) {
                    total = total + parseFloat(evento.numSanitario, 10);
                }

                if (evento.numSeguridad) {
                    total = total + parseFloat(evento.numSeguridad, 10);
                }
                return total;
            }//getEmpleados

            getConsiderados(arr) {
                var totalEmp = this.getEmpleadosConPorcentaje(this.evento);
                var num = arr.base.length;
                return num + "/" + totalEmp;
            }//getConsiderados


            getConfirmadosTotal(arr) {
                var numCon = 0;
                for (var i = 0; i < arr.base.length; i++) {
                    if (arr.base[i].confirmado == true) {
                        numCon = numCon + 1;
                    }
                }
                return numCon;
            }//getConfirmadosTotal

            getAsistenciaTotal(arr) {
                var numAs = 0;
                for (var i = 0; i < arr.base.length; i++) {
                    if (arr.base[i].asistencia == true) {
                        numAs = numAs + 1;
                    }
                }
                return numAs;
            }//getAsistenciaTotal

            getSolicitados(tipo, evento) {
                var confi = 0;

                switch (tipo.id) {
                    case 1:
                        if (evento.numCapA) {
                            confi = evento.numCapA;
                        }
                        break;
                    case 2:
                        if (evento.numCapB) {
                            confi = evento.numCapB;
                        }
                        break;
                    case 3:
                        if (evento.numMeseros) {
                            confi = evento.numMeseros;
                        }
                        break;

                    case 4:
                        if (evento.numBarman) {
                            confi = evento.numBarman;
                        }
                        break;

                    case 5:
                        if (evento.numEscamoche) {
                            confi = evento.numEscamoche;
                        }
                        break;

                    case 6:
                        if (evento.numParking) {
                            confi = evento.numParking;
                        }
                        break;

                    case 7:
                        if (evento.numSanitario) {
                            confi = evento.numSanitario;
                        }
                        break;

                    case 8:
                        if (evento.numSeguridad) {
                            confi = evento.numSeguridad;
                        }
                }
                return confi;
            }//getSolicitados


            getConfirmados(tipo, arreglo) {
                var totalTipo = 0;
                var confi=0;

                var evento = this.evento;

                switch (tipo.id) {
                    case 1:
                        if (evento.numCapA) {
                            totalTipo = evento.numCapA;
                            for (var i = 0; i < arreglo.base.length; i++) {
                                if (arreglo.base[i].puestoEnEvento.nombre.toLowerCase() == tipo.nombre && (arreglo.base[i].confirmado && arreglo.base[i].confirmado == true)) {
                                    confi = confi + 1;
                                }
                            }
                        }
                        break;
                    case 2:
                        if (evento.numCapB) {
                            totalTipo = evento.numCapB;
                        }
                        break;
                    case 3:
                        if (evento.numMeseros) {
                             var porIn = parseFloat(evento.porcentajeInasistencia, 10);
                             var me = parseFloat(evento.numMeseros, 10);
                             var to = Math.ceil(me + (me * (porIn / 100)));
                            totalTipo = to;

                            for (var i = 0; i < arreglo.base.length; i++) {
                                if (arreglo.base[i].puestoEnEvento.nombre.toLowerCase() == tipo.nombre && (arreglo.base[i].confirmado && arreglo.base[i].confirmado == true)) {
                                    confi = confi + 1;
                                }
                            }
                        }
                        break;

                    case 4:
                        if (evento.numBarman) {
                            totalTipo = evento.numBarman;

                            for (var i = 0; i < arreglo.base.length; i++) {
                                if (arreglo.base[i].puestoEnEvento.nombre.toLowerCase() == tipo.nombre && (arreglo.base[i].confirmado && arreglo.base[i].confirmado == true)) {
                                    confi = confi + 1;
                                }
                            }
                        }
                        break;

                    case 5:
                        if (evento.numEscamoche) {
                            totalTipo = evento.numEscamoche;

                            for (var i = 0; i < arreglo.base.length; i++) {
                                if (arreglo.base[i].puestoEnEvento.nombre.toLowerCase() == tipo.nombre && (arreglo.base[i].confirmado && arreglo.base[i].confirmado == true)) {
                                    confi = confi + 1;
                                }
                            }
                        }
                        break;

                    case 6:
                        if (evento.numParking) {
                            totalTipo = evento.numParking;

                            for (var i = 0; i < arreglo.base.length; i++) {
                                if (arreglo.base[i].puestoEnEvento.nombre.toLowerCase() == tipo.nombre && (arreglo.base[i].confirmado && arreglo.base[i].confirmado == true)) {
                                    confi = confi + 1;
                                }
                            }
                        }
                        break;

                    case 7:
                        if (evento.numSanitario) {
                            totalTipo = evento.numSanitario;

                            for (var i = 0; i < arreglo.base.length; i++) {
                                if (arreglo.base[i].puestoEnEvento.nombre.toLowerCase() == tipo.nombre && (arreglo.base[i].confirmado && arreglo.base[i].confirmado == true)) {
                                    confi = confi + 1;
                                }
                            }
                        }
                        break;

                    case 8:
                        if (evento.numSeguridad) {
                            totalTipo = evento.numSeguridad;

                            for (var i = 0; i < arreglo.base.length; i++) {
                                if (arreglo.base[i].puestoEnEvento.nombre.toLowerCase() == tipo.nombre && (arreglo.base[i].confirmado && arreglo.base[i].confirmado == true)) {
                                    confi = confi + 1;
                                }
                            }
                        }
                }
                return confi+"/"+totalTipo;
            }//getConfirmados

            getAsistencia(tipo, arreglo) {
                var asis = 0;
                for (var i = 0; i < arreglo.base.length; i++) {
                    if (arreglo.base[i].puesto.nombre.toLowerCase() == tipo.nombre && (arreglo.base[i].asistencia && arreglo.base[i].asistencia == true)) {
                        asis = asis + 1;
                    }
                }
                return asis;
            }//getAsistencia

            agregaEmpleado(e) {
                var t = this;
                var item = e.model.tipo;

                var empleadoDialog = PolymerUtils.Dialog.createAndShow(
                    {

                        type: "with-backdrop",
                        element: "vista-agrega-empleado",
                        elementReady: function (element) {
                            element.set("evento", t.evento);
                            element.set("tipoSeleccionado", item);
                            element.set("tipoEmpleadoActual", item);
                            element.set("empleadosRegistrados", t.empleadosDesgloseArray);
                            element.set("eventoId", t.evento._key);
                            element.set("tipoEmpleado", item);
                            empleadoDialog.notifyResize();
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        },
                    }
                );
            }//agregaEmpleado

            showAgrega(objecto) {
                var t = this;
                var dialogAgrega = PolymerUtils.Dialog.createAndShow(
                    {
                        type: "with-backdrop",
                        element: "actualiza-empleados-tipo",
                        title: "Registrar número de empleados",
                        message: "escribe el número de " + objecto.nombreMuestra + " necesarios para el evento",
                        elementReady: function (element) {
                            element.set("eventoId", t.evento._key);
                            element.set("tipoEmpleado", objecto);
                            dialogAgrega.notifyResize();
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Actualizar",
                            action: function (dialog, element) {
                                dialogAgrega.close();
                                element.actualizaNumEmpleado();
                            },
                            raised: true,
                            style: "color: white; background-color: var(--paper-green-700);"
                        },
                        negativeButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        }
                    }
                );
            }//showAgrega


            muestraModificaSolicitados(e) {
                var item = e.model.tipo;
                var solicitado = this.getSolicitados(item, this.evento);
                var num = parseFloat(solicitado);

                var t = this;
                PolymerUtils.Dialog.createAndShow(
                    {
                        type: "no-backdrop",
                        element: "actualiza-empleados-tipo",
                        elementReady: function (element) {
                            element.set("eventoId", t.evento._key);
                            element.set("tipoEmpleado", item);
                            element.set("numero", num);
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        negativeButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        }
                    }
                );

            }//muestraModificaSolicitados

            getPorcentaje(item) {
                if (item.porcentajeInasistencia) {
                    return item.porcentajeInasistencia;
                }
                return 0;
            }//getPorcentaje


            getColorConfirmados(arr) {
                var total = this.getEmpleadosConPorcentaje(this.evento);
                var confirmados = this.getConfirmadosTotal(arr);
                if (confirmados >= total) {
                    return "background-color: #558B2F;"
                }

                return "background-color:#E65100;"
            }//getColorConfirmados


            getColorAsistencia(arr) {
                var asistencia = 0;
                var porIn = parseFloat(this.evento.porcentajeInasistencia, 10);
                var me = parseFloat(this.evento.numMeseros, 10);
                var to = Math.ceil(me + (me * (porIn / 100)));


                var ar = arr.base;

                for (var i = 0; i < ar.length; i++) {
                    if (ar[i].puestoEnEvento.nombre.toLowerCase() == "mesero" && (ar[i].asistencia && ar[i].asistencia == true)) {
                        asistencia = asistencia + 1;
                    }
                }

                if (asistencia >= to) {
                    return "background-color: #558B2F;"
                }

                return "background-color:#E65100;"
            }//getColorAsistencia




            showT2() {
                var t = this;
                PolymerUtils.Dialog.createAndShow(
                    {
                        type: "no-backdrop",
                        element: "actualiza-porcentaje",
                        title: "Porcentaje de inasistencia",
                        message: "Durante el evento, es posible que un porcentaje de la plantilla solicitada falte,"
                            + "asi que se determina una reserva de empleados para cubrir las faltas",
                        elementReady: function (element) {
                            element.set("eventoId", t.evento._key);
                            element.set("eventoData", t.evento);
                            element.set("porIna", t.evento.porcentajeInasistencia);
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Actualizar",
                            action: function (dialog, element) {
                                element.updatePorcentaje();
                               // dialog.close();
                            },
                            raised: true,
                            style: "color: white; background-color: var(--paper-green-700);"
                        },
                        negativeButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        }
                    }
                );
            }//showT2
        }//class

        window.customElements.define(DesgloseEmpleados.is, DesgloseEmpleados);
    </script>
</dom-module>