<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../componentes/empleado-info.html">

<dom-module id="empleados-registrados">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            .avatar {
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                width: 40px !important;
                height: 40px !important;
                border: solid 1px #E0E0E0;
            }

            paper-icon-button.blue {
                --paper-icon-button-ink-color: var(--paper-orange-500);
                background-color: var(--paper-light-blue-500);
                color: white;
                border-radius: 50%;
                padding: 2px;
                width: 24px;
                height: 24px;
            }
        </style>


        <div>
            <div>
                <h1>mesa: [[mesa.numMesa]]</h1>
            </div>
            <div style="display: inline-block;">
                <paper-input style="width: 100%; display: inline-block;" label="filtro nombre" value="{{searchWord}}"></paper-input>
            </div>
        </div>

        <div style="max-height:430px;overflow-y:scroll;">
            <paper-listbox>
                <template is="dom-repeat" items="[[empleados]]" as="empleado" filter="[[computeArticleFilter(searchWord)]]"
                    mutable-data>
                    <paper-icon-item style="border-bottom:solid 1px #BDBDBD;">
                        <div class="avatar" on-click="muestraEmpData" style$="background-image: url([[getPhoto(empleado.image)]]);"
                            slot="item-icon">
                        </div>
                        <paper-item-body three-line on-click="seleccionaEmpleado">
                            <div>[[empleado.nombreEmpleado]] [[empleado.aPaternoEmpleado]]
                                [[empleado.aMaternoEmpleado]]
                                <span style$="color:[[getColorCalif(empleado.tipoCalificacion)]];">[[empleado.tipoCalificacion]]</span>
                            </div>

                            <div secondary>
                                [[empleado.puestoEnEvento.nombre]]
                            </div>
                        </paper-item-body>
                    </paper-icon-item>
                </template>
            </paper-listbox>
        </div>
    </template>

    <script>
        class EmpleadosRegistrados extends DialogLayoutClass(CustomClass(Polymer.Element)) {
            static get is() { return 'empleados-registrados'; }

            static get properties() {
                return {
                    eventoId: { type: String, notify: true },
                    empleadosAsistencia: { type: Array, notify: true, value: [] },
                    empleados: { type: Array, notify: true, value: [] },
                    mesa: { type: Object, notify: true },

                    type1: { typ: Object, notify: true },
                    tipos: {
                        type: Array, notify: true, value: [
                            { "id": 1, "tipo": "nombre" },
                            { "id": 2, "tipo": "puesto" },
                            { "id": 3, "tipo": "calificación" }
                        ]
                    },
                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready

            static get observers() {
                return [
                    'checaAsistencia(empleadosAsistencia.*)'
                ]
            }//observers

            checaAsistencia(arr) {
                var lol = [];
                for (var i = 0; i < arr.base.length; i++) {
                    if (arr.base[i].asistencia) {
                        lol.push(arr.base[i]);
                    } else {
                        console.log("no entramos al if");
                    }
                }
                this.set("empleados", lol);
            }//checaAsistencia


            seleccionaEmpleado(e) {
                var emp = e.model.empleado;
                if (this.mesa.empleadoAsignado) {
                    return PolymerUtils.Toast.show("esta mesa ya tiene un empleado asignado");
                }
                var mesaId = this.mesa._key;
                var idEv = this.eventoId;
                var collection = "eventos/" + idEv + "/mesas";
                var doc = mesaId;
                var object = { "empleadoAsignado": emp };

                var options = {
                    "collection": collection,
                    "object": object,
                };

                options["doc"] = doc;
                var t = this;
                options["success"] = function (key) {
                    PolymerUtils.Toast.show(emp.nombreEmpleado + " " + emp.aPaternoEmpleado + " fue asignado a la mesa " + t.mesa.numMesa);
                };

                options["error"] = function (err) {
                    //console.log(err);
                    PolymerUtils.Toast.show("Error al actualizar, intentalo más tarde");
                };

                firebaseHelper.update(this, options);
                this.DialogLayout_closeDialog();
            }//seleccionaEmpleado

            muestraEmpData(e) {
                var item = e.model.empleado;
                var empleadoDialog = PolymerUtils.Dialog.createAndShow(
                    {
                        type: "with-backdrop",
                        element: "empleado-info",
                        title: "Información del empleado",
                        elementReady: function (element) {
                            element.set("empleado", item);
                            empleadoDialog.notifyResize();
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        },
                    }
                );

            }//muestraEmpData

            getColorCalif(valor) {
                if (valor == "nuevo") {
                    return "blue";
                } else if (valor == "regular") {
                    return "red";
                } else if (valor == "bueno") {
                    return "green";
                } else if (valor == "plus") {
                    return "gold";
                }
            }//getCOlorCalif

            getPhoto(imagen) {
                if (imagen) {
                    return imagen;
                }
                return "../../images/download.png";
            }//getPhoto

            getValor(item) {
                var total = [];
                var context = this;
                for (var i = 0; i < item; i++) {
                    var o = [];
                    o.push({});
                    total.push(o);
                }
                return total;
            }

            computeArticleFilter(word) {
                if (!word) {
                    return null;
                }
                var input = word.toLowerCase();
                return function (salida) {
                    return (input ? (
                        (salida.nombreEmpleado ? salida.nombreEmpleado.toLowerCase().indexOf(input) != -1 : false) ||
                        (salida.aPaternoEmpleado ? salida.aPaternoEmpleado.toLowerCase().indexOf(input) != -1 : false) ||
                        (salida.aMaternoEmpleado ? salida.aMaternoEmpleado.toLowerCase().indexOf(input) != -1 : false)

                    ) : true);
                };
                
            }//computeArticleFilter

            iterateArray(array, action) {
                if (!array) {
                    console.log("Error readin non-array: " + array);
                    return;
                }
                if (!action) {
                    console.log("No action function defined for iteration");
                    return;
                }
                for (var i = 0; i < array.length; i++) {
                    if (action) {
                        action(array[i], i);
                    }
                }
            }//iterateArray
            
        }//class

        window.customElements.define(EmpleadosRegistrados.is, EmpleadosRegistrados);
    </script>
</dom-module>