<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/bootstrap-styles/bootstrap-styles.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../componentes/empleado-info.html">
<dom-module id="empleados-considerados">
    <template>
        <style include="bootstrap-styles"></style>
        <style include="shared-styles">
            :host {
                display: block;
            }

            .avatar {
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                width: 40px !important;
                height: 40px !important;
                border: solid 1px #E0E0E0;
            }

            .btn-group button {
                color: white;
                cursor: pointer;
                display: inline-block;
            }

            .btn-group button:not(:last-child) {
                border-right: none;
            }

            .btn-group:after {
                content: "";
                clear: both;
                display: table;
            }

            .btn-group button:hover {
                background-color: #3e8e41;
            }

            .circle {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                font-size: 100%;
                color: #fff;
                line-height: 50px;
                text-align: center;
                background: var(--paper-blue-500);
                position: fixed;
                right: 24px;
                bottom: 24px;
            }
        </style>
        <div class="col-xs-12">
            <div>
                <paper-input label="Busqueda por nombre" value="{{searchWord}}"></paper-input>
                <vaadin-combo-box selected-item="{{searchTipo}}" label="tipo de empleado" items="[[tiposEmpleados]]"
                    item-value-path="nombreMuestra" item-label-path="nombreMuestra">
                </vaadin-combo-box>
            </div>
            <div>
                <template is="dom-repeat" id="domListaEmp" items="[[arrayConsiderados]]" as="empleado" filter="[[activaFiltroEmpleado(searchWord,searchTipo)]]"
                    mutable-data>
                    <div class="media" style="border-bottom:solid 1px #BDBDBD;">
                        <div class="media-left" on-click="muestraEmpData">
                            <img src="[[getPhoto(empleado.image)]]" class="avatar" style="width:80px">
                        </div>
                        <div class="media-body">
                            <div style="width: 45%; display: inline-block; vertical-align: middle;">
                                <h4 class="media-heading">[[empleado.nombreEmpleado]] [[empleado.aPaternoEmpleado]]
                                    [[empleado.aMaternoEmpleado]]</h4>
                                <div>
                                    <iron-icon style="display:inline-block; width: 10%;" icon="social:person"></iron-icon>
                                    <div style="display:inline-block; width: 45%; height: 20px;">[[empleado.puestoEnEvento.nombre]]</div>

                                </div>
                                <div style$="color:[[getColorCalif(empleado.tipoCalificacion)]];">
                                    <iron-icon icon="av:equalizer" style="display: inline-block; width: 10%;"></iron-icon>
                                    <p style="display: inline-block; width: 45%; height: 20px;">[[empleado.tipoCalificacion]]</p>
                                </div>
                                <div>
                                    <iron-icon style="display:inline-block; width: 10%;" icon="communication:call"></iron-icon>
                                    <div style="display:inline-block; width: 65%;">[[empleado.telefonoPrincipal]]</div>
                                </div>
                            </div>

                            <div style="width: 45%; display: inline-block; height: 120px; vertical-align: middle;">
                                <template is="dom-if" if="[[checaRechazo(empleado)]]">
                                    <iron-icon style="display:inline-block; color:red;" icon="cancel"></iron-icon>
                                    <div style="display:inline-block;">Rechazó</div>
                                </template>
                                <template is="dom-if" if="[[!checaRechazo(empleado)]]">
                                    <template is="dom-if" if="[[estaConfirmadoEmpleado(empleado)]]">
                                        <div>
                                            <iron-icon style="display:inline-block; color:green;" icon="check-circle"></iron-icon>
                                            <div style="display:inline-block;">Confirmado</div>
                                        </div>
                                    </template>


                                    <div class="btn-group">
                                        <template is="dom-if" if="[[estaConfirmadoEmpleado(empleado)]]">

                                            <template is="dom-if" if="[[getAsistencia(empleado)]]">
                                                <iron-icon style="display:inline-block; color:green;" icon="check-circle"></iron-icon>
                                                <div style="display:inline-block;">Asistió</div>
                                            </template>
                                            <template is="dom-if" if="[[!getAsistencia(empleado)]]">
                                                <paper-icon-button icon="check" style="width: 30px; height: 30px; background-color: var(--paper-blue-500); color:white; padding:0; margin:3px;"
                                                    on-click="muestraAsistencia">
                                                    <!-- <span>
                                                        <iron-icon icon="check"></iron-icon>
                                                    </span> -->
                                                </paper-icon-button>
                                            </template>
                                        </template>
                                        <template is="dom-if" if="[[!estaConfirmadoEmpleado(empleado)]]">
                                            <paper-icon-button icon="verified-user" style="width: 30px; height: 30px; background-color: var(--paper-green-500); color:white; padding:0; margin:3px;"
                                                on-click="marcarConfirmacion">
                                                <!-- <span>
                                                    <iron-icon icon="add"></iron-icon>
                                                </span>  -->
                                            </paper-icon-button>
                                        </template>

                                        <template is="dom-if" if="[[!getAsistencia(empleado)]]">
                                            <paper-icon-button icon="block" style="width: 30px; height: 30px; background-color:var(--paper-red-500); color:white; padding:0; margin:3px;"
                                                on-click="muestraRechazo">
                                                <!-- <span>
                                                    <iron-icon icon="block"></iron-icon>
                                                </span> -->
                                            </paper-icon-button>
                                            <paper-icon-button icon="clear" style="width: 30px; height: 30px; background-color: #F4511E; color:white; padding:0; margin:3px;"
                                                on-click="muestraEliminaLista">
                                                <!-- <span>
                                                    <iron-icon icon="clear"></iron-icon>
                                                </span> -->
                                            </paper-icon-button>
                                        </template>
                                    </div>
                                </template>
                            </div>
                            <!--termina cuadro de opciones-->
                        </div>
                    </div>
                </template>
            </div>
        </div>

        <div on-click="showEmpleados" class="circle">
            [[numAsistencia]]/[[getEmpleados(evento)]]</div>
    </template>

    <script>
        class EmpleadosConsiderados extends CustomClass(Polymer.Element) {
            static get is() { return 'empleados-considerados'; }

            static get properties() {
                return {
                    evento: { type: Object, notify: true },
                    arrayConsiderados: { type: Array, notify: true },
                    tiposEmpleados: {
                        type: Array, notify: true, value: [
                            { "id": 1, "nombre": "capitán de meseros", "nombreMuestra": "Capitán A" },
                            { "id": 2, "nombre": "capitán de meseros", "nombreMuestra": "Capitan B" },
                            { "id": 3, "nombre": "mesero", "nombreMuestra": "Meseros" },
                            { "id": 4, "nombre": "barman", "nombreMuestra": "Barman" },
                            { "id": 5, "nombre": "escamoche", "nombreMuestra": "Escamoches" },
                            { "id": 6, "nombre": "valet Parking", "nombreMuestra": "Valet Parking" },
                            { "id": 7, "nombre": "valet sanitario", "nombreMuestra": "Valet Sanitario" },
                            { "id": 8, "nombre": "seguridad", "nombreMuestra": "Seguridad" },
                        ]
                    },

                    searchWord: { type: String, notify: true, value: null, },
                    searchTipo: { type: Object, notify: true, value: null },
                    // numConfirmados:{type:Number, notify:true},
                    numAsistencia: { type: Number, notify: true }
                };
            }//properties

            constructor() {
                super();
            }//constructor
            static get observers() {
                return [
                    '_empleadoArrayChanged(arrayConsiderados.*)',

                ]
            }//observers

            getEmpleados(evento) {
                var total = 0;
                if (evento.numCapA) {
                    total = total + parseFloat(evento.numCapA, 10);
                }
                if (evento.numCapB) {
                    total = total + parseFloat(evento.numCapB, 10);
                }
                if (evento.numMeseros) {

                    var porIn = parseFloat(evento.porcentajeInasistencia, 10);
                    var me = parseFloat(evento.numMeseros, 10);
                    var to = Math.ceil(me + (me * (porIn / 100)));



                    //total = total + parseFloat(evento.numMeseros, 10);
                    total = total + to;
                }
                if (evento.numBarman) {
                    total = total + parseFloat(evento.numBarman, 10);
                }
                if (evento.numEscamoche) {
                    total = total + parseFloat(evento.numEscamoche, 10);
                }
                if (evento.numParking) {
                    total = total + parseFloat(evento.numParking, 10);
                }

                if (evento.numSanitario) {
                    total = total + parseFloat(evento.numSanitario, 10);
                }

                if (evento.numSeguridad) {
                    total = total + parseFloat(evento.numSeguridad, 10);
                }
                return total;
            }//getEmpleados


            _empleadoArrayChanged() {
                console.log("empleados-considerados arrayConsiderados", this.arrayConsiderados);
                var num = this.arrayConsiderados;
                var numCon = 0;
                var numAs = 0;
                for (var i = 0; i < num.length; i++) {

                    // if (num[i].confirmado == true) {
                    // numCon = numCon + 1;
                    // }

                    if (num[i].asistencia == true) {
                        numAs = numAs + 1;
                    }
                }
                // this.set("numConfirmados", numCon);
                // this.set("numRegistrados", num);
                this.set("numAsistencia", numAs);
            }
            ready() {
                super.ready();
            }//ready

            getPhoto(imagen) {
                if (imagen) {
                    return imagen;
                }
                return "../../images/download.png";
            }//getPhoto


            showEmpleados() {
                var t = this;
                var empleadoDialog = PolymerUtils.Dialog.createAndShow(
                    {
                        type: "with-backdrop",
                        title: "Contador de empleados",
                        message: "Total de empleados solicitados: " + t.getEmpleados(t.evento) +
                            "\nEmpleados que asistieron: " + t.numAsistencia,
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        },
                    }
                );
            }//showEmpleados

            muestraEmpData(e) {
                var item = e.model.empleado;
                var empleadoDialog = PolymerUtils.Dialog.createAndShow(
                    {
                        type: "with-backdrop",
                        element: "empleado-info",
                        title: "Información del empleado",
                        elementReady: function (element) {
                            element.set("empleado", item);
                            empleadoDialog.notifyResize();
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        },
                    }
                );
            }//muestraEmpData



            muestraAsistencia(e) {
                var item = e.model.empleado;
                var t = this;
                var empleadoDialog = PolymerUtils.Dialog.createAndShow(
                    {
                        type: "modal",
                        title: "Agregar asistencia al evento",
                        message: "El empleado " + item.nombreEmpleado + " " + item.aPaternoEmpleado
                            + " asistió al evento",
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Confirmar asistencia",
                            action: function (dialog, element) {
                                t.asignaAsistencia(item);
                                dialog.close();
                                console.log("Cancelando");
                            },
                            raised: true,
                        },
                        negativeButton: {
                            text: "Cancelar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        }
                    }
                );
            }//muestraRechazo


            asignaAsistencia(emp) {
                var item = emp;
                var today = new Date();

                var myToday = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0);
                var fechaEvento = new Date(this.evento.fechaEvento.seconds * 1000);
                var myFechaEvento = new Date(fechaEvento.getFullYear(), fechaEvento.getMonth(), fechaEvento.getDate(), 0, 0, 0);

                // console.log("estas son las fechas", myToday, myFechaEvento);

                if (myToday.getTime() != myFechaEvento.getTime()) {
                    return PolymerUtils.Toast.show("Todavia no estamos en el evento");
                }

                var check = false;
                if (item.asistencia == false) {
                    check = true;
                } else {
                    check = false;
                }

                var eventoId = this.evento._key;
                var empId = item._key;
                var collection = "eventos/" + eventoId + "/empleados";
                var doc = empId;
                var object = { "asistencia": check };
                var success = null;
                var error = null;
                if (this.successCallback)
                    success = (this.successCallback);

                if (this.errorCallback)
                    error = (this.errorCallback);

                var options = {
                    "collection": collection,
                    "object": object,
                    "includeTimestamp": this.includeTimestamp
                };
                if (doc) {
                    options["doc"] = doc;
                }
                options["success"] = function (key) {
                    if (check == true) {
                        PolymerUtils.Toast.show(item.nombreEmpleado + " " + item.aPaternoEmpleado + " asistió al evento");
                    } else {
                        PolymerUtils.Toast.show(item.nombreEmpleado + " " + item.aPaternoEmpleado + " faltó al evento");
                    }
                };
                options["error"] = function (err) {
                    PolymerUtils.Toast.show("Error al actualizar");
                };
                firebaseHelper.update(this, options);
            }//asignaAsistencia


            marcarConfirmacion(e) {
                var emp = e.model.empleado;
                var eventoId = this.evento._key;
                var empId = emp._key;
                var collection = "eventos/" + eventoId + "/empleados";
                var doc = empId;
                var object = { "confirmado": true, "asistencia": false };
                var success = null;
                var error = null;
                if (this.successCallback)
                    success = (this.successCallback);

                if (this.errorCallback)
                    error = (this.errorCallback);

                var options = {
                    "collection": collection,
                    "object": object,
                };
                if (doc) {
                    options["doc"] = doc;
                }
                options["success"] = function (key) {
                    PolymerUtils.Toast.show("Empleado confirmado al evento");
                };
                options["error"] = function (err) {
                    //console.log(err);
                    PolymerUtils.Toast.show("Error al actualizar");
                };
                firebaseHelper.update(this, options);
            }//marcarConfirmacion



            muestraRechazo(e) {
                var item = e.model.empleado;
                var t = this;
                var empleadoDialog = PolymerUtils.Dialog.createAndShow(
                    {
                        type: "modal",
                        title: "Marcar rechazo al evento",
                        message: "El empleado " + item.nombreEmpleado + " " + item.aPaternoEmpleado
                            + " notificó que no asistirá a este evento",
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Marcar rechazo",
                            action: function (dialog, element) {
                                t.rechazoEvento(item);
                                dialog.close();
                                console.log("Cancelando");
                            },
                            raised: true,
                        },
                        negativeButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        }
                    }
                );
            }//muestraRechazo


            rechazoEvento(item) {
                var emp = item;
                var eventoId = this.evento._key;
                var empId = emp._key;
                var collection = "eventos/" + eventoId + "/empleados";
                var doc = empId;
                var object = { "rechazado": true };
                var success = null;
                var error = null;
                if (this.successCallback)
                    success = (this.successCallback);

                if (this.errorCallback)
                    error = (this.errorCallback);

                var options = {
                    "collection": collection,
                    "object": object,
                };
                if (doc) {
                    options["doc"] = doc;
                }
                options["success"] = function (key) {

                    PolymerUtils.Toast.show("El empleado rechazo el  evento");
                };
                options["error"] = function (err) {
                    // console.log(err);
                    PolymerUtils.Toast.show("Error al actualizar");
                };
                firebaseHelper.update(this, options);
            }//rechazoEvento


            muestraEliminaLista(e) {
                var item = e.model.empleado;
                var t = this;
                var empleadoDialog = PolymerUtils.Dialog.createAndShow(
                    {
                        type: "modal",
                        title: "Quitar empleado de la lista",
                        message: "El empleado " + item.nombreEmpleado + " " + item.aPaternoEmpleado
                            + " no será considerado para este evento",
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Retirar de la lista",
                            action: function (dialog, element) {
                                t.eliminaLista(item);
                                dialog.close();
                            },
                            raised: true,
                        },
                        negativeButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        }
                    }
                );
            }//muestraEliminaLista


            eliminaLista(item) {
                var emp = item;
                var eventoId = this.evento._key;
                var empId = emp._key;
                var collection = "eventos/" + eventoId + "/empleados";
                var doc = empId;
                var success = null;
                var error = null;
                if (this.successCallback)
                    success = (this.successCallback);

                if (this.errorCallback)
                    error = (this.errorCallback);

                var options = {
                    "collection": collection,
                };
                if (doc) {
                    options["doc"] = doc;
                }
                options["success"] = function (key) {
                    PolymerUtils.Toast.show("Empleado retirado de la lista");
                };
                options["error"] = function (err) {
                    //console.log(err);
                    PolymerUtils.Toast.show("Error al actualizar");
                };
                firebaseHelper.deleteDocument(this, options);
            }//eliminaLista


            activaFiltroEmpleado(string, almacen) {
                if (string) {
                    string = string.toLowerCase();
                }
               
                return function (compra) {
                    return (string ? (
                        (compra.nombreEmpleado ?
                            compra.nombreEmpleado.toLowerCase().indexOf(string) != -1 : false)
                    ) : true) || (string ? (
                        (compra.aPaternoEmpleado ?
                            compra.aPaternoEmpleado.toLowerCase().indexOf(string) != -1 : false)
                    ) : true) || (string ? (
                        (compra.aMaternoEmpleado ?
                            compra.aMaternoEmpleado.toLowerCase().indexOf(string) != -1 : false)
                    ) : true)
                        && (almacen ?
                            compra.puestoEnEvento.nombre.toLowerCase() == almacen.nombre.toLowerCase() : true);
                };

            }//activaFiltroEmpleado

            getColorConfirmados(confirmados, total) {
                if (confirmados >= total) {
                    return "background-color: #558B2F;"
                }
                return "background-color:#FDD835;"
            }//getColorConfimados

            getColorCalif(valor) {
                if (valor == "nuevo") {
                    return "blue";
                } else if (valor == "regular") {
                    return "red";
                } else if (valor == "bueno") {
                    return "green";
                } else if (valor == "plus") {
                    return "gold";
                }
            }//getColorCalif

            estaConfirmadoEmpleado(empleado) {
                if (empleado.confirmado) {
                    return true;
                }
                return false;
            }//estaCOnfirmadoEmpleado

            checaRechazo(emp) {
                if (emp.rechazado) {
                    return true;
                }
                return false;
            }//checaRechazo

            getAsistencia(obj) {
                if (obj.asistencia) {
                    return obj.asistencia
                }
                return false;
            }//getAsistencia
        }//class

        window.customElements.define(EmpleadosConsiderados.is, EmpleadosConsiderados);
    </script>
</dom-module>