2<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="my-informacion.html">
<link rel="import" href="my-personal.html">
<link rel="import" href="my-mesas.html">

<dom-module id="evento-info">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            paper-tabs {
                margin: 0;
                display: flex;
                align-items: flex-end;
                height: 60px;
                background: white;
                color: black;
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
                width: 100%;
                text-transform: uppercase;
                margin-bottom: 1px;
                --paper-tabs-selection-bar-color: #004D40;
            }
        </style>

        <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
        </app-location>

        <div style="width: 100%; height: 20%; font-size: 130%; text-align: center; background-color: #37474F; color:white;">
            [[eventoResult.nombreEvento]] <div> <span style="padding-right:10px;">
                    <iron-icon icon="social:people"></iron-icon>
                </span>[[eventoResult.numeroAsistentes]] asistentes</div>
        </div>
        <paper-tabs selected="{{selected}}">
            <paper-tab>Información</paper-tab>
            <paper-tab>Personal</paper-tab>
            <paper-tab>Mesas</paper-tab>
        </paper-tabs>

        <iron-pages selected="{{selected}}">
            <div>
                <dom-access path="eventos/gestion-datos-evento">
                    <my-informacion evento="[[eventoResult]]" empleados-registrados="[[empleadoArray]]"></my-informacion>
                </dom-access>
            </div>
            <div>
                <dom-access path="eventos/gestion-personal">
                    <my-personal evento="[[eventoResult]]" empleados-registrados="[[empleadoArray]]"></my-personal>
                </dom-access>
            </div>
            <div>
                <dom-access path="eventos/gestion-mesas">
                    <my-mesas evento="[[eventoResult]]" empleados-registrados="[[empleadoArray]]"></my-mesas>
                </dom-access>
            </div>
        </iron-pages>
    </template>


    <script>
        class EventoInfo extends CustomClass(Polymer.Element) {
            static get is() { return 'evento-info'; }

            static get properties() {
                return {
                    selected: {//el valor para paper-tabs y iron-pages
                        type: Number,
                        value: 0
                    },
                    route: {
                        //este el el objecto que escucha app-location para verificar a que proyecto solicitamos
                        type: Object,
                        notify: true,
                        observer: "_routeEventoChanged"
                    },
                    eventoId: {
                        //aqui almacenamos la id del proyecto que queremos ver
                        type: String,
                        notify: true,
                        observer: "eventoIdChanged"
                    },

                    successCallback: { type: String, notify: true },
                    errorCallback: { type: String, notify: true },

                    resultCallback: { type: String, notify: true },
                    eventoResult: { type: Object, notify: true, value: {} },
                    empleadoArray: { type: Array, notify: true, value: [] },

                    empleadoRevisa: { type: Array, notify: true, value: [] },

                    numEmpleadosRegistrados: { type: Number, notify: true }
                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready

             static get observers(){
                 return [
                     '_empleadoArrayChanged(empleadoArray.*)'
                 ]
             }

             _empleadoArrayChanged(){
                 console.log("entramos a empleadoArrayChanged",this.empleadoArray);
             }


            _routeEventoChanged(ruta) {
                /*para que la informacion del proyecto cargue a los que deseamos
                modifcamos la variable con lo que recibimos del objecto de la ruta*/
                if (ruta.path.indexOf("/eventos/evento-info/") != -1)
                    this.set("eventoId", ruta.path.replace("/eventos/evento-info/", ""));
            }

            eventoIdChanged(id) {//aqui escuchamos si cambió el id del proyecto, pero aqui le agregaremos de una vez la consulta a firebase
                var doc = id;
                this.generaConsulta(doc);
                this.consultaEmpleados(doc);
            }// projectIdChanged

            setQueryDocumentResult(data) {
                this.set("eventoResult", data);
            }


            generaConsulta(id) {
                if (this.lastQueryDocument) {
                    this.lastQueryDocument();
                }
                var collection = "eventos";
                var doc = id;
                var context = this;
                var callback = null;
                var error = null;
                if (this.resultCallback)
                    callback = (this.resultCallback);
                if (this.errorCallback)
                    error = (this.errorCallback);
                var options = {
                    "collection": collection,
                };
                if (doc) {
                    options["doc"] = doc;

                }
                if (callback) {
                    options["callback"] = function (document) {
                        context.setQueryDocumentResult(document);
                        eval.call(window, '(function (document) {' + callback + '})')(document);
                    };
                }
                else {
                    options["callback"] = function (document) {
                        context.setQueryDocumentResult(document);
                    };
                }
                if (error) {
                    options["error"] = function (err) {
                        eval.call(window, '(function (err) {' + error + '})')(err);
                    };
                }
                this.set("lastQueryDocument", firebaseHelper.queryDocument(this, options));
            }//generaConsulta


            consultaEmpleados(id) {
                var idEvento = id;
                if (this.lastQueryCollection) {
                    this.lastQueryCollection();
                }
                var collection = "eventos/" + idEvento + "/empleados";
                var context = this;
                var callback = null;
                var error = null;
                if (this.resultCallback)
                    callback = (this.resultCallback);
                if (this.errorCallback)
                    error = (this.errorCallback);
                var options = {
                    "collection": collection,
                    "array": this.empleadoArray,
                    "arrayName": "empleadoArray"
                };

                if (callback) {
                    options["callback"] = function (empleadoArray) {
                        eval.call(window, '(function (collection) {' + callback + '})')(empleadoArray);
                        context.set("numEmpleadosRegistrados", context.empleadoArray.length);
                    };
                }
                else {
                    options["callback"] = function (collection) {
                        context.set("numEmpleadosRegistrados", context.empleadoArray.length);
                    };
                }
                if (error) {
                    options["error"] = function (err) {
                        eval.call(window, '(function (err) {' + error + '})')(err);
                    };
                }
                this.set("lastQueryCollection", firebaseHelper.queryCollection(this, options));
            }//consultaEmpleados
            
        }//class

        window.customElements.define(EventoInfo.is, EventoInfo);
    </script>
</dom-module>