<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/bootstrap-styles/bootstrap-styles.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="evento-item">
    <template>
        <style include="bootstrap-styles"></style>
        <style include="shared-styles">
            .card2 {
                margin: 10px;
                padding: 16px;
                height: 70px;
                color: #757575;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            }

            .item {
                color: white;
                background-color: var(--paper-brown-300);
                width: 150px;
                height: 150px;
                margin: 10px;
                border: 10px;
                align-content: center;
            }
        </style>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-xs-2">
                    <iron-icon icon="social:pages"></iron-icon>
                </div>
                <div class="col-xs-10">
                    [[eventoData.nombreEvento]]
                </div>
            </div>
            <div class="panel-body">
                <div class="col-xs-4">
                    <div class="col-xs-12">
                        <div class="col-xs-2">
                            <iron-icon icon="date-range"></iron-icon>
                        </div>
                        <div class="col-xs-10">
                            [[PolymerUtils_getDateString(eventoData.fechaEvento)]]
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="col-xs-12">
                        <div class="col-xs-2">
                            <iron-icon icon="social:people"></iron-icon>
                        </div>
                        <div class="col-xs-10">
                            [[eventoData.numeroAsistentes]] asistentes
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script>
        class EventoItem extends CustomClass(Polymer.Element) {
            static get is() { return 'evento-item'; }

            static get properties() {
                return {
                    eventoData: { type: Object, notify: true }
                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready

        }//class

        window.customElements.define(EventoItem.is, EventoItem);
    </script>
</dom-module>