<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">

<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box-light.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="nuevo-evento.html">
<link rel="import" href="evento-item.html">
<link rel="import" href="../componentes/my-info2.html">

<dom-module id="evento-main">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      paper-icon-button {
        opacity: 0.4;
        width: 35px;
        height: 35px;
        padding: 2px;
      }
    </style>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <div style="margin: 10px;">
      <paper-input label="busque por nombre de evento" value="{{searchWord}}"></paper-input>
      <vaadin-combo-box selected-item="{{filtraEventos}}" label="Estado del evento" items="[[tipos]]" item-value-path="nombre"
        item-label-path="nombre">
      </vaadin-combo-box>
    </div>
    <template is="dom-repeat" items="[[eventosArray]]" as="evento" filter="[[computeArticleFilter(searchWord,filtraEventos)]]"
      mutable-data>
      <template is="dom-if" if="[[!checaFinalizado(evento)]]">
        <a href="/eventos/evento-info/[[evento._key]]">
          <div class="card" style="background-color: #C8E6C9 !important; color: black !important;">
            <div >
              [[evento.nombreEvento]]
            </div>

            <div style="display:inline-block;">
              <span>
                <iron-icon icon="date-range"></iron-icon>
              </span>
              [[PolymerUtils_getDateString(evento.fechaEvento)]]
            </div>

            <div style="display:inline-block;"><span>
                <iron-icon icon="social:people"></iron-icon>
              </span> [[evento.numeroAsistentes]] asistentes</div>
          </div>
        </a>
      </template>


      <template is="dom-if" if="[[checaFinalizado(evento)]]">
        <div class="card" on-click="abreFinalizado" style="background-color: #FFCDD2 !important; color: black !important; cursor: pointer;">
          <div>
            <span>
              <iron-icon icon="done-all" style="color:red;"></iron-icon>
            </span>[[evento.nombreEvento]] - <span style="font-weight: bold;"> FINALIZADO</span>
          </div>
          <div style="display: inline-block;">
            <span>
              <iron-icon icon="date-range"></iron-icon>
            </span>
            [[PolymerUtils_getDateString(evento.fechaEvento)]]
          </div>

          <div style="display: inline-block;"><span>
              <iron-icon icon="social:people"></iron-icon>
            </span> [[evento.numeroAsistentes]] asistentes</div>
        </div>
        </div>
      </template>
    </template>

    <iron-media-query query="(max-height:570px)" query-matches="{{wide}}"></iron-media-query>
    <dom-access path="eventos/agregar-evento">
      <paper-fab icon="add" style="position: fixed; right: 24px; bottom: 24px;" on-click="showNuevoEvento"></paper-fab>
    </dom-access>
  </template>

  <script>
    class EventoMain extends CustomClass(Polymer.Element) {
      static get is() { return 'evento-main'; }

      static get properties() {
        return {
          tipos: {
            type: Array, notify: true, value: [
              { "id": 0, "nombre": "todos" },
              { "id": 1, "nombre": "en curso" },
              { "id": 2, "nombre": "finalizados" },
            ]
          },

          tipoElegido: { type: Object, notify: true },

          route: {
            //este el el objecto que escucha app-location para verificar a que proyecto solicitamos
            type: Object,
            notify: true,
          },
          eventosArray: { type: Array, notify: true, value: [] },
          wide: { type: Boolean, notify: true, observer: "cambia" },
          clase: { type: String, notify: true },
          filtraEventos: { type: Object, notify: true, value: { "id": 1, "nombre": "en curso" } }
        };
      }//properties

      constructor() {
        super();
        this.queryCollection();
      }//constructor

      ready() {
        super.ready();
      }//ready

      cambia(w) {
        if (w == false) {
          this.set("clase", "height: 530px; width: 100%;overflow-y: scroll; display:block;");
        } else {
          this.set("clase", "height: 400px; width: 100%;overflow-y: scroll; display:block;");
        }
      }//cambia

      cambiaTipo(e) {
        var item = e.model.tipoBusca;
        this.set("tipoElegido", item);
      }//cambiaTipo

      showNuevoEvento() {
        PolymerUtils.Dialog.createAndShow({
          type: "modal",
          element: "nuevo-evento",
          title: "Nuevo Evento",
          style: "width: 400px;",
          smallStyle: "width: 100% margin: 0 !important;",
          positiveButton: {
            text: "Crear Evento",
            action: function (dialog, element) {
              element.crearEvento();
              //dialog.close();
            },
            raised: true,
            style: "color: white; background-color: var(--paper-green-700);"
          },
          negativeButton: {
            text: "Cerrar",
            action: function (dialog, element) {
              dialog.close();
            }
          }
        });
      }//showNuevoEvento

      queryCollection() {
        if (this.lastQueryCollection) {
          this.lastQueryCollection();
        }
        var collection = "eventos"
        var context = this;
        var callback = null;
        var error = null;
        ;
        var options = {
          "collection": collection,
          "array": this.eventosArray,
          "arrayName": "eventosArray"
        };

        if (callback) {
          options["callback"] = function (collectionArray) {
            eval.call(window, '(function (collection) {' + callback + '})')(collectionArray);
          };
        }
        else {
          options["callback"] = function (collection) {
          };
        }
        if (error) {
          options["error"] = function (err) {
            eval.call(window, '(function (err) {' + error + '})')(err);
          };
        }

        this.set("lastQueryCollection", firebaseHelper.queryCollection(this, options));
      }//queryCollection



      checaFinalizado(evento) {
        if (evento.finalizado) {
          return true;
        }
        return false;
      }
      abreFinalizado(e) {
        var item = e.model.evento;
        var t = this;
        var vistaDialos = PolymerUtils.Dialog.createAndShow(
          {
            type: "no-backdrop",
            element: "my-info2",

            elementReady: function (element) {
              element.set("evento", item);
              vistaDialos.notifyResize();
            },
            style: "width: 400px;",
            smallStyle: "width: 100% !important;",
            negativeButton: {
              text: "Cerrar",
              action: function (dialog, element) {
                dialog.close();
              }
            }
          }
        );
      }//abreFinalizado


      computeArticleFilter(string, tipo) {

        if (string) {
          string = string.toLowerCase();
        }

        return function (compra) {

          if (compra.nombreEvento.toLowerCase().indexOf(string) != -1 && (tipo ? tipo.id == 2 : true)) {
            if (compra.finalizado) {
              return compra
            }
          }
          if (compra.nombreEvento.toLowerCase().indexOf(string) != -1 && (tipo ? tipo.id == 1 : true)) {
            if (!compra.finalizado) {
              return compra
            }
          }
          if (compra.nombreEvento.toLowerCase().indexOf(string) != -1 && (tipo ? tipo.id == 0 : true)) {
            return compra
          }
        };
      }//computeArticleFilter

    }//class

    window.customElements.define(EventoMain.is, EventoMain);
  </script>
</dom-module>