<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../componentes/agrega-mesas.html">
<link rel="import" href="../componentes/gestiona-reporte.html">
<link rel="import" href="../componentes/cambia-mesa.html">
<link rel="import" href="../componentes/empleado-info.html">

<dom-module id="mesas-registradas">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            .grid-container {
                display: grid;
                grid-template-columns: auto auto auto;
                margin: 10px;
                width: 95%;
            }

            .grid-item {
                margin: 5px;
                border: solid 1px black;
                border-radius: 5px;
                font-size: 20px;
                text-align: center;
                transition: .3s background-color;
            }

            .grid-item:hover,
            .grid-item:focus {
                cursor: pointer !important;
                background-color: var(--paper-blue-800) !important;
                font-size: 20px;
                text-align: center;
            }

            .avatar {
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                width: 40px !important;
                height: 40px !important;
                border: solid 1px #E0E0E0;
            }
        </style>

        <template is="dom-if" if="{{muestraMesasControl}}">
            <div class="card">
                <agrega-mesas evento-id="[[evento._key]]" emp-regis="[[empleadosRegistrados]]"></agrega-mesas>
            </div>
        </template>

        <div style=" max-height: 400px; overflow-y: scroll;">
            <template is="dom-if" if="{{!open}}">

                <template is="dom-if" if="{{!muestraMesasControl}}">
                    <div>
                        <paper-input id="numMesaInput" auto-validate allowed-pattern="[0-9]" label="Buscar mesa" value="{{searchWord}}">
                            <paper-icon-button slot="suffix" on-click="clearInput" icon="clear" alt="clear" title="clear">
                            </paper-icon-button>
                        </paper-input>
                    </div>

                    <div>
                        <paper-button raised on-click="abreActualizaMesa">Modifica número de mesas</paper-button>
                    </div>
                </template>
                <template is="dom-repeat" items="[[mesasEvento]]" as="mesa" filter="[[computeArticleFilter(searchWord)]]">
                    <div class="card" style=" padding: 0 !important; display:inline-block; margin: 2px !important; width: 150px !important; height: 150px !important; align-content: center !important;"
                        on-click="muestraData" value="[[mesa]]">
                        <img src="../../images/restaurant-table.png" style="display: block; margin-left: auto; margin-right: auto;width:100px; height: 100px; text-align: center;">
                        <div>
                            <h4 style="display:inline-block; margin:0; padding-left: 5px; width:10% ;height: 20px;">[[mesa.numMesa]]</h4>
                            <p style="display:inline-block; margin:0; padding-left: 5px; width: 80%;height: 20px;">
                                [[mesa.comentario]]</p>
                        </div>
                    </div>
                </template>
            </template>
        </div>


        <template is="dom-if" if="{{open}}">
            <div>
                <div style="width: 100%; height: 35px; background-color: #616161; color: white;" on-click="cierraData">
                    <span>
                        <iron-icon icon="expand-more"></iron-icon>
                    </span> Volver a las mesas
                </div>
                <div style="display: inline-block; border: solid 5px #BDBDBD; border-radius: 5px; width: 95%; padding: 5px;">
                    <paper-input label="Número de mesa" style="display:inline-block; width: 25%;" id="numMesaInputCambia"
                        value="[[numMesa.numMesa]]" error="Verifica tu información" auto-validate allowed-pattern="[0-9]"></paper-input>
                    <paper-input label="Comentario" style="display:inline-block; width: 35%;" id="comenMesaInput" value="[[numMesa.comentario]]"
                        error="Verifica tu información"></paper-input>
                    <paper-button on-click="actualizaComentario" style="color:blue; display:inline-block; width: 25%;">Editar
                        Comentario</paper-button>
                </div>

                <paper-listbox style="height: 200px;overflow-y: scroll;">
                    <!-- <template is="dom-repeat" items="[[empleadosEnMesa]]" as="mesaData" mutable-data> -->
                    <template is="dom-if" if="[[checaMesa(numMesa)]]">
                        <paper-icon-item style="border-bottom: solid 1px #BDBDBD">
                            <div class="avatar" on-click="muestraEmpData" style$="background-image: url([[getPhoto(numMesa.empleadoAsignado.image)]]);"
                                slot="item-icon">
                            </div>
                            <paper-item-body three-line>
                                <div>{{numMesa.empleadoAsignado.nombreEmpleado}}
                                    {{numMesa.empleadoAsignado.aPaternoEmpleado}}
                                    {{numMesa.empleadoAsignado.aMaternoEmpleado}}
                                </div>
                                <div style$="color:[[getColorCalif(numMesa.empleadoAsignado.tipoCalificacion)]];">{{numMesa.empleadoAsignado.tipoCalificacion}}</div>
                                <div>
                                    {{numMesa.empleadoAsignado.puestoEnEvento.nombre}}
                                </div>
                            </paper-item-body>
                            <paper-menu-button ignore-select id="menuButtonOpciones" vertical-align="top"
                                horizontal-align="right">
                                <paper-icon-button icon="menu" slot="dropdown-trigger" alt="menu"></paper-icon-button>
                                <paper-listbox slot="dropdown-content">

                                    <paper-item on-click="muestraMenuReporte">Agregar reporte</paper-item>
                                    <paper-item on-click="muestraCambiaMesa">Cambiar de mesa</paper-item>
                                    <paper-item on-click="quitaEmpleadoMesa">Quitar empleado de la mesa</paper-item>
                                </paper-listbox>
                            </paper-menu-button>
                        </paper-icon-item>
                    </template>
                    <!-- </template> -->
                </paper-listbox>
            </div>
        </template>

    </template>

    <script>
        class MesasRegistradas extends CustomClass(Polymer.Element) {
            static get is() { return 'mesas-registradas'; }

            static get properties() {
                return {
                    evento: { type: Object, notify: true, value: {}, observer: "escuchaEvento" },
                    empleadosRegistrados: { type: Array, notify: true, value: [] },
                    editarAccion: { type: Boolean, notify: true, value: false },
                    successCallback: { type: String, notify: true },
                    errorCallback: { type: String, notify: true },

                    arrayMesas: { type: Array, notify: true, value: [] },
                    open: { type: Boolean, notify: true, value: false },
                    numMesa: { type: Object, notify: true },
                    mesasEvento: { type: Array, notify: true, value: [] },
                    muestraMesasControl: { type: Boolean, notify: true },

                    empleadosEnMesa: { type: Array, notify: true, value: [] }
                };
            }//properties


            constructor() {
                super();

            }//constructor

            ready() {
                super.ready();
            }//ready

            escuchaEvento(ev) {
                var mesas = ev.numeroMesas;
                var ar = [];
                for (var i = 0; i < mesas; i++) {
                    ar.push(i + 1);
                }
                this.set("arrayMesas", ar);
                this.solicitaMesas();
            }//eschuchaEvento

            abreActualizaMesa() {
                var t = this;
                var mes = t.mesasEvento;
                var empleadoDialog = PolymerUtils.Dialog.createAndShow(
                    {
                        type: "with-backdrop",
                        element: "agrega-mesas",
                        title: "Información del empleado",
                        elementReady: function (element) {
                            element.set("eventoId", t.evento._key);
                            element.set("empRegis", t.empleadosRegistrados);
                            element.set("mesasRegis", mes);
                            // element.set("empleado", item);
                            empleadoDialog.notifyResize();
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        },

                    }
                );
            }


            muestraEmpData() {
                var item = this.numMesa.empleadoAsignado;
                var empleadoDialog = PolymerUtils.Dialog.createAndShow(
                    {
                        type: "with-backdrop",
                        element: "empleado-info",
                        title: "Información del empleado",
                        elementReady: function (element) {
                            element.set("empleado", item);
                            empleadoDialog.notifyResize();
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        },

                    }
                );

            }//muestraEmpData


            muestraEdita() {
                this.set("editarAccion", true);
            }//muestraEdita

            cancelar() {
                this.set("editarAccion", false);
            }//cancelar

            muestraData(e) {
                var mesa = e.model.mesa;
                console.log("muestraData", mesa);
                this.set("numMesa", mesa);
                this.set("open", true);
            }//muestradata

            cierraData() {
                this.set("open", false);
            }//cierraData

            static get observers() {
                return [
                    'cambiaEmpleadosAsignados(numMesa)'
                ]
            }//observers

            cambiaEmpleadosAsignados(mesa) {
                var arr = [];
                if (!mesa.empleadoAsignado) {
                    return;
                }
                arr.push(mesa);
                this.set("empleadosEnMesa", arr);
            }//cambiaEmpleadosAsignados

            solicitaMesas() {
                var t = this;
                var id = this.evento._key;
                if (this.lastQueryCollection) {
                    this.lastQueryCollection();
                }
                var collection = "eventos/" + id + "/mesas";
                var context = this;
                var callback = null;
                var error = null;

                var options = {
                    "collection": collection,
                    "array": context.mesasEvento,
                    "arrayName": "mesasEvento"
                };

                options["callback"] = function (collectionArray) {
                    console.log('%c Callback fired from collection listener', 'background: #222; color: white;');
                };

                options["callback"] = function (collection) {
                    console.log('%c Callback fired from collection listener', 'background: #222; color: white;', collection);
                    if (collection.length == 0) {
                        t.set("muestraMesasControl", true);
                    } else {
                        t.set("muestraMesasControl", false);
                    }
                };

                options["error"] = function (err) {
                    console.log(err)
                };
                if (id == null) {
                    return;
                }
                options.specialRef = firebase.firestore().collection("eventos").doc(id).collection("mesas").orderBy("numMesa");
                this.set("lastQueryCollection", firebaseHelper.queryCollection(this, options));
            }//solicitaMesas


            muestraMenuReporte() {
                var t = this;
                var item = this.numMesa;
                var eventoRegistrar = {
                    "eventoId": t.evento._key,
                    "nombre": t.evento.nombreEvento,
                    "fecha": t.evento.fechaEvento,
                };

                var empleadoRegistrar = {
                    "empleadoId": item.empleadoAsignado.empleadoId,
                    "aPaternoEmpleado": item.empleadoAsignado.aPaternoEmpleado,
                    "aMaternoEmpleado": item.empleadoAsignado.aMaternoEmpleado,
                    "nombreEmpleado": item.empleadoAsignado.nombreEmpleado,
                    "puesto": item.empleadoAsignado.puesto,
                    "califiAnterior": item.empleadoAsignado.calificacion
                };

                this.shadowRoot.querySelector("#menuButtonOpciones").close();

                PolymerUtils.Dialog.createAndShow(
                    {
                        type: "modal",
                        element: "gestiona-reporte",
                        title: "Generar reporte al empleado " + empleadoRegistrar.nombreEmpleado
                            + " " + empleadoRegistrar.aPaternoEmpleado + " " + empleadoRegistrar.aMaternoEmpleado,
                        elementReady: function (element) {
                            element.set("evento", eventoRegistrar);
                            element.set("empleado", empleadoRegistrar);
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Agregar reporte",
                            action: function (dialog, element) {
                                element.guardaIncidencia();
                                dialog.close();
                            }
                        },
                        negativeButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        }
                    });
            }//muestraMenuReporte


            quitaEmpleadoMesa() {
                this.shadowRoot.querySelector("#menuButtonOpciones").close();
                var id = this.evento._key;
                var item = this.numMesa;

                var collection = "eventos/" + id + "/mesas";
                var doc = item._key;
                var object = { "empleadoAsignado": firebase.firestore.FieldValue.delete() };
                var options = {
                    "collection": collection,
                    "object": object,
                };
                if (doc) {
                    options["doc"] = doc;
                }

                options["success"] = function (key) {
                    PolymerUtils.Toast.show("Actualización realizada");
                };
                options["error"] = function (err) {
                    console.log("Error al actualizar", err);
                };
                firebaseHelper.update(this, options);
                this.set("open", false);
                // this.set("numMesa",null);
                // window.location.reload(true);
            }





            muestraCambiaMesa() {
                this.shadowRoot.querySelector("#menuButtonOpciones").close();
                var item = this.numMesa;
                var emp = item.empleadoAsignado;
                var t = this;
                var dialogAgrega = PolymerUtils.Dialog.createAndShow(
                    {
                        type: "modal",
                        element: "cambia-mesa",
                        elementReady: function (element) {
                            element.set("eventoId", t.evento._key);
                            element.set("mesaActual", item);
                            element.set("empleadoCambiar", emp);
                            element.set("mesasGuardadas", t.arrayMesas);

                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Actualizar",
                            action: function (dialog, element) {
                                element.actualizaEmpleado();
                                dialog.close();
                              //  t.set("numMesa", null);
                                t.set("open", false);
                                console.log("numMEsa", t.numMesa);
                                console.log("open", t.open);
                            },
                            raised: true,
                            style: "color: white; background-color: var(--paper-green-700);"
                        },
                        negativeButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        }
                    }
                );

            }//muestraCambiaMesa


            actualizaComentario() {
                var num = this.shadowRoot.querySelector("#numMesaInputCambia").value;
                var texto = this.shadowRoot.querySelector("#comenMesaInput").value;
                if (texto == null || texto == "" || texto.trim() == "") {
                    return this.shadowRoot.querySelector("#comenMesaInput").invalid = true;
                } else {
                    this.shadowRoot.querySelector("#comenMesaInput").invalid = false;
                }

                if (num == null || num == "" || num.trim() == "") {
                    return this.shadowRoot.querySelector("#numMesaInputCambia").invalid = true;
                } else {
                    this.shadowRoot.querySelector("#numMesaInputCambia").invalid = false;
                }

                var eventoId = this.evento._key;
                var collection = "eventos/" + eventoId + "/mesas";
                var doc = this.numMesa._key;
                var object = { "comentario": texto, "numMesa": parseFloat(num, 10) };
                var options = {
                    "collection": collection,
                    "object": object,
                    "includeTimestamp": this.includeTimestamp
                };
                options["doc"] = doc;
                options["success"] = function (key) {
                    PolymerUtils.Toast.show("Actualización realizada");
                };
                options["error"] = function (err) {
                    PolymerUtils.Toast.show("Error al actualizar");
                };
                firebaseHelper.update(this, options);
                this.set("open", false);
            }//actulizaComentario

            getColorCalif(valor) {
                if (valor == "nuevo") {
                    return "blue";
                } else if (valor == "regular") {
                    return "red";
                } else if (valor == "bueno") {
                    return "green";
                } else if (valor == "plus") {
                    return "gold";
                }
            }//getColorCalif

            getPhoto(imagen) {
                if (imagen) {
                    return imagen;
                }
                return "../../images/download.png";
            }//getPhoto

            getValor(item) {
                var total = [];
                var context = this;
                for (var i = 0; i < item; i++) {
                    var o = [];
                    o.push({});
                    total.push(o);
                }
                return total;
            }//getValor

            computeArticleFilter(string) {
                if (string) {
                    string = parseInt(string, 10);
                }
                return function (compra) {
                    return (string ? ((compra.numMesa ? compra.numMesa == string : false)) : true)
                };
            }//computeArticle

            clearInput() {
                this.shadowRoot.querySelector("#numMesaInput").value = null;
            }//clearInput

            checaMesa(me) {
                if (me.empleadoAsignado && me.empleadoAsignado != null) {
                    return true;
                }
                return false;
            }

        }//class

        window.customElements.define(MesasRegistradas.is, MesasRegistradas);
    </script>
</dom-module>