<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../componentes/empleado-info.html">

<dom-module id="my-empleados">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            .avatar {
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                width: 40px !important;
                height: 40px !important;
                border: solid 1px #E0E0E0;
            }

            paper-icon-button.blue {
                --paper-icon-button-ink-color: var(--paper-orange-500);
                background-color: var(--paper-light-blue-500);
                color: white;
                border-radius: 50%;
                padding: 2px;
                width: 24px;
                height: 24px;
            }
        </style>


        <div>
            <paper-input label="Busqueda por nombre" value="{{searchWord}}"></paper-input>
            <vaadin-combo-box selected-item="{{tipoSeleccionado}}" label="tipo de empleado" items="[[tiposEmpleados]]"
                item-value-path="nombreMuestra" item-label-path="nombreMuestra">
            </vaadin-combo-box>
        </div>

        <div style="max-height:430px;overflow-y:scroll;">
            <paper-listbox>
                <template is="dom-repeat" items="[[empleados]]" as="empleado" filter="[[computeArticleFilter(searchWord,tipoSeleccionado)]]"
                    mutable-data rendered-item-count="{{numDomRepeat}}">
                    <paper-icon-item style="border-bottom:solid 1px #BDBDBD;">
                        <div class="avatar" on-click="muestraEmpData" style$="background-image: url([[getPhoto(empleado.image)]]);"
                            slot="item-icon">
                        </div>
                        <paper-item-body three-line>
                            <div>
                                <div>
                                    [[empleado.nombreEmpleado]] [[empleado.aPaternoEmpleado]]
                                    [[empleado.aMaternoEmpleado]]
                                </div>
                                <div style$="color:[[getColorCalif(empleado.tipoCalificacion)]];">
                                    [[empleado.tipoCalificacion]]
                                </div>
                            </div>
                            <div>[[empleado.puesto.nombre]]</div>
                            <div secondary>
                                [[empleado.telefonoPrincipal]]
                            </div>
                        </paper-item-body>

                        <paper-icon-button icon="add" on-click="agregaEmpleadoEvento"></paper-icon-button>
                        <!-- <paper-menu-button ignore-select vertical-align="top" horizontal-align="right">
                            <paper-icon-button icon="menu" slot="dropdown-trigger"></paper-icon-button>
                            <paper-listbox slot="dropdown-content">
                                <paper-item on-click="agregaEmpleadoEvento">Considerar al evento</paper-item>
                            </paper-listbox>
                        </paper-menu-button> -->
                    </paper-icon-item>
                </template>
            </paper-listbox>
        </div>
    </template>

    <script>
        class MyEmpleados extends DialogLayoutClass(CustomClass(Polymer.Element)) {
            static get is() { return 'my-empleados'; }

            static get properties() {
                return {
                    number: { type: Number, notify: true },
                    evento: { type: Object, notify: true },
                    tipos: {
                        type: Array, notify: true, value: [
                            { "id": 1, "tipo": "nombre" },
                            { "id": 2, "tipo": "puesto" },
                            { "id": 3, "tipo": "calificación" }
                        ]
                    },
                    tiposEmpleados: {
                        type: Array, notify: true, value: [
                            { "id": 1, "nombre": "capitán de meseros", "nombreMuestra": "Capitán A" },
                            { "id": 2, "nombre": "capitán de meseros", "nombreMuestra": "Capitan B" },
                            { "id": 3, "nombre": "mesero", "nombreMuestra": "Meseros" },
                            { "id": 4, "nombre": "barman", "nombreMuestra": "Barman" },
                            { "id": 5, "nombre": "escamoche", "nombreMuestra": "Escamoches" },
                            { "id": 6, "nombre": "valet Parking", "nombreMuestra": "Valet Parking" },
                            { "id": 7, "nombre": "valet sanitario", "nombreMuestra": "Valet Sanitario" },
                            { "id": 8, "nombre": "seguridad", "nombreMuestra": "Seguridad" },
                        ]
                    },
                    empleadosRevisar: { type: Array, notify: true, value: [] },
                    empleados: { type: Array, notify: true, value: [] },

                    empleadosRegistrados: { type: Array, notify: true, value: [] },

                    searchWord: { type: String, notify: true, value: null, },
                    tipoSeleccionado: { type: Object, notify: true, value: null },
                    tipoEmpleadoActual: { type: Object, notify: true },
                    numDomRepeat: { type: Number, notify: true, observer: "actualizaSize" }

                };
            }//properties

            static get observers() {
                return [
                    'checaEmpleados(empleadosRevisar.*,empleadosRegistrados.*)'
                ]
            }//observers

            muestraEmpData(e) {
                var item = e.model.empleado;
                var empleadoDialog = PolymerUtils.Dialog.createAndShow(
                    {
                        type: "with-backdrop",
                        element: "empleado-info",
                        title: "Información del empleado",
                        elementReady: function (element) {
                            element.set("empleado", item);
                            empleadoDialog.notifyResize();
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        },
                    }
                );
            }//muestraEmpData

            constructor() {
                super();
                if (this.lastQueryCollection) {
                    this.lastQueryCollection();
                }
                var collection = "empleados"
                var context = this;
                var options = {
                    "collection": collection,
                    "array": this.empleadosRevisar,
                    "arrayName": "empleadosRevisar"
                };

                options["callback"] = function (collectionArray) {
                    eval.call(window, '(function (collection) {' + callback + '})')(collectionArray);

                };

                options["callback"] = function (collection) {
                    console.log('%c Callback fired from collection listener', 'background: #222; color: white;');

                };

                options["error"] = function (err) {
                    eval.call(window, '(function (err) {' + error + '})')(err);
                };

                options.filter = function (item) {
                    return !item.eliminado && item.puesto.id != 0;
                };

                this.set("lastQueryCollection", firebaseHelper.queryCollection(this, options));
            }//constructor


            actualizaSize(num) {
                if (num) {
                    this.dispatchEvent(new CustomEvent("empleados-list-changed", { changed: true }));
                }
                // var t=this;
                // if (num) {
                //     console.log("actualizaSize",num);
                //     setTimeout(function(){
                //         console.log("timeout");
                //         t.DialogLayout_notifyResize();
                //     },3000);

                // }
            }//actualizaSize
            _getCalificacionString(empleado) {
                var calif = "null";
                if (empleado.empleadoPlus) {
                    calif = "plus";
                } else {
                    if (empleado.calificacion <= 30) {
                        calif = "nuevo";
                    } else if (empleado.calificacion > 30 || empleado.calificacion <= 60) {
                        calif = "regular";
                    } else if (empleado.calificacion > 60) {
                        calif = "bueno";
                    }
                }
                return calif;
            }
            checaEmpleados() {
                var arreglo = [];
                var revisar = this.empleadosRevisar;
                var registrados = this.empleadosRegistrados;

                for (var i = 0; i < revisar.length; i++) {
                    var empleadoBase = revisar[i];
                    var addBase = true;
                    if (registrados && registrados.length) {
                        for (var j = 0; j < registrados.length; j++) {
                            var registrado = registrados[j];
                            if (empleadoBase._key == registrado.empleadoId) {
                                addBase = false;
                                break;
                            }
                        }
                    }
                    if (addBase) {
                        var item = {
                            "_key": empleadoBase._key,
                            "nombreEmpleado": empleadoBase.nombreEmpleado,
                            "aPaternoEmpleado": empleadoBase.aPaternoEmpleado,
                            "aMaternoEmpleado": empleadoBase.aMaternoEmpleado,
                            "puesto": empleadoBase.puesto,
                            "calificacion": empleadoBase.calificacion,
                            "image": empleadoBase.image,
                            "telefonoPrincipal": empleadoBase.telefonoPrincipal,
                            "tipoCalificacion": this._getCalificacionString(empleadoBase)
                        };
                        arreglo.push(item);
                    }
                }
                this.set("empleados", arreglo);

                return;

                // for (var i = 0; i < arr.length; i++) {
                //     if (arr2.length > 0) {
                //         for (var h = 0; h < arr2.length; h++) {
                //             var item = null;
                //             if (arr[i]._key == arr2[h].empleadoId) {
                //                 console.log("ya hay un empleado considerado");
                //             } else {
                //                 var calif = "null";
                //                 if (arr[i].empleadoPlus) {
                //                     calif = "plus";
                //                 } else {
                //                     if (arr[i].calificacion <= 30) {
                //                         calif = "nuevo";
                //                     } else if (arr[i].calificacion > 30 || arr[i].calificacion <= 60) {
                //                         calif = "regular";
                //                     } else if (arr[i].calificacion > 60) {
                //                         calif = "bueno";
                //                     }
                //                 }

                //                 item = {
                //                     "_key": arr[i]._key,
                //                     "nombreEmpleado": arr[i].nombreEmpleado,
                //                     "aPaternoEmpleado": arr[i].aPaternoEmpleado,
                //                     "aMaternoEmpleado": arr[i].aMaternoEmpleado,
                //                     "puesto": arr[i].puesto,
                //                     "calificacion": arr[i].calificacion,
                //                     "image": arr[i].image,
                //                     "telefonoPrincipal": arr[i].telefonoPrincipal,
                //                     "tipoCalificacion": calif
                //                 }
                //             }
                //         }
                //         if (item == null) {
                //             console.log("no se agrega");
                //         } else {
                //             arreglo.push(item);
                //         }
                //     } else {
                //         var calif = "null";
                //         if (arr[i].empleadoPlus) {
                //             calif = "plus";
                //         } else {
                //             if (arr[i].calificacion <= 30) {
                //                 calif = "nuevo";
                //             } else if (arr[i].calificacion > 30 || arr[i].calificacion <= 60) {
                //                 calif = "regular";
                //             } else if (arr[i].calificacion > 60) {
                //                 calif = "bueno";
                //             }
                //         }
                //         var item = {
                //             "_key": arr[i]._key,
                //             "nombreEmpleado": arr[i].nombreEmpleado,
                //             "aPaternoEmpleado": arr[i].aPaternoEmpleado,
                //             "aMaternoEmpleado": arr[i].aMaternoEmpleado,
                //             "puesto": arr[i].puesto,
                //             "calificacion": arr[i].calificacion,
                //             "image": arr[i].image,
                //             "telefonoPrincipal": arr[i].telefonoPrincipal,
                //             "tipoCalificacion": calif
                //         }
                //         arreglo.push(item);
                //     }

                // }//for

                // this.set("empleados", arreglo);
            }//checaEmpleado

            ready() {
                super.ready();
            }//ready

            agregaEmpleadoEvento(e) {
                var empleado = e.model.empleado;
                empleado["empleadoId"] = empleado._key;

                var yaExiste = false;

                if (this.empleadosRegistrados.length > 0) {
                    for (var i = 0; i < this.empleadosRegistrados.length; i++) {
                        if (this.empleadosRegistrados[i].empleadoId == empleado.empleadoId) {
                            return PolymerUtils.Toast.show(this.empleadosRegistrados[i].nombreEmpleado
                                + " " + this.empleadosRegistrados[i].aPaternoEmpleado + " ya fue considerado para el evento");
                        } else {
                            yaExiste = false;
                        }
                    }
                } else {
                    yaExiste = false;
                }


                if (yaExiste == true) {
                    return PolymerUtils.Toast.show("este empleado ya esta registrado al evento");
                } else {
                    var idEvento = this.evento._key;
                    var collection = "eventos/" + idEvento + "/empleados";
                    var object = empleado;
                    empleado["puestoEnEvento"] = this.tipoEmpleadoActual;
                    firebaseHelper.insert(this, {
                        "collection": collection,
                        "object": object,
                        "includeTimestamp": this.includeTimestamp,

                        "success":
                            function (key) {
                                PolymerUtils.Toast.show("empleado agregado con exito");
                            }, "error": function (err) {
                                console.error("Error insertando usuario", err);
                            }
                    });
                }
            }//agregaEmpleadoEvento

            muestraEdita() {
                this.set("editarAccion", true);
            }//muestraEdita

            updateMeseros() {
                this.set("editarAccion", false);
            }//updateMeseros

            cancelar() {
                this.set("editarAccion", false);
            }//cancelar

            getPhoto(imagen) {
                if (imagen) {
                    return imagen;
                }
                return "../../images/download.png";
            }//getPhoto

            getColorCalif(valor) {
                if (valor == "nuevo") {
                    return "blue";
                } else if (valor == "regular") {
                    return "red";
                } else if (valor == "bueno") {
                    return "green";
                } else if (valor == "plus") {
                    return "gold";
                }
            }//getColorCalif

            getValor(item) {
                var total = [];
                var context = this;
                for (var i = 0; i < item; i++) {
                    var o = [];
                    o.push({});
                    total.push(o);
                }
                return total;
            }//getValor

            computeArticleFilter(string, tipo) {
                if (string) {
                    string = string.toLowerCase();
                }

                return function (compra) {
                    return (string ? (
                        (compra.nombreEmpleado ?
                            compra.nombreEmpleado.toLowerCase().indexOf(string) != -1 : false)
                    ) : true) || (string ? (
                        (compra.aPaternoEmpleado ?
                            compra.aPaternoEmpleado.toLowerCase().indexOf(string) != -1 : false)
                    ) : true) || (string ? (
                        (compra.aMaternoEmpleado ?
                            compra.aMaternoEmpleado.toLowerCase().indexOf(string) != -1 : false)
                    ) : true)
                        && (tipo ?
                            compra.puesto.nombre.toLowerCase() == tipo.nombre.toLowerCase() : true);
                };

                // return function (compra) {
                //     return (string ? (
                //         (compra.nombreEmpleado ?
                //             compra.nombreEmpleado.toLowerCase().indexOf(string) != -1 : false)
                //     ) : true) || (string ? (
                //         (compra.aPaternoEmpleado ?
                //             compra.aPaternoEmpleado.toLowerCase().indexOf(string) != -1 : false)

                //     ) : true) || (string ? (
                //         (compra.aMaternoEmpleado ?
                //             compra.aMaternoEmpleado.toLowerCase().indexOf(string) != -1 : false)

                //     ) : true)

                //         && (tipo ?
                //             compra.puesto.nombre.toLowerCase() == tipo.nombre.toLowerCase() : true);
                // };
             
            }//computeArticleFilter

            iterateArray(array, action) {
                if (!array) {
                    console.log("Error readin non-array: " + array);
                    return;
                }
                if (!action) {
                    console.log("No action function defined for iteration");
                    return;
                }
                for (var i = 0; i < array.length; i++) {
                    if (action) {
                        action(array[i], i);
                    }
                }
            }//oterateArray

        }//class

        window.customElements.define(MyEmpleados.is, MyEmpleados);
    </script>
</dom-module>