<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/bootstrap-styles/bootstrap-styles.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="desglose-empleados.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="nuevo-evento.html">

<dom-module id="my-informacion">
  <template>
    <style include="bootstrap-styles"></style>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

     
    </style>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 style="display:inline-block;">Datos del evento</h3>
              <paper-icon-button style="display:inline-block;" icon="editor:mode-edit" on-click="showEditarEvento"></paper-icon-button>
            </div>
            <div class="panel-body">
              <div class="col-xs-12">
                <div class="col-xs-2">
                  <iron-icon icon="social:pages"></iron-icon>
                </div>
                <div class="col-xs-10">[[evento.tipoEvento.nombreEvento]]</div>
              </div>
              <div class="col-xs-12">
                <div class="col-xs-2">
                  <iron-icon icon="date-range"></iron-icon>
                </div>
                <div class="col-xs-10">[[PolymerUtils_getFullSpanishDate(evento.fechaEvento)]]</div>
              </div>
              <div class="col-xs-12">
                <div class="col-xs-2">
                  <iron-icon icon="communication:location-on"></iron-icon>
                </div>
                <div class="col-xs-10"> [[evento.direccion.calle]] [[evento.direccion.num]],
                  [[evento.direccion.colonia]];
                  [[evento.direccion.municipio]], [[evento.direccion.estado]]
                </div>
              </div>
              <div class="col-xs-12">
                <div class="col-xs-2">
                  <iron-icon icon="social:group"></iron-icon>
                </div>
                <div class="col-xs-10">[[evento.numeroAsistentes]] asistentes</div>
              </div>
              <div class="col-xs-12" style="border-top:solid 1px #BDBDBD;">
                <div class="col-xs-12">
                  <h3>Datos del cliente</h3>
                </div>
                <div class="col-xs-12" style="padding:0 !important;">
                  <div class="col-xs-2" style="padding:0 !important;">
                    <iron-icon icon="social:person"></iron-icon>
                  </div>
                  <div class="col-xs-10"> [[evento.cliente.nombreCliente]]</div>
                </div>
                <div class="col-xs-12" style="padding:0 !important;">
                  <div class="col-xs-2" style="padding:0 !important;">
                    <iron-icon icon="mail"></iron-icon>
                  </div>
                  <div class="col-xs-10">[[evento.cliente.emailCliente]]</div>
                </div>
                <div class="col-xs-12" style="padding:0 !important;">
                  <div class="col-xs-2" style="padding:0 !important;">
                    <iron-icon icon="communication:call"></iron-icon>
                  </div>
                  <div class="col-xs-10">[[evento.cliente.telefonoCliente]]</div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <dom-access path="eventos/gestion-datos-evento/finaliza-evento">
                <paper-button style="color:white; background-color: red;" on-click="finalizaEvento">Finalizar evento</paper-button>
              </dom-access>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <h1 style="text-align: center;">Desglose de empleados</h1>
          <desglose-empleados empleados-desglose-array="[[empleadosRegistrados]]" evento="[[evento]]"></desglose-empleados>
        </div>
      </div>
    </div>

  </template>

  <script>
    class MyInformacion extends CustomClass(Polymer.Element) {
      static get is() { return 'my-informacion'; }

      static get properties() {
        return {
          evento: { type: Object, notify: true },
          empleadosRegistrados: { type: Array, notify: true, value: [] }
        };
      }//properties

      constructor() {
        super();
      }//constructor

      ready() {
        super.ready();
      }//ready

      finalizaEvento() {
        if (this.empleadosRegistrados.length <= 0) {
          return PolymerUtils.Toast.show("No hay registros de empleados en este evento");
        }
        for (var i = 0; i < this.empleadosRegistrados.length; i++) {
          var emp = {
            "evento": {
              "idEvento": this.evento._key,
              "eventoNombre": this.evento.nombreEvento,
              "fechaEvento": this.evento.fechaEvento,
            },
            "empleado": {
              "empleadoId": this.empleadosRegistrados[i].empleadoId,
              "nombreEmpleado": this.empleadosRegistrados[i].nombreEmpleado,
              "aPaternoEmpleado": this.empleadosRegistrados[i].aPaternoEmpleado,
              "aMaternoEmpleado": this.empleadosRegistrados[i].aMaternoEmpleado,
              "puesto": this.empleadosRegistrados[i].puesto
            }
          };

          if (this.empleadosRegistrados[i].asistencia) {
            emp["asistencia"] = this.empleadosRegistrados[i].asistencia;
          }

          if (this.empleadosRegistrados[i].confirmado) {
            emp["confirmado"] = this.empleadosRegistrados[i].confirmado;
          }

          if (this.empleadosRegistrados[i].rechazado) {
            emp["rechazado"] = this.empleadosRegistrados[i].rechazado;
          }

          var t = this;
          t.agregaAsistencia(emp);
          t.agregaPuntoAsistencia(emp);

        }//termina for
        this.actualizaEvento();
      }//finalizaEvento

      agregaAsistencia(objecto) {
        firebaseHelper.insert(this,
          {
            "collection": "asistencias",
            "includeTimestamp": true,
            "object": objecto,
            "success": function () {
              console.log("ya se registro");

            }, "error": function (err) {
              console.log("Error", err);
            }
          });
      }//agregaAsistencia

      actualizaEvento() {
        var eventoId = this.evento._key;
        var collection = "eventos";
        var doc = eventoId;
        var object = { "finalizado": true };
        var options = {
          "collection": collection,
          "object": object,
          "includeTimestamp": this.includeTimestamp
        };

        options["doc"] = doc;
        options["success"] = function (key) {
          PolymerUtils.Toast.show("Proyecto Finalizado con exito");
          window.location.href = "my-view1";
        };


        options["error"] = function (err) {
          console.log(err);
          PolymerUtils.Toast.show("Error al finalizar");
        };

        firebaseHelper.update(this, options);
        this.set("open", false);
      }//actualizaEvento

      showEditarEvento() {
        var t = this;
        PolymerUtils.Dialog.createAndShow(
          {
            type: "modal",
            element: "nuevo-evento",
            elementReady: function (element) {
              element.set("esEditar", true);
              element.set("eventoEditar", t.evento);
              element.set("nombreCliente", t.evento.cliente.nombreCliente);
              element.set("telefonoCliente", t.evento.cliente.telefonoCliente);
              element.set("emailCliente", t.evento.cliente.emailCliente);
              element.set("supervisor", t.evento.supervisor);
              element.set("nombreEvento", t.evento.nombreEvento);
              element.set("calle", t.evento.direccion.calle);
              element.set("num", t.evento.direccion.num);
              element.set("colonia", t.evento.direccion.colonia);
              element.set("municipio", t.evento.direccion.municipio);
              element.set("estado", t.evento.direccion.estado);
              element.set("cp", t.evento.direccion.cp);
              element.set("numAsistentes", t.evento.numeroAsistentes);
            },
            style: "width: 400px;",
            smallStyle: "width: 100% !important;",
            positiveButton: {
              text: "Actualizar",
              action: function (dialog, element) {
                element.actualizaEvento();
                dialog.close();
              },
              raised: true,
              style: "color: white; background-color: var(--paper-red-700);"
            },
            negativeButton: {
              text: "Cerrar",
              action: function (dialog, element) {
                element.set("esEditar", false);
                dialog.close();
              }
            }
          }
        );
      }//showNuevoEmpleado



      agregaPuntoAsistencia(objecto) {
        console.log("emp",objecto);
        if (!objecto.rechazado) {
          if ((objecto.asistencia && objecto.asistencia == true) && (objecto.confirmado && objecto.confirmado == true)) {
            var emp = objecto.empleado.empleadoId;
           
            var db = firebase.firestore();
            var sfDocRef = db.collection("empleados").doc(emp);
            return db.runTransaction(function (transaction) {
              return transaction.get(sfDocRef).then(function (sfDoc) {
                if (!sfDoc.exists) {
                  throw "Document does not exist!";
                }
                var newPopulation = sfDoc.data().calificacion + 1;
                transaction.update(sfDocRef, { calificacion: newPopulation });
              });
            }).then(function () {
              console.log("ya le sumamos el punto de asistencia!");
            }).catch(function (error) {
              console.log("Transaction failed: ", error);
            });
          }//segundo if
        }//primer if
      }//agregaPuntoAsistencia

    }//class

    window.customElements.define(MyInformacion.is, MyInformacion);
  </script>
</dom-module>