<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="mesas-registradas.html">
<link rel="import" href="asignacion-personal.html">
<dom-module id="my-mesas">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            .btn-group button {
                background-color: #8D6E63;
                border: 1px solid #6D4C41;
                color: white;
                padding: 10px 24px;
                cursor: pointer;
                float: left;
            }

            .btn-group button:not(:last-child) {
                border-right: none;
            }

            .btn-group:after {
                content: "";
                clear: both;
                display: table;
            }

            .btn-group button:hover {
                background-color: #5D4037;
            }
        </style>
        <div class="btn-group" style="width:100%">
            <button style="width:50%; height: 45px;" on-click="cambiaAsignacion">Control por Mesas</button>
            <button style="width:50%; height: 45px;" on-click="cambiaMesas">Asignación de Personal</button>
        </div>

        <div>
            <template is="dom-if" if="{{esAsignacion}}" restamp>
                <mesas-registradas  evento="[[evento]]" array-mesas="[[arrayMesas]]" empleados-registrados="[[empleadosRegistrados]]"></mesas-registradas>
            </template>
            <template is="dom-if" if="{{esMesa}}" restamp>
                <asignacion-personal evento="[[evento]]" array-mesas="[[arrayMesas]]" empleados-registrados="[[empleadosRegistrados]]"></asignacion-personal>
            </template>
        </div>
    </template>

    <script>
        class MyMesas extends Polymer.Element {
            static get is() { return 'my-mesas'; }

            static get properties() {
                return {
                    evento: { type: Object, notify: true, observer: "escuchaEvento"},
                    empleadosRegistrados: { type: Array, notify: true, value: [] },
                    esMesa: { type: Boolean, notify: true  },
                    esAsignacion: { type: Boolean, notify: true,value: true },
                    arrayMesas:{type:Array, notify:true, value:[]}
                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready


            escuchaEvento(ev) {
                var idEv=ev._key;
                if (this.lastQueryCollection) {
                    this.lastQueryCollection();
                }
                var collection = "eventos/" + this.idEv + "/mesas/";
                var context = this;
                var options = {
                    "collection": collection,
                    "array": this.arrayMesas,
                    "arrayName": "arrayMesas"
                };
                options["callback"] = function (collectionArray) {
                    console.log('%c Callback fired from collection listener', 'background: #222; color: white;');
                };
                options["callback"] = function (collection) {
                    console.log('%c Callback fired from collection listener', 'background: #222; color: white;');
                };
                options["error"] = function (err) {
                    eval.call(window, '(function (err) {' + error + '})')(err);
                };

                if(idEv==null){
                    return;
                }
                options.specialRef = firebase.firestore().collection("eventos").doc(idEv).collection("mesas").orderBy("numMesa");

                this.set("lastQueryCollection", firebaseHelper.queryCollection(this, options));
            }//escuchEvento

            cambiaMesas() {
                this.set("esMesa", true);
                this.set("esAsignacion", false);
            }//cambiaMesas

            cambiaAsignacion() {
                this.set("esMesa", false);
                this.set("esAsignacion", true);
            }//cambiaAsignacion

        }//class

        window.customElements.define(MyMesas.is, MyMesas);
    </script>
</dom-module>