<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/bootstrap-styles/bootstrap-styles.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="my-empleados.html">

<link rel="import" href="../componentes/actualiza-empleados.html">
<link rel="import" href="../componentes/actualiza-porcentaje.html">
<!-- <link rel="import" href="desglose-empleados.html"> -->
<link rel="import" href="empleados-considerados.html">

<dom-module id="my-personal">
    <template>
        <style include="bootstrap-styles"></style>
        <style include="shared-styles">
            :host {
                display: block;
            }

            .grid-container {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                margin: 10px;
                width: 95%;
            }

            .grid-item {
                text-align: center
            }

            .grid-item:hover,
            .grid-item:focus {
                cursor: pointer !important;
                background-color: var(--paper-blue-800) !important;

            }
        </style>

        <div class="container" style="width: 100%;">
            <div class="row">
                <!-- <div class="col-xs-6 grid-item" style="color:white;background-color: teal; text-align: center; border:solid 1px white; cursor: pointer;"
                    on-click="cambiaDesglose">
                    Desglose de empleados
                </div>
                <div class="col-xs-6 grid-item" style="color:white;background-color: teal; text-align: center; border:solid 1px white; cursor: pointer;"
                    on-click="cambiaLista">
                    Control de empleados
                </div> -->
                <!-- <template is="dom-if" if="[[desglose]]" restamp>
                    <desglose-empleados empleados-desglose-array="[[empleadosRegistrados]]" evento="[[evento]]"></desglose-empleados>
                </template> -->

                <!-- <template is="dom-if" if="[[lista]]" restamp> -->
                    <empleados-considerados evento="[[evento]]" array-considerados="[[empleadosRegistrados]]"></empleados-considerados>
                <!-- </template> -->
            </div>
        </div>
    </template>

    <script>
        class MyPersonal extends CustomClass(Polymer.Element) {
            static get is() { return 'my-personal'; }

            static get properties() {
                return {
                    evento: { type: Object, notify: true, observer: "cambiaValores" },
                    desglose: { type: Boolean, notify: true, value: true },
                    lista: { type: Boolean, notify: true },
                    empleadosRegistrados: { type: Array, notify: true },
                    numRegistrados: { type: Number, notify: true },
                    numConfirmados: { type: Number, notify: true },
                    numAsistencia: { type: Number, notify: true },
                    totalEmpleados: { type: Number, notify: true },
                    valor: { type: Boolean, notify: true, value: false }

                };
            }//properties
            static get observers(){
                 return [
                     '_empleadoArrayChanged(empleadosRegistrados.*)',
                     
                    'cuentaRegistrados(empleadosRegistrados.*)'
                 ]
             }

             _empleadoArrayChanged(){
                 console.log("my-personal empleadosRegistrados",this.empleadosRegistrados);
             }

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready

            toogle() {
                this.set("valor", !this.valor);
            }//toogle

            cambiaDesglose() {
                this.set("desglose", true);
                this.set("lista", false);
            }//cambiaDeglose

            cambiaLista() {
                this.set("desglose", false);
                this.set("lista", true);
            }//cambiaLista

            getEmpleados(evento) {
                var total = 0;
                if (evento.numMeseros) {
                    total = total + parseFloat(evento.numMeseros, 10);
                }
                if (evento.numBarman) {
                    total = total + parseFloat(evento.numBarman, 10);
                }
                if (evento.numEscamoche) {
                    total = total + parseFloat(evento.numEscamoche, 10);
                }
                if (evento.numParking) {
                    total = total + parseFloat(evento.numParking, 10);
                }

                if (evento.numSanitario) {
                    total = total + parseFloat(evento.numSanitario, 10);
                }

                if (evento.numSeguridad) {
                    total = total + parseFloat(evento.numSeguridad, 10);
                }
                return total;
            }//getEmpleados

            getPorcentaje(item) {
                if (item.porcentajeInasistencia) {
                    return item.porcentajeInasistencia;
                }
                return 0;
            }

            cuentaRegistrados(arr) {
                var num = arr.base.length;
                var numCon = 0;
                var numAs = 0;
                for (var i = 0; i < arr.base.length; i++) {
                    if (arr.base[i].confirmado == true) {
                        numCon = numCon + 1;
                    }

                    if (arr.base[i].asistencia == true) {
                        numAs = numAs + 1;
                    }
                }
                this.set("numConfirmados", numCon);
                this.set("numRegistrados", num);
                this.set("numAsistencia", numAs);
            }//cuentaRegistrados

            cambiaValores(val) {
                if (val.porcentajeInasistencia) {
                    var porInan = val.porcentajeInasistencia;
                } else {
                    var porInan = 0;
                }

                var numEmp = parseFloat(this.getEmpleados(val), 10);
                var porIn = parseFloat(porInan, 10);
                var lol = Math.ceil(numEmp * (porIn / 100));

                if (lol == null || lol == NaN) {
                    var jj = 0;
                } else {
                    var jj = lol;
                }

                this.set("empleadosReserva", jj);
                var lel = numEmp + jj;
                var ho = Math.ceil(lel);
                this.set("totalEmpleados", ho);
            }//cambiaValores


            showT1() {
                var t = this;
                PolymerUtils.Dialog.createAndShow(
                    {
                        type: "no-backdrop",
                        element: "actualiza-empleados",
                        title: "Empleados Solicitados",
                        message: "Al momento de elegir el tipo de evento y definir el número de asistentes "
                            + "se genera el número base de empleados necesarios para cubrir el evento",
                        elementReady: function (element) {
                            element.set("idEvento", t.evento._key);
                            element.set("numeroMeseros", t.evento.numMeseros);
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Actualizar",
                            action: function (dialog, element) {
                                element.updateMeseros();
                                dialog.close();
                            },
                            raised: true,
                            style: "color: white; background-color: var(--paper-green-700);"
                        },
                        negativeButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        }
                    }
                );
            }//showT1

            showT2() {
                var t = this;
                PolymerUtils.Dialog.createAndShow(
                    {
                        type: "no-backdrop",
                        element: "actualiza-porcentaje",
                        title: "Porcentaje de inasistencia",
                        message: "Durante el evento, es posible que un porcentaje de la plantilla solicitada falte,"
                            + "asi que se determina una reserva de empleados para cubrir las faltas",
                        elementReady: function (element) {
                            element.set("eventoId", t.evento._key);
                            element.set("eventoData", t.evento);
                            element.set("porIna", t.evento.porcentajeInasistencia);
                        },
                        style: "width: 400px;",
                        smallStyle: "width: 100% !important;",
                        positiveButton: {
                            text: "Actualizar",
                            action: function (dialog, element) {
                                element.updatePorcentaje();
                                dialog.close();
                            },
                            raised: true,
                            style: "color: white; background-color: var(--paper-green-700);"
                        },
                        negativeButton: {
                            text: "Cerrar",
                            action: function (dialog, element) {
                                dialog.close();
                            }
                        }
                    }
                );
            }//showT2

            getColorConfirmados(confirmados, total) {
                if (confirmados >= total) {
                    return "background-color: #558B2F;"
                }
                return "background-color:#E65100;"
            }//getColorConfirmados

            getColorAsistencia(confirmados, total) {
                if (confirmados >= total) {
                    return "background-color: #558B2F;"
                }
                return "background-color:#E65100;"
            }//getColorAsistencia

        }//class

        window.customElements.define(MyPersonal.is, MyPersonal);
    </script>
</dom-module>