<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/datetime-picker/time-picker.html">
<link rel="import" href="../../bower_components/datetime-picker/overlay-time-picker.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="nuevo-evento">
    <template>
        <style include="shared-styles">
            :host {
                /* display: block; */
            }

            .section {
                border: solid 1px #78909C;
                border-radius: 5px;
                margin: 5px;
                padding: 5px;
            }

            overlay-time-picker {
                vertical-align: middle;
                font-size: 17px;
                --input-min-width: 300px;
                --inner-input-min-width: 300px;
                --input-background: #d5d5d5;
                --input-color: #222;
                --input-picker-background: #d5d5d5;
                --input-picker-color: rgb(50, 52, 107);
                --input-focus-background: #eee;
                --input-focus-color: #444;
                --inner-input-focus-background: white;
                --inner-input-focus-color: #222;
            }
        </style>

        <div class="section">
            <paper-input id="nomCliInput" label="Nombre del cliente" value="{{nombreCliente}}" error-message=" Verifica tu infomación"></paper-input>
            <paper-input id="telCliInput" label="Teléfono" value="{{telefonoCliente}}" error-message=" Verifica tu infomación"></paper-input>
            <paper-input id="emailCliInput" label="Email" value="{{emailCliente}}" error-message=" Verifica tu infomación"></paper-input>
        </div>

        <div class="section">
            <paper-input id="nomEveInput" label="Nombre del evento" value="{{nombreEvento}}" error-message="Verifica tu información"></paper-input>
            <template is="dom-if" if="[[esEditar]]">
                <div style="height:20px; padding: 5px;">
                    Tipo del evento: [[eventoEditar.tipoEvento.nombreEvento]]
                </div>
            </template>
            <paper-dropdown-menu style="width: 100%;" id="selectorEvento" slot="dropdown-content" class="dropdown-content"
                label="tipo de evento" on-iron-select="muestraEvento" error-message="no has seleccionado un tipo"
                vertical-align="top" horizontal-align="left">
                <paper-listbox id="eventoListBox" slot="dropdown-content" attr-for-selected="value" selected="{{type2}}">
                    <template is="dom-repeat" items="[[eventos]]" as="evento">
                        <paper-item value$="[[evento]]">
                            <div>[[evento.nombreEvento]]</div>
                        </paper-item>
                    </template>
                </paper-listbox>
            </paper-dropdown-menu>

            <template is="dom-if" if="[[esEditar]]">
                <div style="height:20px; padding: 5px;">
                    Hora y fecha del evento: [[PolymerUtils_getFullSpanishDate(eventoEditar.fechaEvento)]]
                </div>
            </template>

            <vaadin-date-picker style="width: 45%;" id="fechaInput" label="Fecha del evento" i18n="[[_localizedVaadini18n]]"
                placeholder="Seleccione una fecha" value="{{fechaEvento}}" error-message="Verifica tu información"></vaadin-date-picker>
            <div style=" display: inline-block; width: 45%;">
                <div style="padding:3px; color:var(--lumo-secondary-text-color);font-size: var(--lumo-font-size-s); font-weight: 500;">
                    Hora
                </div>
                <overlay-time-picker no-overlap auto-confirm="true" value-as-number="{{horaEvento}}" clamp="second"
                    hour12-format="true"></overlay-time-picker>
                <template is="dom-if" if="{{errorHora}}" restamp>
                    <div style="color:red;">Selecciona una hora</div>
                </template>
            </div>
            <div>
                <div style="display:inline-block;">Número de asistentes</div>
                <paper-input style="display:inline-block; width: 40%;" id="numAsisInput" value="{{numAsistentes}}"
                    auto-validate allowed-pattern="[0-9]" error-message="Verifica tu información"></paper-input>
            </div>
            <template is="dom-if" if="[[esEditar]]">
                <div style="height: 20px; padding: 5px;">Supervisor del evento:
                    [[eventoEditar.supervisor.nombreEmpleado]]</div>
            </template>
            <paper-dropdown-menu style="width: 100%;" id="selectorSupervisor" slot="dropdown-content" class="dropdown-content"
                label="Supervisor" on-iron-select="muestraSupervisor" error-message="no has seleccionado un supervisor"
                vertical-align="top" horizontal-align="left">
                <paper-listbox id="supervisorListBox" slot="dropdown-content" attr-for-selected="value" selected="{{type1}}">
                    <template is="dom-repeat" items="[[supervisores]]" as="sup">
                        <paper-item value$="[[sup]]">
                            <div>[[sup.nombreEmpleado]] [[sup.aPaternoEmpleado]] [[sup.aMaternoEmpleado]]</div>
                        </paper-item>
                    </template>
                </paper-listbox>
            </paper-dropdown-menu>
        </div>
        <div class="section">
            Ubicación del evento
            <paper-input id="calleInput" label="calle" value="{{calle}}" error-message="Verifica tu información"></paper-input>
            <paper-input id="numInput" label="número" value="{{num}}" error-message="Verifica tu información"></paper-input>
            <paper-input id="colInput" label="colonia" value="{{colonia}}" error-message="Verifica tu información"></paper-input>
            <paper-input id="munInput" label="municipio" value="{{municipio}}" error-message="Verifica tu información"></paper-input>
            <paper-input id="estadoInput" label="estado" value="{{estado}}" error-message="Verifica tu información"></paper-input>
            <paper-input id="cpInput" label="código postal" value="{{cp}}" error-message="Verifica tu información"></paper-input>
        </div>
    </template>

    <script>
        class NuevoEvento extends DialogLayoutClass(CustomClass(Polymer.Element)) {
            static get is() { return 'nuevo-evento'; }

            static get properties() {
                return {
                    esEditar: { type: Boolean, notify: true },
                    eventoEditar: { type: Object, notify: true },

                    nombreCliente: { type: String, notify: true },
                    telefonoCliente: { type: String, notify: true },
                    emailCliente: { type: String, notify: true },
                    supervisor: { type: Object, notify: true },
                    nombreEvento: { type: String, notify: true },
                    tipoEvento: { type: Object, notify: true },
                    fechaEvento: { type: String, notify: true },
                    horaEvento: { type: Number, notify: true },
                    calle: { type: String, notify: true },
                    num: { type: String, notify: true },
                    colonia: { type: String, notify: true },
                    municipio: { type: String, notify: true },
                    estado: { type: String, notify: true },
                    cp: { type: String, notify: true },
                    numAsistentes: { type: Number, notify: true },

                    eventos: {
                        type: Array, notify: true, value: [
                            { "_key": 1, "nombreEvento": "Boda", "numMesero": 10 },
                            { "_key": 2, "nombreEvento": "Posadas", "numMesero": 20 },
                            { "_key": 3, "nombreEvento": "Graduaciones", "numMesero": 20 },
                            { "_key": 4, "nombreEvento": "Ejecutivos", "numMesero": 15 },
                            { "_key": 5, "nombreEvento": "XV Años", "numMesero": 0.5 },
                            { "_key": 6, "nombreEvento": "Otro", "numMesero": 10 },
                        ]
                    },

                    successCallback: {
                        type: String,
                        notify: true
                    },
                    errorCallback: {
                        type: String,
                        notify: true
                    },

                    resultCallback: {
                        type: String,
                        notify: true
                    },

                    supervisores: { type: Array, notify: true, value: [] },
                    type1: { type: Object, notify: true },
                    type2: { type: Object, notify: true },
                    errorHora: { type: Boolean, notify: true }
                };
            }//properties

            constructor() {
                super();
                this.getSupervisores();
            }//constructor

            ready() {
                super.ready();
            }//ready

            crearEvento() {
                if (this.nombreCliente == null || this.nombreCliente == "" || this.nombreCliente.trim() == "") {
                    return this.$.nomCliInput.invalid = true;
                } else {
                    this.$.nomCliInput.invalid = false;
                }

                if (this.telefonoCliente == null || this.telefonoCliente == "" || this.telefonoCliente.trim() == "") {
                    this.set("telefonoCliente", "-");
                }

                if (this.emailCliente == null || this.emailCliente == "" || this.emailCliente.trim() == "") {
                    this.set("emailCliente", "-");
                }

                if (this.nombreEvento == null || this.nombreEvento == "" || this.nombreEvento.trim() == "") {
                    return this.$.nomEveInput.invalid = true;
                } else {
                    this.$.nomEveInput.invalid = false;
                }

                if (this.tipoEvento == null) {
                    return this.$.selectorEvento.invalid = true;
                } else {
                    this.$.selectorEvento.invalid = false;
                }
                if (this.fechaEvento == null || this.fechaEvento == "" || this.fechaEvento.trim() == "") {
                    return this.$.fechaInput.invalid = true;
                } else {
                    this.$.fechaInput.invalid = false;
                }

                if (this.horaEvento == null || this.horaEvento == "") {
                    return this.set("errorHora", true);
                } else {
                    this.set("errorHora", false);
                }
                if (this.numAsistentes == null || this.numAsistentes == "" || this.numAsistentes.trim() == "") {
                    return this.$.numAsisInput.invalid = true;
                } else {
                    this.$.numAsisInput.invalid = false;
                }

                if (this.supervisor == null) {
                    return this.$.selectorSupervisor.invalid = true;
                } else {
                    this.$.selectorSupervisor.invalid = false;
                }
                if (this.calle == null || this.calle == "" || this.calle.trim() == "") {
                    return this.$.calleInput.invalid = true;
                } else {
                    this.$.calleInput.invalid = false;
                }
                if (this.num == null || this.num == "" || this.num.trim() == "") {
                    return this.$.numInput.invalid = true;
                } else {
                    this.$.numInput.invalid = false;
                }

                if (this.colonia == null || this.colonia == "" || this.colonia.trim() == "") {
                    return this.$.colInput.invalid = true;
                } else {
                    this.$.colInput.invalid = false;
                }

                if (this.municipio == null || this.municipio == "" || this.municipio.trim() == "") {
                    return this.$.munInput.invalid = true;
                } else {
                    this.$.munInput.invalid = false;
                }
                if (this.estado == null || this.estado == "" || this.estado.trim() == "") {
                    return this.$.estadoInput.invalid = true;
                } else {
                    this.$.estadoInput.invalid = false;
                }

                if (this.cp == null || this.cp == "" || this.cp.trim() == "") {
                    return this.$.cpInput.invalid = true;
                } else {
                    this.$.cpInput.invalid = false;
                }

                var nuevaFecha = new Date(this.fechaEvento);
                nuevaFecha.setHours(24, 0, 0, 0);
                var timeFecha = nuevaFecha.getTime();
                var suma = timeFecha + parseFloat(this.horaEvento, 10);
                var nuevafechaHora = new Date(suma);
                var numeroMeseros = 0;
                switch (this.tipoEvento._key) {
                    case 1:
                    case 2:
                    case 3:
                    case 4:
                    case 6:
                        numeroMeseros = Math.ceil(this.numAsistentes / this.tipoEvento.numMesero);
                        break;
                    case 5:
                        numeroMeseros = Math.ceil(this.numAsistentes * this.tipoEvento.numMesero);
                }
                var nuevoEvento = {
                    "cliente": {
                        "nombreCliente": this.nombreCliente,
                        "telefonoCliente": this.telefonoCliente,
                        "emailCliente": this.emailCliente
                    },
                    "supervisor": this.supervisor,
                    "nombreEvento": this.nombreEvento,
                    "tipoEvento": this.tipoEvento,
                    "fechaEvento": nuevafechaHora,
                    "direccion": {
                        "calle": this.calle,
                        "num": this.num,
                        "colonia": this.colonia,
                        "municipio": this.municipio,
                        "estado": this.estado,
                        "cp": this.cp
                    },
                    "numeroAsistentes": parseFloat(this.numAsistentes, 10),
                    "numMeseros": numeroMeseros,
                    "status": true
                }
                var t = this;
                firebaseHelper.insertWithAutoIncrement(this,
                    {
                        "collection": "eventos",
                        "includeTimestamp": true,
                        //"includeUser": true,
                        "object": nuevoEvento,
                        "success": function () {
                            PolymerUtils.Toast.show("evento creado con exito");
                            t.limpiaCampos();
                        }, "error": function (err) {
                            PolymerUtils.Toast.show("Error al guardar avance. Intentelo mas tarde" + err);
                        }
                    });
                    this.DialogLayout_closeDialog();
            }//crearEvento

            muestraSupervisor(e) {
                var selectedItem = e.target.selected;
                var objecto = JSON.parse(selectedItem);
                var supervisorCreado = {};
                if (selectedItem) {
                    supervisorCreado["nombreEmpleado"] = objecto.nombreEmpleado;
                    supervisorCreado["aPaternoEmpleado"] = objecto.aPaternoEmpleado;
                    supervisorCreado["aMaternoEmpleado"] = objecto.aMaternoEmpleado;
                    supervisorCreado["_key"] = objecto._key;
                    supervisorCreado["image"] = objecto.image;
                    supervisorCreado["puesto"] = objecto.puesto;
                    supervisorCreado["calificacion"] = objecto.calificacion;
                    this.set("supervisor", supervisorCreado);
                }
            }//muestraSupervisor

            muestraEvento(e) {
                var selectedItem = e.target.selected;
                if (selectedItem) {
                    this.set("tipoEvento", JSON.parse(selectedItem));
                }
            }//muestraEvento

            getSupervisores() {
                if (this.lastQueryCollection) {
                    this.lastQueryCollection();
                }
                var collection = "empleados"
                var context = this;
                var options = {
                    "collection": collection,
                    "array": this.supervisores,
                    "arrayName": "supervisores"
                };

                options["callback"] = function (collectionArray) {
                    eval.call(window, '(function (collection) {' + callback + '})')(collectionArray);

                };

                options["callback"] = function (collection) {
                    console.log('%c Callback fired from collection listener', 'background: #222; color: white;');
                };

                options["error"] = function (err) {
                    eval.call(window, '(function (err) {' + error + '})')(err);
                };
                options.filter = function (item) {
                    return !item.eliminado && item.puesto.id == 0;
                };

                this.set("lastQueryCollection", firebaseHelper.queryCollection(this, options));
            }//getSupervisores

            limpiaCampos() {
                this.set("nombreCliente", null);
                this.set("telefonoCliente", null);
                this.set("emailCliente", null);
                this.set("supervisor", null);
                this.set("type1", null);
                this.set("type2", null);
                this.set("nombreEvento", null);
                this.set("fechaEvento", null);
                this.set("calle", null);
                this.set("num", null);
                this.set("colonia", null);
                this.set("municipio", null);
                this.set("estado", null);
                this.set("cp", null);
                this.set("numAsistentes", null);
                this.set("tipoEvento", null);
            }//limpiaCampos

            actualizaEvento() {
                if (this.esEditar == true) {
                    var eventoActualiza = {};
                    var clienteActualiza = {};
                    var dirActualiza = {};

                    if (this.nombreCliente == null || this.nombreCliente == "" || this.nombreCliente.trim() == "") {
                        clienteActualiza["nombreCliente"] = this.eventoEditar.cliente.nombreCliente;
                    } else {
                        clienteActualiza["nombreCliente"] = this.nombreCliente;
                    }

                    if (this.telefonoCliente == null || this.telefonoCliente == "" || this.telefonoCliente.trim() == "") {
                        clienteActualiza["telefonoCliente"] = this.eventoEditar.cliente.telefonoCliente;
                    } else {
                        clienteActualiza["telefonoCliente"] = this.telefonoCliente;
                    }

                    if (this.emailCliente == null || this.emailCliente == "" || this.emailCliente.trim() == "") {
                        clienteActualiza["emailCliente"] = this.eventoEditar.cliente.emailCliente;
                    } else {
                        clienteActualiza["emailCliente"] = this.emailCliente;
                    }

                    if (this.nombreEvento == null || this.nombreEvento == "" || this.nombreEvento.trim() == "") {
                        eventoActualiza["nombreEvento"] = this.eventoEditar.nombreEvento;
                    } else {
                        eventoActualiza["nombreEvento"] = this.nombreEvento;
                    }

                    if (this.tipoEvento == null) {
                        eventoActualiza["tipoEvento"] = this.eventoEditar.tipoEvento;
                    } else {
                        eventoActualiza["tipoEvento"] = this.tipoEvento;
                    }


                    var lol = parseFloat(this.eventoEditar.fechaEvento.seconds, 10);


                    var fechaGuardada = new Date(lol * 1000);
                    var a = fechaGuardada.getFullYear();
                    var b = fechaGuardada.getMonth();
                    var c = fechaGuardada.getDate();

                    var soloFecha = new Date(a, b, c);

                    var d = fechaGuardada.getHours();
                    var e = fechaGuardada.getMinutes();
                    var f = fechaGuardada.getSeconds();


                    var soloHora = ((d * 60 * 60 + e * 60 + f) * 1000);
                    var esFechaGuardada = true;

                    if (this.fechaEvento == null || this.fechaEvento == "" || this.fechaEvento.trim() == "") {
                        var fechaActualizada = soloFecha;
                    } else {
                        var fechaString = this.fechaEvento;
                        var fechaActualizada = new Date(fechaString);
                        esFechaGuardada = false;
                    }

                    if (this.horaEvento == null || this.horaEvento == "") {
                        var horaActualizada = soloHora
                    } else {
                        var horaActualizada = this.horaEvento;
                    }


                    var nuevaFecha = new Date(fechaActualizada);
                    if (esFechaGuardada == false) {
                        nuevaFecha.setHours(24, 0, 0, 0);
                    } else {
                        nuevaFecha.setHours(0, 0, 0, 0);
                    }


                    var timeFecha = nuevaFecha.getTime();
                    var suma = timeFecha + parseFloat(horaActualizada, 10);
                    var nuevafechaHora = new Date(suma);
                    eventoActualiza["fechaEvento"] = nuevafechaHora;

                    if (this.numAsistentes == null || this.numAsistentes == "") {
                        eventoActualiza["numeroAsistentes"] = this.eventoEditar.numeroAsistentes;
                    } else {
                        eventoActualiza["numeroAsistentes"] = parseFloat(this.numAsistentes, 10);
                    }

                    if (this.supervisor == null) {
                        eventoActualiza["supervisor"] = this.eventoEditar.numeroAsistentes;
                    } else {
                        eventoActualiza["supervisor"] = this.supervisor;
                    }
                    if (this.calle == null || this.calle == "" || this.calle.trim() == "") {
                        dirActualiza["calle"] = this.eventoEditar.direccion.calle;
                    } else {
                        dirActualiza["calle"] = this.calle;
                    }
                    if (this.num == null || this.num == "" || this.num.trim() == "") {
                        dirActualiza["num"] = this.eventoEditar.direccion.num;
                    } else {
                        dirActualiza["num"] = this.num;
                    }

                    if (this.colonia == null || this.colonia == "" || this.colonia.trim() == "") {
                        dirActualiza["colonia"] = this.eventoEditar.direccion.colonia;
                    } else {
                        dirActualiza["colonia"] = this.colonia;
                    }

                    if (this.municipio == null || this.municipio == "" || this.municipio.trim() == "") {
                        dirActualiza["municipio"] = this.eventoEditar.direccion.municipio;
                    } else {
                        dirActualiza["municipio"] = this.municipio;
                    }
                    if (this.estado == null || this.estado == "" || this.estado.trim() == "") {
                        dirActualiza["estado"] = this.eventoEditar.direccion.estado;
                    } else {
                        dirActualiza["estado"] = this.estado;
                    }

                    if (this.cp == null || this.cp == "" || this.cp.trim() == "") {
                        dirActualiza["cp"] = this.eventoEditar.direccion.cp;
                    } else {
                        dirActualiza["cp"] = this.cp;
                    }


                    var tipoEv = eventoActualiza.tipoEvento;
                    var numAsis = eventoActualiza.numeroAsistentes;


                    var numeroMeseros = 0;

                    switch (tipoEv._key) {
                        case 1:
                        case 2:
                        case 3:
                        case 4:
                        case 6:
                            numeroMeseros = Math.ceil(numAsis / tipoEv.numMesero);
                            break;
                        case 5:
                            numeroMeseros = Math.ceil(numAsis * tipoEv.numMesero);
                    }
                    var time = this.eventoEditar._timestamp;
                    eventoActualiza["_timestamp"] = time;
                    eventoActualiza["numMeseros"] = numeroMeseros;
                    eventoActualiza["cliente"] = clienteActualiza;
                    eventoActualiza["direccion"] = dirActualiza;

                    var idEvento = this.eventoEditar._key;

                    var collection = "eventos";
                    var doc = idEvento;

                    var object = eventoActualiza;
                    var success = null;
                    var error = null;
                    if (this.successCallback)
                        success = (this.successCallback);
                    PolymerUtils.Toast.show("Evento actualizado con éxito");
                    if (this.errorCallback)
                        PolymerUtils.Toast.show("Error al actualizar, Intentalo más tarde");
                    error = (this.errorCallback);
                    var options = {
                        "collection": collection,
                        "object": object,
                        "includeTimestamp": this.includeTimestamp
                    };
                    if (doc) {
                        options["doc"] = doc;
                    }
                    if (success) {
                        options["success"] = function (key) {
                            eval.call(window, '(function (key) {' + success + '})')(key);
                        };
                    }
                    if (error) {
                        options["error"] = function (err) {
                            eval.call(window, '(function (err) {' + error + '})')(err);
                        };
                    }

                    firebaseHelper.update(this, options);
                    this.limpiaCampos();
                    this.set("esEditar", false);
                }//if(this.esEditar==true)
            }//actualizaEvento

        }//class

        window.customElements.define(NuevoEvento.is, NuevoEvento);
    </script>
</dom-module>