<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">



<dom-module id="storage-button">
  <template>
    <style>
      :host {
          position: relative;
        display: inline-block;
        cursor:pointer !important;
      }
      .input-file{
          opacity: 0;
  background-color: red;
            position: absolute; 
            bottom: 0 !important; 
            right: 0 !important; 
            left: 0 !important; 
            right:0 !important;
            width: 100% !important;
            height: 100% !important;
            min-width: 100% !important;
            max-width: 100% !important;
            min-height: 100% !important;
            max-height: 100% !important;
            
        cursor:pointer !important;
      }
    </style>
    <slot style="pointer-events: none;" id="slot"></slot>
    <paper-ripple></paper-ripple>
   
    <input type="file" id="_fileButton" on-click="clickSlot" on-change="_filesSelectedHandler" class="input-file"/>
    
  </template>
 
  <script>
    /**
     * @customElement
     * @polymer
     */
    class StorageButton extends Polymer.Element {
      static get is() { return 'storage-button'; }
      static get properties() {
        return {
          options:{
            type:Object,
            notify:true,
            observer: "_optionsChanged"
          }
        };
      }
      clickSlot(){
        this.$.slot.click();
      }
      _optionsChanged(options){
          if(options){
            if(options.fileTypes){
            //   console.log("Type",type);
              this.$._fileButton.accept=options.fileTypes.join(",");
//                inputFile.accept=type.join(",");
            }
          }
      }
      _filesSelectedHandler(e){
        var options=this.options;
        if(!options){
          console.error("You haven't set an options object");
          return;
        }
      /*  var type=options.fileTypes;
            var path=options.path;
            var name=options.name;
            var uploadDone=options.success;
            var errorFunction=options.error;
            var onPaused=options.onPaused;
            var onResumed=options.onResumed;
            var progressCallback=options.onProgress;*/

        if(e.target.files && e.target.files[0]){
              
          console.log(options);
         firebaseHelper.Storage._actualFirebaseUpload(options,e.target.files[0]);
            
          }
          else{
              PolymerUtils.Toast.show("No seleccionaste ningún archivo");
          }
      }
      
    }

    window.customElements.define(StorageButton.is, StorageButton);
  </script>
</dom-module>
