<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="actualiza-porcentaje">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
        </style>
        <div style="font-size:150%;">meseros en reserva: [[empRe]]</div>
        <paper-input id="porcentajeInput" label="Porcentaje de inasistencia" error="Valor inválido" auto-validate
            allowed-pattern="[0-9]" value="[[porIna]]"></paper-input>
    </template>

    <script>
        class ActualizaPorcentaje extends DialogLayoutClass(CustomClass(Polymer.Element)) {
            static get is() { return 'actualiza-porcentaje'; }

            static get properties() {
                return {
                    eventoId: { type: String, notify: true },
                    porIna: { type: Number, notify: true },
                    eventoData: { type: Object, notify: true },
                    empleadosReserva: { type: Number, notify: true, observer: "cambiaReserva" },
                    empRe: { type: Number, notify: true }
                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready

            static get observers() {
                return [
                    'cambiaValores(porIna,eventoData)'
                ]
            }//observers

            cambiaValores(val, even) {
                var porte = 0;
                var totalEmp = 0;
                if (val == null || val == NaN) {
                    porte = 0;
                } else {
                    porte = val;
                }
                if (even.numMeseros) {
                    totalEmp = totalEmp+parseFloat(even.numMeseros,10);
                }
                if (even.numBarman) {
                    totalEmp = totalEmp+parseFloat(even.numBarman,10);
                }
             
                if (even.numEscamoche) {
                    totalEmp = totalEmp+parseFloat(even.numEscamoche,10);
                }
                
                if (even.numParking) {
                    totalEmp = totalEmp+parseFloat(even.numParking,10);
                }
               
                if (even.numSanitario) {
                    totalEmp = totalEmp+parseFloat(even.numSanitario,10);
                }
               
                if (even.numSeguridad) {
                    totalEmp = totalEmp+parseFloat(even.numSeguridad,10);
                }

                var numEmp = parseFloat(totalEmp, 10);
                var porIn = parseFloat(porte, 10);
                var lol = numEmp * (porIn / 100);
                var lel = numEmp + lol;
                var ho = Math.ceil(lel);
                this.set("totalEmpleados", ho);
                var empReserva = ho - numEmp;
                this.set("empleadosReserva", empReserva);
            }//cambiaValores

            cambiaReserva(val) {
                this.set("empRe", val);
            }//cambiaReserva

            
            updatePorcentaje() {
                var porcentaje = this.$.porcentajeInput.value;
                if (porcentaje == 0 || porcentaje == null || porcentaje == "") {
                    return this.$.porcentajeInput.invalid = true;
                } else {
                    this.$.porcentajeInput.invalid = false;
                }
                var collection = "eventos";
                var doc = this.eventoId;
                var object = { "porcentajeInasistencia": parseFloat(porcentaje, 10) };
                var options = {
                    "collection": collection,
                    "object": object,
                };
                if (doc) {
                    options["doc"] = doc;
                }

                options["success"] = function (key) {
                    PolymerUtils.Toast.show("Porcentaje de inasistencia actualizado");
                };
                options["error"] = function (err) {
                    PolymerUtils.Toast.show("Error al actualizar, intentalo más tarde");
                };
                firebaseHelper.update(this, options);
                this.set("editarPorcentaje", false);
                this.DialogLayout_closeDialog();
            }//updatePorcentaje
            
        }//class

        window.customElements.define(ActualizaPorcentaje.is, ActualizaPorcentaje);
    </script>
</dom-module>