<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="actualiza-empleados">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
        </style>
        <paper-input id="meserosInput" style="width: 50%; display: inline-block;" label="Empleados solicitados" error="Valor invalido"
            auto-validate allowed-pattern="[0-9]" value="[[numeroMeseros]]"></paper-input>
    </template>

    <script>
        class ActualizaEmpleados extends CustomClass(Polymer.Element) {
            static get is() { return 'actualiza-empleados'; }

            static get properties() {
                return {
                    idEvento: { type: String, notify: true },
                    numeroMeseros: { type: Number, notify: true }
                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready

            updateMeseros() {

                var meseros = this.$.meserosInput.value;
                if (meseros == 0 || meseros == null || meseros == "") {
                    return this.$.meserosInput.invalid = true;
                } else {
                    this.$.meserosInput.invalid = false;
                }
                var collection = "eventos";
                var doc = this.idEvento;

                var object = { "numMeseros": parseFloat(meseros, 10) };
                var options = {
                    "collection": collection,
                    "object": object,
                    "includeTimestamp": this.includeTimestamp
                };
                if (doc) {
                    options["doc"] = doc;

                }
                options["success"] = function (key) {
                    PolymerUtils.Toast.show("Número de empleados actualizado");
                };
                options["error"] = function (err) {
                    PolymerUtils.Toast.show("Error al actualizar, intentalo más tarde");
                };
                firebaseHelper.update(this, options);
            }//updateMeseros

        }//class

        window.customElements.define(ActualizaEmpleados.is, ActualizaEmpleados);
    </script>
</dom-module>