<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="actualiza-empleados-tipo">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>
        <h1>Registrar número de empleados</h1>
        <h4>escribe el número de [[tipoEmpleado.nombreMuestra]] necesarios para el evento</h4>
        <paper-input id="numInput" label="Nuevo número" error-message="Verifica tu información" value="{{numero}}"
            auto-validate allowed-pattern="[0-9]"></paper-input>
        <paper-button raised on-click="actualizaNumEmpleado" >Guardar</paper-button>
    </template>

    <script>
        class ActualizaEmpleadosTipo extends DialogLayoutClass(CustomClass(Polymer.Element)) {
            static get is() { return 'actualiza-empleados-tipo'; }

            static get properties() {
                return {
                    eventoId: { type: String, notify: true },
                    tipoEmpleado: { type: Object, notify: true },
                    numero: { type: Number, notify: true }
                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready

            actualizaNumEmpleado() {
                if (this.numero == null || this.numero == 0 || this.numero == "") {
                    return this.$.numInput.invalid = true;
                } else {
                    this.$.numInput.invalid = false;
                }

                switch (this.tipoEmpleado.id) {
                    case 1:
                        var cambia = { "numCapA": this.numero };
                        break;
                        case 2:
                        var cambia = { "numCapB": this.numero };
                        break;
                    case 3:
                        var cambia = { "numMeseros": this.numero };
                        break;

                    case 4:
                        var cambia = { "numBarman": this.numero };
                        break;

                    case 5:
                        var cambia = { "numEscamoche": this.numero };
                        break;

                    case 6:
                        var cambia = { "numParking": this.numero };
                        break;

                    case 7:
                        var cambia = { "numSanitario": this.numero };
                        break;

                    case 8:
                        var cambia = { "numSeguridad": this.numero };
                }

                var t = this;
                var collection = "eventos";
                var doc = this.eventoId;
                var options = {
                    "collection": collection,
                    "object": cambia,
                };
                if (doc) {
                    options["doc"] = doc;
                }
                options["success"] = function (key) {
                    PolymerUtils.Toast.show("Número de " + t.tipoEmpleado.nombreMuestra + " actualizado");
                    
                };
                options["error"] = function (err) {
                    PolymerUtils.Toast.show("Error al actualizar, intentalo más tarde");
                   
                };
                firebaseHelper.update(this, options);
                this.dispatchEvent(new CustomEvent("cierra-cuadro-changed",{changed:true}));
            }//actualizaNumEmpleado

        }//class

        window.customElements.define(ActualizaEmpleadosTipo.is, ActualizaEmpleadosTipo);
    </script>
</dom-module>