<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="agrega-tipo-reporte">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
        </style>
        <div style="display:block;">

            <template is="dom-if" if="[[checaTipo(objetoEditar)]]">
                tipo selecionado: [[objetoEditar.tipoReporte.tipo]]
            </template>

            <div>Selecciona el tipo del nuevo tipo de reporte</div>
            <paper-checkbox checked="{{positivo}}">Positiva</paper-checkbox>
            <paper-checkbox checked="{{negativo}}">Negativa</paper-checkbox>
            <template is="dom-if" if="[[muestraError]]">
                <div style="color:red">Selecciona una opción</div>
            </template>
            <paper-input id="textoInput" label="Descripción del tipo" error="Verifica tu información" value="{{texto}}"></paper-input>
            <paper-input id="puntajeInput" label="Puntaje (si el reporte es negativo, se le restará al empleado)" error="Verifica tu información"
                value="{{puntaje}}" auto-validate allowed-pattern="[0-9]"></paper-input>
        </div>
    </template>

    <script>
        class AgregaTipoReporte extends DialogLayoutClass(CustomClass(Polymer.Element)) {
            static get is() { return 'agrega-tipo-reporte'; }

            static get properties() {
                return {
                    muestraError: { type: Boolean, notify: true },
                    positivo: { type: Boolean, notify: true },
                    negativo: { type: Boolean, notify: true },
                    texto: { type: String, notify: true },
                    puntaje: { type: Number, notify: true },
                    objetoEditar: { type: Object, notify: true }
                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready

            guardaTipoReporte() {
                var objecto = {}
                if (this.positivo == false && this.negativo == false) {
                    return this.set("muestraError", true);
                } else {
                    this.set("muestraError", false);
                }

                if (this.positivo == true) {
                    var tipo = {
                        "id": 0,
                        "tipo": "positivo"
                    };
                } else if (this.negativo == true) {
                    var tipo = {
                        "id": 1,
                        "tipo": "negativo"
                    };
                }

                objecto["tipoReporte"] = tipo;
                if (this.texto == null || this.texto == "" || this.texto.trim() == "") {
                    return this.$.textoInput.invalid = true;
                } else {
                    this.$.textoInput.invalid = false;
                }
                objecto["descripcion"] = this.texto;
                if (this.puntaje == 0 || this.puntaje == "" || this.puntaje == null) {
                    return this.$.puntajeInput.invalid = true;
                } else {
                    this.$.puntajeInput.invalid = false;
                }

                objecto["puntaje"] = parseFloat(this.puntaje, 10);

                var t = this;
                firebaseHelper.insert(this,
                    {
                        "collection": "tiposIncidencias",
                        "includeTimestamp": true,
                        //"includeUser": true,
                        "object": objecto,
                        "success": function () {
                            PolymerUtils.Toast.show("tipo de reporte creado con éxito");
                            t.limpiaCampos();
                        }, "error": function (err) {
                            console.log(err);
                            PolymerUtils.Toast.show("Error al guardar. Intentelo mas tarde");
                        }
                    });
                this.DialogLayout_closeDialog();
            }//guardaTipoReporte





            editaTipoReporte() {
                var objecto = {}
                if (this.positivo == false && this.negativo == false) {
                    objecto["tipoReporte"] = this.objetoEditar.tipoReporte;
                } else {
                    if (this.positivo == true) {
                        objecto["tipoReporte"] = {
                            "id": 0,
                            "tipo": "positivo"
                        };
                    } else if (this.negativo == true) {
                        objecto["tipoReporte"] = {
                            "id": 1,
                            "tipo": "negativo"
                        };
                    }
                }

                //   objecto["tipoReporte"] = tipo;
                if (this.texto == null || this.texto == "" || this.texto.trim() == "") {
                    // return this.$.textoInput.invalid = true;
                    objecto["descripcion"] = this.objetoEditar.descripcion;
                } else {
                    objecto["descripcion"] = this.texto;
                    // this.$.textoInput.invalid = false;
                }
                // objecto["descripcion"] = this.texto;
                if (this.puntaje == 0 || this.puntaje == "" || this.puntaje == null) {
                    var num = parseFloat(this.objetoEditar.puntaje, 10);

                } else {
                    var num = this.puntaje;
                }

                objecto["puntaje"] = parseFloat(num);
                var collection = "tiposIncidencias";
                var doc = this.objetoEditar._key;
                var object = {
                    "descripcion": objecto.descripcion,
                    "puntaje": objecto.puntaje,
                    "tipoReporte": objecto.tipoReporte
                };
                var options = {
                    "collection": collection,
                    "object": object,
                };
                if (doc) {
                    options["doc"] = doc;
                }

                options["success"] = function (key) {
                    PolymerUtils.Toast.show("TIpo de incidencia actualizado");
                };
                options["error"] = function (err) {
                    PolymerUtils.Toast.show("Error al actualizar, intentalo más tarde");
                };
                firebaseHelper.update(this, options);
                this.limpiaCampos
            }//editaTipoReporte



            limpiaCampos() {
                this.set("muestraError", false);
                this.set("positivo", false);
                this.set("negativo", false);
                this.set("texto", null);
                this.set("puntaje", null);
                this.set("objetoEditar", null);
            }//limpiaCampos

            checaTipo(ti) {
                if (ti && ti.tipoReporte) {
                    return true;
                }
                return false;
            }//checaTipo

        }//class

        window.customElements.define(AgregaTipoReporte.is, AgregaTipoReporte);
    </script>
</dom-module>