<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="agrega-mesas">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
        </style>


        <div>
            Para administrar las mesas escribe el número en la caja de texto y has click en el
            botón Guardar
        </div>
        <paper-input id="campoMesas" style="width: 50%; display: inline-block;" label="Nueva cantidad" error="Valor invalido"
            auto-validate allowed-pattern="[0-9]" value="{{numeroMesas}}"></paper-input>
        <paper-button raised style="display: inline-block; color:blue;" on-click="updateMesas">Guardar</paper-button>


    </template>

    <script>
        class AgregaMesas extends DialogLayoutClass(CustomClass(Polymer.Element)) {
            static get is() { return 'agrega-mesas'; }

            static get properties() {
                return {
                    eventoId: { type: String, notify: true },
                    numeroMesas: { type: Number, notify: true },
                    empRegis: { type: Array, notify: true, value: [] },
                    mesasRegis: { type: Array, notify: true, value: [] }
                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready

            updateMesas() {
                if (this.numeroMesas == 0 || this.numeroMesas == "" || this.numeroMesas == null) {
                    return this.$.campoMesas.invalid = true;
                } else {
                    this.$.campoMesas.invalid = false;
                }
                var num = parseFloat(this.numeroMesas, 10);
                var id = this.eventoId;
                console.log("0 evento id", id);
                PolymerUtils.Toast.show("Agregando mesas");
                console.log("llegaron estos empleados", this.empRegis);

                if (!this.mesasRegis || this.mesasRegis.length <= 0) {
                    console.log("no hay mesas");
                    this.creaMesasNormal(num);
                } else {
                    console.log("hay que eliminar mesas");
                    for (var i = 0; i < this.mesasRegis.length; i++) {
                        this.eliminaMesa(id, this.mesasRegis[i]);
                    }
                    this.creaMesasNormal(num);
                }




                this.DialogLayout_closeDialog();
            }//updateMesas

            creaMesasNormal(num) {
                var id = this.eventoId;
                console.log("evento id", id);
                console.log("creaMesasNormal", this.empRegis);
                var empAsis = [];

                if (!this.empRegis || this.empRegis.length <= 0) {
                    return PolymerUtils.Toast.show("No hay empleados con asistencia en este evento");
                } else {

                    for (var i = 0; i < this.empRegis.length; i++) {
                        if (this.empRegis[i].asistencia && this.empRegis[i].asistencia == true) {
                            empAsis.push(this.empRegis[i]);
                        }
                    }

                    if (empAsis.length <= 0) {
                        console.log("no hay asistencia");
                        return PolymerUtils.Toast.show("No hay empleados con asistencia en este evento");
                    } else {
                        if (empAsis.length > num) {
                            return PolymerUtils.Toast.show("La cantidad de mesas no debe rebasar al número de empleados");
                        } else {
                            console.log("estos empleados asistieron", empAsis);
                            for (var i = 1; i < num + 1; i++) {
                                var t = this;

                                if (empAsis[i]) {
                                    console.log(" 1 evento id", id);

                                    firebaseHelper.insert(this,
                                        {
                                            "collection": "eventos/" + id + "/mesas",
                                            "includeTimestamp": true,
                                            "object": { "numMesa": i, "empleadoAsignado": empAsis[i] },
                                            "success": function () {
                                                console.log("mesa con exito", i);
                                            }, "error": function (err) {
                                                console.log("err", err);
                                            }
                                        });
                                } else {
                                    console.log(" 2 evento id", id);

                                    firebaseHelper.insert(this,
                                        {
                                            "collection": "eventos/" + id + "/mesas",
                                            "includeTimestamp": true,
                                            "object": { "numMesa": i, "empleadoAsignado": empAsis[0] },
                                            "success": function () {
                                                console.log("mesa con exito", i);
                                            }, "error": function (err) {
                                                console.log("err", err);
                                            }
                                        });
                                }
                            }//for
                        }
                    }
                }
                PolymerUtils.Toast.show("Proceso de guardado finalizado");
            }//creaMesas

            eliminaMesa(ev, mesa) {
                var mesaId = mesa;
                var eventoId = ev.toString();
                console.log("3 evento id", eventoId);

                var collection = "eventos/" + eventoId + "/mesas";
                var doc = mesa._key;
                var success = null;
                var error = null;
                if (this.successCallback)
                    success = (this.successCallback);

                if (this.errorCallback)
                    error = (this.errorCallback);

                var options = {
                    "collection": collection,
                };
                if (doc) {
                    options["doc"] = doc;
                }
                options["success"] = function (key) {
                    // PolymerUtils.Toast.show("Empleado retirado de la lista");
                    console.log("eliminado");
                };
                options["error"] = function (err) {
                    //console.log(err);
                    //PolymerUtils.Toast.show("Error al actualizar");
                    console.log("err", err);
                };
                firebaseHelper.deleteDocument(this, options);
            }

        }//class

        window.customElements.define(AgregaMesas.is, AgregaMesas);
    </script>
</dom-module>