<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="cambia-mesa">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <h1>Cambiar empleado de mesa</h1>
    <div> Empleado: [[empleadoCambiar.nombreEmpleado]] [[empleadoCambiar.aPaternoEmpleado]]</div>
    <vaadin-combo-box id="comboInput" selected-item="{{mesaElegida}}" label="Seleccione la nueva mesa" items="[[mesasGuardadas]]"
      item-value-path="numMesa" item-label-path="numMesa" error-message="Selecciona una mesa">
    </vaadin-combo-box>

  </template>

  <script>
    class CambiaMesa extends DialogLayoutClass(CustomClass(Polymer.Element)) {
      static get is() { return 'cambia-mesa'; }

      static get properties() {
        return {
          mesasGuardadas: { type: Array, notify: true, value: [] },
          mesaElegida: { type: Object, notify: true },
          mesaId: { type: String, notify: true },
          empleadoCambiar: { type: Object, notify: true },
          mesaActual: { type: Object, notify: true },
          eventoId: { type: String, notify: true }
        };
      }//properties

      constructor() {
        super();
      }//constructor

      ready() {
        super.ready();
      }//ready

      actualizaEmpleado() {
        if (this.mesaElegida == null) {
          return this.$.comboInput.invalid = true;
        } else {
          this.$.comboInput.invalid = false;
        }

        if (this.mesaElegida.empleadoAsignado) {
          return PolymerUtils.Toast.show("esta mesa ya tiene un empleado asignado");
        }

        var mesaId = this.mesaActual._key;
        this.eliminaEmpleadoAsignado(mesaId);
        var nuevaMesa=this.mesaElegida._key;
        var idEv = this.eventoId;
        var emp = this.empleadoCambiar;
        var collection = "eventos/" + idEv + "/mesas";
        var doc = nuevaMesa;
        var object = { "empleadoAsignado": emp };
        var options = {
          "collection": collection,
          "object": object,
        };
        options["doc"] = doc;
        var t = this;
        options["success"] = function (key) {
          PolymerUtils.Toast.show(emp.nombreEmpleado + " " + emp.aPaternoEmpleado + " fue asignado a la mesa " + t.mesaElegida.numMesa);
        };
        options["error"] = function (err) {
          console.log(err);
          PolymerUtils.Toast.show("Error al actualizar, intentalo más tarde");
        };
        firebaseHelper.update(this, options);
      }//actualizaEmpleado


      eliminaEmpleadoAsignado(mesa) {
        var id = this.eventoId;
        var collection = "eventos/" + id + "/mesas";
        var doc = mesa;
        var object = { "empleadoAsignado": firebase.firestore.FieldValue.delete() };
        var options = {
          "collection": collection,
          "object": object,
        };
        if (doc) {
          options["doc"] = doc;
        }

        options["success"] = function (key) {
          console.log("Se elimino el empleado asignado");
        };
        options["error"] = function (err) {
          console.log("Error al actualizar", err);
        };
         firebaseHelper.update(this, options);
      }//eliminaEmpleadoAsignado

    }//class

    window.customElements.define(CambiaMesa.is, CambiaMesa);
  </script>
</dom-module>