<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="empleado-info">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 70%;
            }
        </style>
        <img src="[[getPhoto(empleado.image)]]" class="center">
        <div>
           Nombre de empleado: [[empleado.nombreEmpleado]] [[empleado.aPaternoEmpleado]] [[empleado.aMaternoEmpleado]]
        </div>
        <div>
            Puesto:[[empleado.puesto.nombre]]
        </div>

        <div>
            Calificación: [[getCalif(empleado)]]
        </div>

        <div>
            Telefono: [[empleado.telefonoPrincipal]]
        </div>

    </template>

    <script>
        class EmpleadoInfo extends Polymer.Element {
            static get is() { return 'empleado-info'; }

            static get properties() {
                return {
                    empleado:{type:Object, notify:true}
                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready

            getCalif(emp){
                var calif = "null";
                        if (emp.empleadoPlus) {
                            calif = "plus";
                        } else {
                            if (emp.calificacion <= 30) {
                                calif = "nuevo";
                            } else if (emp.calificacion > 30 || arr.base[i].calificacion <= 60) {
                                calif = "regular";
                            } else if (emp.calificacion > 60) {
                                calif = "bueno";
                            }
                        }
                        return calif;
            }//getCalif

            getPhoto(imagen) {
                if (imagen) {
                    return imagen;
                }
                return "../../images/download.png";
            }//getPhoto
            
        }//class

        window.customElements.define(EmpleadoInfo.is, EmpleadoInfo);
    </script>
</dom-module>