<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="empleados-filtrados">
    <template>
        <style include="shared-styles">
            :host {
                display: inline-block;
            }
        </style>

        <template is="dom-repeat" items="[[filtro]]">
            <div>
                [[item.nombreEmpleado]] [[item.aPaternoEmpleado]] [[item.aMaternoEmpleado]]
            </div>
            <div secondary>
               [[ item.puesto.nombre]]
            </div>
        </template>

    </template>

    <script>
        class EmpleadosFiltrados extends CustomClass(Polymer.Element) {
            static get is() { return 'empleados-filtrados'; }

            static get properties() {
                return {
                    mesa: { type: Number, notify: true },
                    empleadosFiltro: { type: Array, notify: true, value: [] },
                    filtro: { type: Array, notify: true, value: [] }
                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready
            static get observers() {
                return [
                    'filtraEmpleados(mesa,empleadosFiltro.*)'
                ]
            }//observers


            filtraEmpleados(mesa, arreglo) {
                var arr = [];
                var checa = this.empleadosFiltro;
                var numMesaLista = mesa;
                for (var i = 0; i < checa.length; i++) {
                    if (checa[i].asistencia == true && checa[i].mesaAsignada == numMesaLista) {
                        arr.push(checa[i]);
                    }
                }
                this.set("filtro", arr);
            }//filtraEmpleados

        }//class

        window.customElements.define(EmpleadosFiltrados.is, EmpleadosFiltrados);
    </script>
</dom-module>