<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="agrega-tipo-reporte.html">

<dom-module id="gestiona-reporte">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>


    <div>
      selecciona el tipo de reporte que deseas agregar
      <div style="display:inline-block;">
        <paper-checkbox checked="{{positivo}}">Reporte Postivo</paper-checkbox>
      </div>
      <div style="display:inline-block;">
        <paper-checkbox checked="{{negativo}}">Reporte Negativo</paper-checkbox>
      </div>
    </div>

    <div>
      <paper-dropdown-menu id="selectorTipo" slot="dropdown-content" class="dropdown-content" label="Reporte de incidencia"
        on-iron-select="seleccionaTipo" error-message="no has seleccionado un tipo" vertical-align="top"
        horizontal-align="left">
        <paper-listbox id="supervisorListBox" slot="dropdown-content" attr-for-selected="value" selected="{{type1}}">
          <template is="dom-repeat" items="[[tiposMuestra]]" as="tipo">
            <paper-item value$="[[tipo]]">
              <div>[[tipo.descripcion]]</div>
            </paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>
    </div>

    <div>
      <paper-input label="Comentario extra" error-message="verifica tu información" value="{{comentario}}"></paper-input>
    </div>


  </template>

  <script>
    class GestionaReporte extends CustomClass(Polymer.Element) {
      static get is() { return 'gestiona-reporte'; }

      static get properties() {
        return {
          evento: { type: Object, notify: true },
          empleado: { type: Object, notify: true },

          tiposGuardados: { type: Array, notify: true, value: [] },
          tiposMuestra: { type: Array, notify: true, value: [] },
          muestraAgrega: { type: Boolean, notify: true },
          positivo: { type: Boolean, notify: true, observer: "cambiaPositivo" },
          negativo: { type: Boolean, notify: true, observer: "cambiaNegativo" },
          comentario: { type: String, notify: true },
          tipoReporte: { type: Object, notify: true },
          type1: { type: Object, notify: true }
        };
      }//properties

      constructor() {
        super();
        this.getTipos();
      }//constructor

      ready() {
        super.ready();
      }//ready

      cambiaPositivo(value) {
        var ar = [];
        if (value == true) {
          this.set("negativo", false);
          for (var i = 0; i < this.tiposGuardados.length; i++) {
            if (this.tiposGuardados[i].tipoReporte.id == 0) {
              ar.push(this.tiposGuardados[i]);
            }
          }
          this.set("tiposMuestra", ar);
        }
      }//cambiaPositivo

      cambiaNegativo(value) {
        var ar = [];
        if (value == true) {
          this.set("positivo", false);

          for (var i = 0; i < this.tiposGuardados.length; i++) {
            if (this.tiposGuardados[i].tipoReporte.id == 1) {
              ar.push(this.tiposGuardados[i]);
            }
          }
          this.set("tiposMuestra", ar);
        }
      }//cambiaNegativo

      guardaIncidencia() {
        if (this.tipoReporte == null) {
          return this.$.selectorTipo.invalid = true;
        } else {
          this.$.selectorTipo.invalid = false;
        }

        if (this.comentario == null || this.comentario == "" || this.comentario.trim() == "") {
          this.set("comentario", "-");
        }
        var dataEmpleado = this.empleado;

        if (this.tipoReporte.tipoReporte.id == 0) {
          dataEmpleado["califActualizada"] = parseFloat(dataEmpleado.califiAnterior, 10) + parseFloat(this.tipoReporte.puntaje, 10);
        }
        else {
          dataEmpleado["califActualizada"] = parseFloat(dataEmpleado.califiAnterior, 10) - parseFloat(this.tipoReporte.puntaje, 10);
        }
        var nuevoReporte = {
          "evento": this.evento,
          "empleado": dataEmpleado,
          "reporte": this.tipoReporte,
          "comentario": this.comentario
        }

        var idEv = this.evento.eventoId;
        var t = this;
        firebaseHelper.insert(this,
          {
            "collection": "eventos/" + idEv + "/reportes",
            "includeTimestamp": true,
            "object": nuevoReporte,
            "success": function () {
              PolymerUtils.Toast.show("Reporte de incidencia guardado con éxito");
              t.actualizaCalEmpleado(dataEmpleado);
              t.guardaIncidenciaGlobal(nuevoReporte);
              t.limpiaCampos();
            }, "error": function (err) {
              PolymerUtils.Toast.show("Error al guardar. Intentelo mas tarde");
            }
          });
      }//guardaIncidencia

      actualizaCalEmpleado(empleado) {
        var idEmpleado = empleado.empleadoId;
        var nuevaCalif = empleado.califActualizada;
        var collection = "empleados";
        var doc = idEmpleado;
        var object = { "calificacion": parseFloat(nuevaCalif, 10) };
        var options = {
          "collection": collection,
          "object": object,
          "includeTimestamp": this.includeTimestamp
        };
        if (doc) {
          options["doc"] = doc;
        }

        options["success"] = function (key) {
          console.log("calificacion actualizada");

        };
        options["error"] = function (err) {
          console.log("Error al actualizar", err);
        };
        firebaseHelper.update(this, options);
      }//actualizaCalempleado

      guardaIncidenciaGlobal(objecto) {
        var t = this;
        firebaseHelper.insert(this,
          {
            "collection": "reportes",
            "includeTimestamp": true,
            "object": objecto,
            "success": function () {
              console.log("Reporte global guardado con éxito");
            }, "error": function (err) {
              PolymerUtils.Toast.show("Error al guardar. Intentelo mas tarde");
            }
          });
      }//guardaIncidenciaGlobal

      limpiaCampos() {
        this.set("tipoReporte", null);
        this.set("comentario", null);
        this.set("type1", null);
      }//limpiaCampos

      getTipos() {
        var t = this;

        if (this.lastQueryCollection) {
          this.lastQueryCollection();
        }
        var collection = "tiposIncidencias";
        var context = this;
        var callback = null;
        var error = null;

        var options = {
          "collection": collection,
          "array": context.tiposGuardados,
          "arrayName": "tiposGuardados"
        };


        options["callback"] = function (collectionArray) {
          console.log('%c Callback fired from collection listener', 'background: #222; color: white;');
        };

        options["callback"] = function (collection) {
          console.log('%c Callback fired from collection listener', 'background: #222; color: white;', collection);
        };

        options["error"] = function (err) {
          console.log(err)
        };
        this.set("lastQueryCollection", firebaseHelper.queryCollection(this, options));
      }//getTipos

      seleccionaTipo(e) {
        var selectedItem = e.target.selected;
        if (selectedItem) {
          this.set("tipoReporte", JSON.parse(selectedItem));
        }
      }//muestraEvento

    }//class

    window.customElements.define(GestionaReporte.is, GestionaReporte);
  </script>
</dom-module>