<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/bootstrap-styles/bootstrap-styles.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="menu-item">
  <template>
    <style include="bootstrap-styles"></style>
    <style include="shared-styles">
      .item {
        color: white;
        width: 150px;
        height: 150px;
        margin: 10px;
        border: 10px;
        align-content: center;
      }
    </style>

    <div class="item" style$="background-color:{{color}}; align-items: center; justify-content: center; display:flex; flex-direction:column;">
      <iron-icon icon="[[icono]]" style="width:80px; height: 80px; align-items: center; border:10px;"></iron-icon>
      <p style="height: 40px; text-align: center; align-items: center; display:flex;">[[nombreItem]]</p>
    </div>

  </template>

  <script>
    class MenuItem extends Polymer.Element {
      static get is() { return 'menu-item'; }

      static get properties() {
        return {
          icono: { type: String, notify: true },
          nombreItem: { type: String, notify: true },
          color: { type: String, notify: true }
        };
      }//properties

      constructor() {
        super();
      }//constructor

      ready() {
        super.ready();
      }//ready

    }//class

    window.customElements.define(MenuItem.is, MenuItem);
  </script>
</dom-module>