<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/bootstrap-styles/bootstrap-styles.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="my-info2">
  <template>
      <style include="bootstrap-styles"></style>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

   
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 style="display:inline-block;">[[evento.nombreEvento]]</h3>
          </div>
          <div class="panel-body">
            <div class="col-xs-12">
              <div class="col-xs-2">
                <iron-icon icon="social:pages"></iron-icon>
              </div>
              <div class="col-xs-10">[[evento.tipoEvento.nombreEvento]]</div>
            </div>
            <div class="col-xs-12">
              <div class="col-xs-2">
                <iron-icon icon="date-range"></iron-icon>
              </div>
              <div class="col-xs-10">[[PolymerUtils_getFullSpanishDate(evento.fechaEvento)]]</div>
            </div>
            <div class="col-xs-12">
              <div class="col-xs-2">
                <iron-icon icon="communication:location-on"></iron-icon>
              </div>
              <div class="col-xs-10"> [[evento.direccion.calle]] [[evento.direccion.num]],
                [[evento.direccion.colonia]];
                [[evento.direccion.municipio]], [[evento.direccion.estado]]
              </div>
            </div>
            <div class="col-xs-12">
              <div class="col-xs-2">
                <iron-icon icon="social:group"></iron-icon>
              </div>
              <div class="col-xs-10">[[evento.numeroAsistentes]] asistentes</div>
            </div>
            <div class="col-xs-12" style="border-top:solid 1px #BDBDBD;">
              <div class="col-xs-12">
                <h3>Datos del cliente</h3>
              </div>
              <div class="col-xs-12" style="padding:0 !important;">
                <div class="col-xs-2" style="padding:0 !important;">
                  <iron-icon icon="social:person"></iron-icon>
                </div>
                <div class="col-xs-10"> [[evento.cliente.nombreCliente]]</div>
              </div>
              <div class="col-xs-12" style="padding:0 !important;">
                <div class="col-xs-2" style="padding:0 !important;">
                  <iron-icon icon="mail"></iron-icon>
                </div>
                <div class="col-xs-10">[[evento.cliente.emailCliente]]</div>
              </div>
              <div class="col-xs-12" style="padding:0 !important;">
                <div class="col-xs-2" style="padding:0 !important;">
                  <iron-icon icon="communication:call"></iron-icon>
                </div>
                <div class="col-xs-10">[[evento.cliente.telefonoCliente]]</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </template>

  <script>
    class MyInfo2 extends CustomClass(Polymer.Element) {
      static get is() { return 'my-info2'; }

      static get properties(){
          return{
            evento: { type: Object, notify: true },
          };
      }//properties

      constructor(){
          super();
      }//constructor

      ready(){
          super.ready();
      }//ready
      
    }//class

    window.customElements.define(MyInfo2.is, MyInfo2);
  </script>
</dom-module>