<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../eventos/my-empleados.html">
<link rel="import" href="../componentes/actualiza-empleados-tipo.html">

<dom-module id="vista-agrega-empleado">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>

        <template is="dom-if" if="[[!haySolicitados]]">
            <actualiza-empleados-tipo on-cierra-cuadro-changed="cierraCuadro" evento-id="[[eventoId]]" tipo-empleado="[[tipoEmpleado]]"></actualiza-empleados-tipo>
        </template>

        <template is="dom-if" if="[[haySolicitados]]">
            <my-empleados on-empleados-list-changed="notifyResize" evento="[[evento]]" tipo-seleccionado="[[tipoSeleccionado]]" tipo-empleado-actual="[[tipoEmpleadoActual]]"
                empleados-registrados="[[empleadosRegistrados]]">
            </my-empleados>
        </template>
    </template>

    <script>
        class VistaAgregaEmpleado extends DialogLayoutClass(Polymer.Element) {
            static get is() { return 'vista-agrega-empleado'; }

            static get properties() {
                return {
                    haySolicitados: { type: Boolean, notify: true },
                    evento: { type: Object, notify: true, },
                    eventoId: { type: String, notify: true },
                    tipoSeleccionado: { type: Object, notify: true },
                    tipoEmpleadoActual: { type: Object, notify: true },
                    empleadosRegistrados: { type: Array, notify: true, value: [] },
                    tipoEmpleado: { type: Object, notify: true },

                };
            }//properties

            constructor() {
                super();
            }//constructor

            ready() {
                super.ready();
            }//ready

            static get observers() {
                return [
                    'checaSolicitud(evento,tipoEmpleadoActual)'
                ]
            }//observers

            notifyResize(){
                console.log("estamos en vista agrega empleado");
                this.DialogLayout_notifyResize();
            }

            cierraCuadro(){
                this.DialogLayout_notifyResize();

            }

            checaSolicitud(ev, ti) {
                if (ti) {
                    switch (ti.id) {
                        case 1:
                            if (!ev.numCapA) {
                                this.set("haySolicitados", false);
                            } else {
                                this.set("haySolicitados", true);
                            }
                            break;
                        case 2:
                            if (!ev.numCapB) {
                                this.set("haySolicitados", false);
                            } else {
                                this.set("haySolicitados", true);
                            }
                            break;
                        case 3:
                            if (!ev.numMeseros) {
                                this.set("haySolicitados", false);
                            } else {
                                this.set("haySolicitados", true);
                            }
                            break;

                        case 4:
                            if (!ev.numBarman) {
                                this.set("haySolicitados", false);
                            } else {
                                this.set("haySolicitados", true);
                            }
                            break;

                        case 5:
                            if (!ev.numEscamoche) {
                                this.set("haySolicitados", false);
                            } else {
                                this.set("haySolicitados", true);
                            }
                            break;

                        case 6:
                            if (!ev.numParking) {
                                this.set("haySolicitados", false);
                            } else {
                                this.set("haySolicitados", true);
                            }
                            break;

                        case 7:
                            if (!ev.numSanitario) {
                                this.set("haySolicitados", false);
                            } else {
                                this.set("haySolicitados", true);
                            }
                            break;

                        case 8:
                            if (!ev.numSeguridad) {
                                this.set("haySolicitados", false);
                            } else {
                                this.set("haySolicitados", true);
                            }
                    }//switch
                }
            }//checaSolicitud

        }//class

        window.customElements.define(VistaAgregaEmpleado.is, VistaAgregaEmpleado);
    </script>
</dom-module>