<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="shared-styles.html">

<dom-module id="contact-badge">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        
      }
      .circle-div{
          border-radius: 50%;
          color: white;
          cursor:pointer;
          text-align: center;
          display: flex;
    align-items: center;
    justify-content: center;
    
          border-style: solid;
          border-width: 1px;
      }
      .floating-card{
          background-color: white;
          border-radius: 5px;
          
          padding: 16px;

      }
      #dropdown{
          
          z-index: 999;
      }
    </style>
    <template is="dom-if" if="[[!contact.photoURL]]">

    <div on-click="showRandomColor" style$="[[getSizeStyle(tam)]] background-color: var(--paper-[[getShowColor(contact)]]-500); border-color: var(--paper-[[getShowColor(contact)]]-500);" class="circle-div">
        <div style$="[[getFontSize(tam)]]">[[getFirstLetter(contact)]]</div>
    </div>
</template>
<template is="dom-if" if="[[contact.photoURL]]">

    <img style$="[[getSizeStyle(tam)]]  border-color: rgba(0,0,0,0.45); background-size: cover; background-image: url('[[contact.photoURL]]')" class="circle-div" />
</template>    
  </template>

  <script>
    class ContactBadge extends GlobalMixin(Polymer.Element) {
      static get is() { return 'contact-badge'; }
      constructor(){
          super();
          
          
      }
      getFontSize(tam){
          if(tam){
              if(parseFloat(tam.replace("px",""))>48){
                  return "font-size: 30px;";
              }
          }
          else{
              return "font-size: 20px;";
          }
      }
      getSizeStyle(tam){
          if(tam){
              return "width: "+tam+" !important; height: "+tam+" !important;"
          }
          else{
              return "width: 40px !important; height: 40px !important;";
          }
      }
      showRandomColor(){
          /*PolymerUtils.Toast.show(this.randomColor);
          var contact=this.contact;
          firebase.firestore().collection("users").doc(this.contact.uid).update({badgeColor:this.randomColor}).then(function(){

            console.log("Badge color updated for user "+contact.displayName);
          });*/
      }
      showDropdown(){
          //this.$.dropdown.positionTarget=this.$.actualCircle;
            //this.$.dropdown.toggle();
             //PolymerUtils.showDropdown(this.$.dropdown);
      }
      signOut(){
          firebaseHelper.auth.delayedSignOut(1000);
          
      }
      getShowColor(contact){
          if(!contact){
              return this.getRandomColor();
          }
          if(!contact.badgeColor){
              return this.getRandomColor();
          }
          return contact.badgeColor;
      }
      static get properties(){
          return {
              randomColor:{
                  type:String,
                  notify:true
              },
              contact:{
                  type:Object,
                  notify:true,
                  value: null
              },
              tam:{
                  type:String,
                  notify:true,
                  value:null
              }
          };
      }
      getFirstLetter(user){
          if(user){
              if(user.displayName || user.name){

                  return user.displayName ? user.displayName.substring(0,1).toUpperCase() : user.name.substring(0,1).toUpperCase();
              }
              else{
                  return user.email.substring(0,1).toUpperCase();
              }
          }
          else{
              return "";
          }
      }
    }

    window.customElements.define(ContactBadge.is, ContactBadge);
  </script>
</dom-module>
