<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="dom-access">
  <template>
    <style>
      :host {
        display: block;
      }



    </style>

  <template is="dom-if" if="[[loggedUserHasAccess(path,dataUser,accessList)]]">
        <slot></slot>
    </template>
  
  </template>
  <script>
    class DomAccess extends Polymer.Element {
      static get is() { return 'dom-access'; }
      loggedUserHasAccess(path,user,accessList){
      //  return true;
      if(typeof AndroidApp!= "undefined"){
        return (user && accessList && accessList[path] && StaticDomAccess.hasAndroid(path));
         // AndroidApp.forceAppReload();
        }
          return (user && accessList && accessList[path]);
      }
      
      constructor(){
          super();
          var context=this;
          firebaseHelper.addDataUserCallback(function(dataUser){
          if(dataUser){
            /**
             * Asigna el nuevo valor de dataUser a la propiedad de MyApp. 
            */
            //context.set("dataUser",null);
            context.set("accessList",null);
            context.set("accessList",dataUser.accessList);
            context.set("dataUser",dataUser);
          }
          else{
            /**
             * Si dataUser es nulo o indefinido, asignamos null a la propiedad de MyApp.
            */

            context.set("dataUser",null);
          }
        });
      }
      static get properties() {
        return {
            dataUser:{
                type:Object,
                notify:true
            },
            accessList:{
                type:Object,
                notify:true
            },
          path:{
              type:String,
              notify:true
          }
        };
      }
    }

    window.customElements.define(DomAccess.is, DomAccess);
  </script>
</dom-module>
