<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<dom-module id="inicio-item">
  <template>
    <style>
      :host {
        display: inline-block;
        text-align: left !important;
        --paper-card-header-background: white;
        max-width: 100%;
        --paper-card-header:{
          background-color: var(--paper-card-header-background) !important;
        };
      }
      paper-card {
        width: 100%;
    cursor:pointer;
    
  }
  .paper-card-container.smallDevice{
    max-width: 150px !important;
    width: 150px;
    margin: 8px 4px !important;
  }
  .card-content{
    padding: 0 !important;
  }
  .paper-card-container{
    width: 200px;
    max-width: 200px;
   margin: 12px;
  }


  a{
      text-decoration:none;
  }
  
  .cafe-header { 
    min-height: 65px;
    @apply --paper-font-headline; 
    
    color: transparent;
  background: inherit;
    -webkit-background-clip: text;
                    background-clip: text;
                    filter: invert(1) grayscale(1) contrast(9);

  
    }
  .cafe-header.smallDevice{
    font-size: 18px;
  }
  .cafe-icon {
    font-size: 14px;

     color: white;
}
  .cafe-light {
    font-size: 14px;

     color: transparent;
  background: inherit;
    -webkit-background-clip: text;
                    background-clip: text;
                    filter: invert(1) grayscale(1) contrast(9);
}
iron-collapse{
}
  .cafe-location {
    
position: absolute;
right: 4px;
top: 14px;
vertical-align: middle;
  }
  .cafe-reserve { color: var(--google-blue-500); }
  iron-icon.star {
--iron-icon-width: 16px;
--iron-icon-height: 16px;
color: var(--paper-amber-500);
  }
  
  iron-icon.star:last-of-type { color: var(--paper-grey-500); }
    </style>
    
    <div style="display:flex;" class$="paper-card-container [[getClassDevice(smallDevice)]]">
    <paper-card  id="myCard" style="height: 100%;">
        <div class="card-content">
            <a href="[[href]]" tabindex="-1" id="clicker2" style="text-decoration: none;">
          <div style$="width: 100%; height: auto; background-color: [[headerColor]];">
          <img style="width: 100%; height: auto;" src="[[image]]" />
        </div></a>
        <div>
        <div style$="padding: 16px; position: relative; background-color: [[headerColor]];" >
          <div class$="cafe-header [[getClassDevice(smallDevice)]]" style="font-weight: 500; " on-click="toggleCollapse">[[title]]
               
          </div>
<!--
          <div class="cafe-location" style$="background-color: [[headerColor]];">
              
                <iron-icon class="cafe-icon" icon$="[[getArrowStyle(collapseOpened)]]"></iron-icon>
               
              
            </div>-->



          <!--<div class="cafe-rating">
            <iron-icon class="star" icon="star"></iron-icon>
            <iron-icon class="star" icon="star"></iron-icon>
            <iron-icon class="star" icon="star"></iron-icon>
            <iron-icon class="star" icon="star"></iron-icon>
            <iron-icon class="star" icon="star"></iron-icon>
          </div>-->
          <!--<p>$・Italian, Cafe</p>-->
          <iron-collapse id="collapse" opened="{{collapseOpened}}">
            <div style$="background-color: [[headerColor]];">
              <p class="cafe-light" style="font-weight: 500;">[[description]]</p></div>
          </iron-collapse>
        </div></div>
        </div>
        <div class="card-actions">
          <div class="horizontal justified">
                <a href="[[href]]" tabindex="-1" id="hrefClicker" style="float:right; margin-bottom: 4px;"><paper-button style="color: var(--paper-blue-600); font-weight: 500;">Empezar</paper-button></a>
            <!--<paper-icon-button icon="icons:event"></paper-icon-button>
            <paper-button>5:30PM</paper-button>
            <paper-button>7:30PM</paper-button>
            <paper-button>9:00PM</paper-button>
            <paper-button class="cafe-reserve">Reserve</paper-button>-->
          </div>
        </div>
      </paper-card>
    </div>
    
<iron-media-query query="(max-width: 640px)" query-matches="{{smallDevice}}"></iron-media-query>
  </template>

  <script>
    class InicioItem extends Polymer.Element {
      static get is() { return 'inicio-item'; }
      clicker(e){
       // console.log();
       // if(e.target.closest("iron-image")){
          this.$.hrefClicker.click();
       // }
         // 
      }
      ready(){
        super.ready();
        var context=this;
        var header=this.$.myCard.shadowRoot.querySelector(".header");
        header.addEventListener("click",function(){
          context.clicker();
        });
        header.addEventListener("tap",function(){
          context.clicker();
        });
      }
      getArrowStyle(opened){
        if(opened){
          return "arrow-drop-up";
        }
        return "arrow-drop-down";
      }
      getClassDevice(small){
        if(small){
          return "smallDevice";
        }
        return "";
      }
      _collapseOpenedChanged(val){
//        console.log("Collapse opened",val);
        
      }
      static get properties() {
        return {
         image:{
             type:String,
             notify:true
             
         },
         collapseOpened:{
           type:Boolean,
           notify:true,
           observer: "_collapseOpenedChanged"
         },
         title:{
             type:String,
             notify:true
         },
         description:{
             type:String,
             notify:true
         },
         href:{
             type:String,
             notify:true
         },
         headerColor:{
             type:String,
             notify:true,
             observer:"_headerColorChanged"
         }

         
        };
      }
      toggleCollapse() {
  this.$.collapse.toggle();
  //this.$.button.setAttribute('aria-expanded', this.$.collapse.opened);
}
      _headerColorChanged(val){
          this.updateStyles({"--paper-card-header-background":val});
      }
    }

    window.customElements.define(InicioItem.is, InicioItem);
  </script>
</dom-module>
