<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<dom-module id="jose-logo">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        position: relative;
      }
      
    </style>
    <template is="dom-if" if="[[!withoutJose]]">          
    <img src="images/jose-logo.png" 
    style="position: absolute; right: 15%; top: -60px; display: block; height: 120px; width: 120px;"/>
</template>
    <div style="background-color: black; height: 25px; width: 100%;"></div>
    <iron-media-query query="(max-width: 640px)" query-matches="{{smallDevice}}"></iron-media-query>

  </template>

  <script>
    class JoseLogo extends Polymer.Element {
      static get is() { return 'jose-logo'; }
      getLeftSize(small){
          if(small){
              return "50%";
          }
          else return "80%";
      }
      static get properties() {
        return {
            withoutJose:{
                type:Boolean,
                notify:true,
                value: false
            }
        };
      }
    }

    window.customElements.define(JoseLogo.is, JoseLogo);
  </script>
</dom-module>
