<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="user-badge.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="jose-logo.html">



<link rel="import" href="my-login.html">
<link rel="import" href="dom-access.html">
<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-usuarios-view.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="my-estadisticas.html">



<link rel="lazy-import" href="/src/eventos/evento-main.html">
<link rel="import" href="/src/eventos/evento-info.html">
<link rel="import" href="dialogs/profile-dialog.html">
<link rel="import" href="/src/tipos-reportes/reporte-main.html">

<link rel="lazy-import" href="my-recursos.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: black;

        --app-secondary-color: black;

        display: block;

        --paper-dialog-scrollable: {
          max-width: 100% !important;
        }

        ;
      }

      .floating-card {
        border-style: solid;
        border-width: 1px;
        border-color: #545454;
        background-color: white;
        border-radius: 3px;
        width: 400px;
        max-width: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        padding: 16px;

      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .banquetes-background {
        background-color: rgb(255, 251, 251);
        background-size: cover;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>


    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
    </app-route>
    <template is="dom-if" if="[[dataUser]]">
      <app-drawer-layout fullbleed force-narrow narrow="{{narrow}}" class="banquetes-background">
        <!-- Drawer content -->

        <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
          <img src="../images/jose-logo.png" style="max-width: 85%; margin-top: 20px;" />
          <app-toolbar>Menu</app-toolbar>
          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">

            <a name="my-view1" href="[[rootPath]]my-view1">
              <iron-icon icon="home"></iron-icon>Inicio
            </a>

            <dom-access path="eventos">
              <a name="my-view1" href="[[rootPath]]eventos/evento-main">
                <iron-icon icon="social:pages"></iron-icon>Eventos
              </a>
            </dom-access>

            <dom-access path="empleados">
              <a name="my-recursos" href="[[rootPath]]my-recursos"><iron-icon icon="social:person"></iron-icon>Recursos Humanos</a>
            </dom-access>
              <dom-access path="estadisticas">          
              <a name="my-estadisticas" href="[[rootPath]]my-estadisticas"><iron-icon icon="icons:trending-up"></iron-icon>Estadísticas</a>
              </dom-access>
             
            <dom-access path="usuarios">
              <a name="my-usuarios-view" href="[[rootPath]]my-usuarios-view">
                <iron-icon icon="social:people"></iron-icon>Usuarios
              </a>
            </dom-access>
            <!-- <a name="my-view3" href="[[rootPath]]my-view3">View Three</a> -->
          </iron-selector>
          <div>Powered by Corntech</div>
        </app-drawer>


        <app-header-layout has-scrolling-region>

          <app-header slot="header" condenses fixed effects="waterfall">
            <app-toolbar>
              <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
              <div main-title>

                {{nombrePagina}}</div>
              <template is="dom-if" if="[[dentroMenu]]" restamp>
                <paper-icon-button icon="my-icons:arrow-back" on-click="cambiaAtras"></paper-icon-button>
              </template>
              <user-badge on-click="showUserDropdown"></user-badge>
            </app-toolbar>
          </app-header>


          <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="my-view404" role="main">

            <dom-access name="eventos/evento-main" path="eventos">
              <evento-main name="eventos/evento-main"></evento-main>
            </dom-access>

            <evento-info name="eventos/evento-info"></evento-info>

            <dom-access name="tipos-reportes/reporte-main" path="tipos-incidencias">
              <reporte-main name="tipos-reportes/reporte-main"></reporte-main>
            </dom-access>
            <dom-access name="my-recursos" path="empleados">
              <my-recursos name="my-recursos"></my-recursos >
            </dom-access>
            
            <my-estadisticas name="my-estadisticas"></my-estadisticas >

            <my-view1 name="my-view1"></my-view1>
            <my-view2 name="my-view2"></my-view2>
            <dom-access name="my-usuarios-view" path="usuarios">
              <my-usuarios-view name="my-usuarios-view"></my-usuarios-view>
            </dom-access>
            <my-view404 name="my-view404"></my-view404>

          </iron-pages>
        </app-header-layout>
      </app-drawer-layout>
    </template>

    <my-login></my-login>


    <iron-dropdown id="userDropdown" horizontal-align="right" vertical-align="bottom">
      <div class="floating-card" style="min-height: 160px;" slot="dropdown-content">
        <div style="display: flex;">
          <user-badge tam="60px"></user-badge>
          <div style="display: flex;align-items: center;justify-content: center;">
            <div>
              <div style="font-weight: 600;">[[dataUser.displayName]]</div>
              <div>[[dataUser.email]]</div>
            </div>
          </div>
        </div>
        <div>
          <paper-button raised style="color: white; background-color: var(--paper-blue-500);" on-click="signOut">Cerrar
            sesión</paper-button>
        </div>
      </div>
    </iron-dropdown>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }
      showUserDropdown() {

        this.$.userDropdown.toggle();

      }
      signOut() {
        this.$.userDropdown.toggle();
        firebaseHelper.auth.delayedSignOut(1000);

      }
      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          nombrePagina: { type: String, notify: true },
          dentroMenu: { type: Boolean, notify: true }
        };


      }
      //esto solo es para escuchar como cambia la ruta
      _subrouteChanged(subroute) {
        console.log("Subroute", subroute);
      }
      _subPageChanged(val) {
        console.log("Sub page", val);
      }
      static get observers() {
        return [
          '_routePageChanged(routeData, route)',
        ];
      }

      _routePageChanged(routeData, route) {
        //console.log("Route data",routeData)

        //creamos la url para el navegador determinando que valores se generan el el objecto route
        var pageArray = route.path.substring(1).split("/");
        console.log("Page array", pageArray);
        var page = "";
        if (pageArray[0]) {
          page += pageArray[0];

          this.set("nombrePagina", "Banquetes App");
          this.set("dentroMenu", false);

        } else {
          this.set("nombrePagina", "Banquetes App");
          this.set("dentroMenu", false);
        }
        if (pageArray[1]) {
          page += "/" + pageArray[1];
          this.set("dentroMenu", true);

          var ar = pageArray[0].split("-");
          var nuNo = "";
          for (var i = 0; i < ar.lenght; i++) {
            nuNo = nuNo + " " + ar[i];
          }

          this.set("nombrePagina", pageArray[0].charAt(0).toUpperCase() + pageArray[0].slice(1));
          //this.set("nombrePagina",nuNo);
        }

        //una vez creada la ruta pasamos a /gestion_proyecto/gestion-index.html para ver que sigue
        console.log("New page");
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'my-view1';
        var drawer = this.shadowRoot.querySelector("#drawer");
        if (drawer && !drawer.persistent) {
          drawer.close();
        }
        // Close a non-persistent drawer when the page & route are changed.

      }
      constructor() {
        super();
        var context = this;
        firebaseHelper.addDataUserCallback(function (dataUser) {
          if (dataUser) {
            /**
             * Asigna el nuevo valor de dataUser a la propiedad de MyApp. 
            */
            context.set("dataUser", dataUser);
            // console.log("Data user",dataUser);
          }
          else {
            /**
             * Si dataUser es nulo o indefinido, asignamos null a la propiedad de MyApp.
            */

            context.set("dataUser", null);
          }
        });
      }
      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = 'view404';

      }//_showPage404

      cambiaAtras() {
        window.history.back();
      }//cambiaAtras



    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>