<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-search/paper-search.html">
<link rel="import" href="../bower_components/paper-search/paper-filter-dialog.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">
<link rel="import" href="../bower_components/datetime-picker/date-picker.html">
<link rel="import" href="../bower_components/datetime-picker/datetime-picker.html">
<link rel="import" href="../bower_components/datetime-picker/datetime-polyfill-picker-mixin.html">
<link rel="import" href="../bower_components/datetime-picker/overlay-datetime-picker.html">
<link rel="import" href="../bower_components/datetime-picker/overlay-datetime-picker.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-tree-toggle.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-column.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/bootstrap-styles/bootstrap-styles.html">













<link rel="import" href="../src/recursos-humanos/empleados-example.html">






<dom-module id="my-estadisticas">
  <template>
      <style include="bootstrap-styles"></style>

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .vaadin-demo-input[readonly] {
        border: 2px solid transparent;
        pointer-events: none;
      }

      .vaadin-demo-input {
        font: inherit;
        width: 100%;
      }

      google-chart {
  height: 400px !important;
  width:30em;
}
      
    </style>



   

<empleados-example></empleados-example>


  
  </template>

  <script>
    class MyEstadisticas extends Polymer.Element {
      static get is() { return 'my-estadisticas'; }
      static get observers(){
        return[
        "_fechasChanged(fechaInicio,fechaFin)"
        ];
      }
      /* _fechasChanged(item,item2){
        this.busquedaEmpleados();
        this.reporteGeneral();
      } */
      constructor(){

          super();
          var context=this;
          var db=firebase.firestore();
          var array=[];



                      db.collection("_counters")
                            .onSnapshot(function(querySnapshot) {
                              querySnapshot.forEach(function(doc) {
                            var count=doc.data().count;  
                            array.push(count);

                          });
                          context.set("eventosCount",array);  

                      });

            
                  
          }
      static get properties(){
        return {
          opciones: {
            type: Object, notify: true, value: {
              width: 800,
              height: 400
              
              
            },
            filas:{
              type:Array,
              notify:true,
              value: [["Asistencia", 10],["Faltas", 28],["Otro", 31]]
            },
            arrayAsistencia:{
              type:Array,
              value:[]
            },
            eventosCount:{
              type:Array,
              value:[]
            },
            promedio:{
              type:Number
            },
            promedioPositivo:{
              type:Number
            },
            array:{
              type:Array,
              notify:true,
              value:[]
            },
            arrayIdEmp:{
              type:Array,
              value:[]
            },
            arrayFull:{
              type:Array,
              value:[]
            },
            fechaInicio:{
              type:Date
            },
            fechaFin:{
              type:Date
            },
            arrayID:{
              type:Array,
              value:[]
            },
            contadorNegativo:{
              type:Number
            },
            contadorPositivo:{
              type:Number
            },
            totalEventos:{
              type:Array,
              value:[]
            },
            totalEventosC:{
              type:Number,
              
            },
            fecha1:{
              type:String
            },
            fecha2:{
              type:String
            }

          }

        }
      }
      getDate(item){
        var context=this;
        var dias =[
        "Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado"
        ]
        var date = new Date(item);
        var d=date.getDay();
        var dia = date.getDate();
        var mes = date.getMonth()+1;
        var año= date.getFullYear();
        var total=dia +"-"+mes+"-"+año;
         var r=dias[d]+" "+total;
          context.set("fecha1",r);
      }
      getNewDate(item){
        var context=this;

        var dias =[
        "Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado"
        ]
        var date = new Date(item);
        var d=date.getDay();
        var dia = date.getDate();
        var mes = date.getMonth()+1;
        var año= date.getFullYear();
        var total=dia +"-"+mes+"-"+año;
         dias[d]+" "+total;
         var r=dias[d]+" "+total;
          context.set("fecha2",r);
      }

      getReportes(item,id){
          console.log(item);
          console.log(id);


          return item;

      }




        reporteGeneral(item){
          var even=this.eventosCount;
          var event=even[0];
          var ids=this.arrayID;
          var full = this.arrayFull;
          var longitudFull=full.length;
          var idEmpleados=this.arrayIdEmp;
          var contadorPositivo=0;
          var contadorNegativo=0;
          var fin;
          var total;
          var tipo;
          var indices = [];

          var context=this;
          for(var i=0;i<ids.length;i++)
          {
            var id=ids[i];
               total=full[i];
               fin=total.empleado.empleadoId;
               tipo=total.reporte.tipoReporte.id;
              if(id==fin){
                  if(tipo=="0"){
                    contadorPositivo=contadorPositivo+1;
                    context.set("contadorPositivo",contadorPositivo);
                    var resultado=Number(contadorNegativo)/Number(event);
                    var f=resultado;
                    context.set("promedioPositivo",f);
                    context.set("totalEventosC",event);
                  
              }
                  if(tipo=="1"){
                    contadorNegativo=contadorNegativo+1
                    context.set("contadorNegativo",contadorNegativo);
                    var resultado=Number(contadorNegativo)/Number(event);
                    context.set("promedio",resultado);
                  }
            }
          }
          
         
          }
                    

          
          

        

          busquedaEmpleados(){
            var context=this;

            
            var fechaInicio=this.fechaInicio;
            var fechaFin=this.fechaFin;
            var array=this.array;
            var arreglo=[];
            var arregloFull=[];
            var ids=[];
            this.getDate(fechaInicio);
            this.getNewDate(fechaFin);


            var start = new Date(fechaInicio);
            var end = new Date(fechaFin);
            var db=firebase.firestore();

            db.collection("reportes").where("evento.fecha",">=",start).where("evento.fecha","<",end)
                    .get()
                    .then(function(querySnapshot) {

                        querySnapshot.forEach(function(doc) {
                            // doc.data() is never undefined for query doc snapshots
                            var data = doc.data().evento.asistencia;
                            var dataFull = doc.data();
                            var id=doc.data().empleado.empleadoId;
                            //context.push("array",{datos:data});
                            arreglo.push(data);
                            arregloFull.push(dataFull);
                            ids.push(id);


                        });
                        context.set("array",arreglo);
                        context.set("arrayFull",arregloFull);
                        context.set("arrayID",ids);


                    })
                    .catch(function(error) {
                        console.log("Error getting documents: ", error);
                    });
            }


    }

   
    
    

    window.customElements.define(MyEstadisticas.is, MyEstadisticas);
  </script>
</dom-module>
