<!-- Load the Polymer.Element base class -->

<link rel="import" href="../bower_components/paper-item/all-imports.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button-animations.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">




<link rel="import" href="../src/recursos-humanos/empleados-info.html">




<dom-module id="my-recursos">
  <!-- Defines the element's style and local DOM -->
  <template>



    <style>
      #divi {
        background-color: rgb(255, 255, 255);
      }
    </style>

<app-location route="{{route}}" url-space-regex="^[[rootPath]]">
  </app-location>

   
          <empleados-info></empleados-info>


  </template>
  <!--POLYMER-->
  <script>
    class MyRecursos extends CustomClass(Polymer.Element) {
      static get is() { return 'my-recursos'; }


      static get properties() {
        return {
          route: {
            //este el el objecto que escucha app-location para verificar a que proyecto solicitamos
            type: Object,
            notify: true,
          },
          arrayEmpleados: {
            type: Array,
            value: []
          },
          arrayInactivos: {
            type: Array, value: []
          },
          test: {
            type: Number,
            value: 5
          },
          arrayEdicion: {
            type: Array,
            value: []
          },
          colorCalif: {
            type: String,
            value: "color:red"
          },
          arrayBusqueda: {
            type: Array,
            value: []
          },
          busqueda: {
            type: String
          },
          nombre: {
            type: String
          },
          edad: {
            type: String
          },
          condicion1: {
            type: Boolean,
            value: false
          },
          condicion2: {
            type: Boolean,
            value: false
          },
          selected:{type:Number, notify:true, value:0}

        }
      }
      showFilter(event) {

        var context = this;

        if (event.target.checked) {
          var a = event.target.value;
          console.log(a);
          if (a == 'Nombre') {
            this.condicion1 = !this.condicion1;
          } else
            if (a == 'Edad') {
              this.condicion2 = !this.condicion2;

            }
        }


      }



      filtros() {
        var db = firebase.firestore();
        var edadMinima = this.valorMenor;
        var edadMaxima = this.valorMayor;
        var nombre = this.nombre;
        var context = this;
        db.collection("empleados").where("nombreEmpleado", "==", nombre).where("edad", ">", Number(edadMinima)).where("edad", "<", Number(edadMaxima))

          .get()
          .then(function (querySnapshot) {
            querySnapshot.forEach(function (doc) {
              var data = doc.data();
              context.push("arrayBusqueda", data);
              console.log(doc.data());

            });
          })
          .catch(function (error) {
            console.error("Error getting documents: ", error);
          });

        this.$.modal.close();
      }

    }
    customElements.define(MyRecursos.is, MyRecursos);
  </script>
</dom-module>