<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="user-item.html">

<link rel="import" href="dialogs/user-dialog.html">
<link rel="import" href="dialogs/user-delete-dialog.html">

<dom-module id="my-usuarios-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        margin-bottom: 7rem;
        padding: 10px;
      }
    </style>
    <dom-access path="usuarios/agregar-perfil">
    <paper-button on-click="showProfileDialog">Administrar perfiles</paper-button>
  </dom-access>
    <paper-listbox style="background-color: transparent !important; padding: 0;">
      <template is="dom-repeat" items="[[users]]">
        <user-item user="[[item]]" style="border: 2px solid var(--paper-indigo-400); margin: 8px 4px; background-color: white; border-radius: 4px !important;" list-index="[[index]]"></user-item>
     
      </template>
  </paper-listbox>
  
  <dom-access path="usuarios/agregar">
    <paper-fab style="position: fixed; right: 24px; bottom: 24px;" on-click="addUser" icon="add"></paper-fab>
   </dom-access>
  </template>

  <script>
    class MyUsuariosView extends Polymer.Element {
      static get is() { return 'my-usuarios-view'; }
      constructor(){
        super();  
        firebaseHelper.queryCollection(this,{"collection":"users",
    "array":this.users,"arrayName":"users","orderBy":"displayName"});
        //firebaseController.Usuarios.getQuery().bindArray(this,this.users,"users");

      }
      showProfileDialog(){
        firebaseController.UserProfiles.showProfileDialog();
      }
      addUser(){
          var dialog=new UserDialog();
          PolymerUtils.Dialog.showLegacy(dialog);
        //firebaseController.User.openUserDialog();
      }
      static get properties(){
        return {
          users:{
            type:Array,
            notify:true,
            value:[]
          }
        };
      }
      
      
    }

    window.customElements.define(MyUsuariosView.is, MyUsuariosView);
  </script>
</dom-module>
