<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    
      <h1>Usuarios</h1>
      <p>Gestione aquí a todo el personal que tendrá acceso a la aplicación, incluyendo sus respectivos permisos</p>
      <div style="width: 100%; height: 380px; overflow-y: scroll;">
          <paper-listbox style="max-height: 450px; overflow-y: scroll;">
              <template is="dom-repeat" items="[[arrayTipos]]" as="tipo">
                  <paper-icon-item style="border-bottom: solid 1px #BDBDBD; height: 60px;">
                      <paper-item-body three-line>
                          <!-- <div style="width: 10%;display:inline-block;">[[mesa.numMesa]]</div>
                          <div style="width: 60%;display:inline-block;">
                              <empleados-filtrados mesa="[[mesa.numMesa]]" empleados-filtro="[[empleadosRegistrados]]"></empleados-filtrados>
                              <template is="dom-repeat" items="[[getEmpleadosPorMesa(mesa,empleadosAsistencia)]]" as="empleadoMesa">
                                  <div>[[empleadoMesa.nombre]]</div>
                              </template>
                          </div> -->
                      </paper-item-body>
                      <!-- <empleados-registrados mesa="[[mesa]]" empleados-asistencia="[[empleadosRegistrados]]"></empleados-registrados> -->
                      <paper-icon-button icon="menu" on-click="agregaEmpleadoMesa"></paper-icon-button>
  
                  </paper-icon-item>
              </template>
          </paper-listbox>
      </div>

  
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      static get properties(){
        return{
          arrayTipos:{type:Array, notify:true, value:[]}
        };
      }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
