<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="inicio-item.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="jose-logo.html">

<link rel="import" href="/src/componentes/menu-item.html">

<dom-module id="my-view1">
  <template>

    <style include="shared-styles">
      :host {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        padding: 10px 20px;
      }

      inicio-item {
        z-index: 10 !important;
      }
    </style>
    <!--
    <a href="/eventos/evento-main">
      <menu-item icono="book" nombre-item="Eventos" color="var(--paper-teal-400)" style="display:inline-block;"></menu-item>
    </a>

    <a href="/tipos-reportes/reporte-main">
      <menu-item icono="assignment" nombre-item="Tipos de Reporte" color="var(--paper-brown-400)" style="display:inline-block;"></menu-item>
    </a>
    <a href="my-recursos">
        <menu-item icono="social:people" nombre-item="Recursos Humanos" color="#546E7A" style="display:inline-block;"></menu-item>
    </a>
    <a href="my-estadisticas">
      <menu-item icono="icons:assessment" nombre-item="Estadísticas" color="#3F51B5" style="display:inline-block;"></menu-item>
  </a>
    <menu-item icono="face" nombre-item="Usuarios" color="var(--paper-teal-700)" style="display:inline-block;"></menu-item>
-->
    <jose-logo style="position: fixed; bottom: 40px; left: 0; right: 0;"></jose-logo>

    <dom-access path="eventos">
    <inicio-item title="Eventos" description="Registra tus eventos" image="../../images/icons/calendar.svg" href="[[rootPath]]eventos/evento-main"
      header-color="#4CAF50"></inicio-item>
    </dom-access>

    <dom-access path="tipos-incidencias">
    <inicio-item title="Tipos de reportes" description="Registra tus eventos" image="../../images/icons/checklist.svg"
      href="[[rootPath]]tipos-reportes/reporte-main" header-color="#FF314F"></inicio-item>
    </dom-access>

    <dom-access path="empleados">
      <inicio-item title="Recursos Humanos" 
      description="Registra tus eventos" 
      image="../../images/icons/waiter.svg"
      href="[[rootPath]]my-recursos"
      header-color="#FF9800"
      ></inicio-item>
    </dom-access>
    <dom-access path="estadisticas">

    <inicio-item title="Estadísticas" description="Registra tus eventos" image="../../images/icons/analytics.svg" href="[[rootPath]]my-estadisticas"
      header-color="#273B7A"></inicio-item>
      </dom-access>
    <dom-access path="usuarios">
      <inicio-item title="Usuarios" description="Da de alta nuevos usuarios. Edita sus nombres, correos electrónicos y contraseñas en sólo unos pocos clics."
        image="../../images/icons/businessman.svg" href="[[rootPath]]my-usuarios-view" header-color="#31BAFD"></inicio-item>
    </dom-access>







    <!-- <style include="shared-styles">
      :host {

        --login-left: 0px;
        --login-right: 0px;
        --login-display: block;
        display: var(--login-display);


        text-align: center;
      }

      .carta {
        text-align: center;
        margin: 12px;
        padding: 16px;
        width: calc(100% - 54px);
        max-width: 500px;
        color: #757575;
        /* border-radius: 5px;*/
        margin-top: -40px;
        /* background-color: rgba(255,255,255,0.8);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
      }

      .centerContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: var(--login-left);
        right: var(--login-right);
        transition: right 1s, left 1s;
        background-color: white;

      }

      .spinner-div {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .cloudsAnimation {
        /*        background-image: url(../../images/bg-clouds-invered.png);*/
        /*background-image: url(../../images/salad.jpg);
      background-position: 0px 0px;
      background-repeat: repeat-x;
      background-size: cover;*/


        /*  background-color: white;*/

        /*	animation: animatedBackground 120s linear infinite;*/
      }

      @keyframes animatedBackground {
        from {
          background-position: 0 0;
        }
        to {
          background-position: 100% 0;
        }
      }

      .backgroundAnimation {


        color: #fff;
        background: linear-gradient(-45deg, var(--paper-red-800), var(--paper-red-400), var(--paper-teal-200), var(--paper-teal-900));
        background-size: 400% 400%;
        -webkit-animation: Gradient 10s ease infinite;
        -moz-animation: Gradient 10s ease infinite;
        animation: Gradient 10s ease infinite;

      }




      @-webkit-keyframes Gradient {
        0% {
          background-position: 0% 50%
        }
        50% {
          background-position: 100% 50%
        }
        100% {
          background-position: 0% 50%
        }
      }

      @-moz-keyframes Gradient {
        0% {
          background-position: 0% 50%
        }
        50% {
          background-position: 100% 50%
        }
        100% {
          background-position: 0% 50%
        }
      }

      @keyframes Gradient {
        0% {
          background-position: 0% 50%
        }
        50% {
          background-position: 100% 50%
        }
        100% {
          background-position: 0% 50%
        }
      }
    </style>
    <div hidden$="[[user]]">
    <div hidden$="[[!showLogin]]">

      <div class="centerContainer cloudsAnimation" style="margin-top: -150px !important;">
         <img src="../images/logo.png" style$="position: relative; " />
        <jose-logo style="margin-bottom: 50px; z-index: 999;"></jose-logo>
        <div class="carta" style="position: relative;">

          <div style$="transition: opacity 400ms; opacity: [[getInputOpacity(processingLogin)]];">
            <div style="text-align: left;">
              <div style="font-size: 20px; color: var(--paper-grey-900); font-weight: 500;">Inicio de sesión</div>
              <paper-input id="emailInput" label="Email" autofocus on-keydown="signInKeyFingerprint" always-float-label auto-validate value="{{email}}"></paper-input>

              <paper-input id="passwordInput" on-keydown="signInKey" type="password" label="Contraseña" auto-validate always-float-label
                value="{{password}}"></paper-input>

              <div style="display: flex; align-items: center; justify-content: center;">
                <div style="flex-grow: 1000;"></div>
                <div>
                  <paper-button raised on-click="signInFingerprint" style="background-color: var(--paper-grey-800); color: white; float:right;">Iniciar
                    sesión</paper-button>

                </div>
              </div>
            </div>
          </div>

          <div class="spinner-div" style$="display: [[getSpinnerDisplay(processingLogin)]];">
            <paper-spinner active$="[[processingLogin]]"></paper-spinner>
          </div>
        </div>
        <jose-logo without-jose style="margin-top: 10px; z-index: 999;"></jose-logo>

      </div>
    </div>
    <iron-media-query query="(max-width: 640px)" query-matches="{{smallDevice}}"></iron-media-query> -->

  </template>

  <script>
    class MyView1 extends CustomClass(Polymer.Element) {
      saveLocal(field, value) {

        window.localStorage.setItem(field, value);
      }
      recoverLocal(field) {
        this.set(field, window.localStorage.getItem(field));
        //console.log(this[field]);
      }
      /**
       * Constructor de MyView1.
       * 
       * Es llamado en cuanto es inicializado el elemento. Es llamado
       * antes de que el DOM sea interpretado, por lo que las referencias
       * a los elementos en pantalla pueden fallar.
      */
      constructor() {
        super();


        //La variable context almacenará el contexto de Polymer de MyView1
        var context = this;

        this.recoverLocal("email");
        /**
         * Agregamos un callback a firebaseHelper.auth, con la función
         * addDelyedSignOutCallback.
         * 
         * El callback se ejecutará cuando la función firebaseHelper.auth.delayedSignOut
         * sea llamada. Esto nos permitirá realizar una acción un segundo antes de que
         * se llame la función de firebase.auth().signOut(), por lo que podremos animar
         * el cambio de pantalla durante el cierre de sesión del usuario loggeado.
         * 
        */
        firebaseHelper.auth.addDelayedSignOutCallback(function (willSignOut) {
          //Si "willSignOut" es true, actualizamos los estilos para hacer visible cuadro de login.
          if (willSignOut) {
            context.set("showLogin", true);
            context.set("processingLogin", false);
            /**
             * Se pone un timeout en 100 milisegundos, para asegurarnos que el cambio
             * de la propiedad "showLogin" no intervenga con la animación de CSS3, que ocurre
             * al actualizar los estilos mediante context.updateStyles.
            */
            setTimeout(function () {

              /**
               *Se actualizan las variables CSS con nombres --login-left y --login-right,
               para crear una transición entre su valor actual y 0px. CSS se encarga de 
               'animar' esta transición
               * */
              context.updateStyles({ "--login-left": "0px", "--login-right": "0px" });


            }, 100);
          }
        });
        /**
         * firebaseHelper.addDataUserCallback nos permite agregar una función
         * que sea llamada cada vez que dataUser cambie en firebaseHelper.
         * 
         * dataUser es el objeto almacenado del usuario en la base de datos, y no el objeto
         * de Firebase Authentication. Esto significa que todos los datos que guardemos a la
         * referencia de Firestore 'users/{uid}' se reflejarán en este objeto; por lo que es
         * fácil poner datos adicionales al usuario de ser requerido.
        */
        firebaseHelper.addDataUserCallback(function (dataUser) {
          /**
           * Si el objeto del usuario existe (un usuario ha accedido), actualizamos los estilos 
           * que harán que el cuadro de login se 'esconda' en una transición donde la pantalla 
           * se mueve de su posición actual hacia la izquierda.
          */
          if (dataUser) {
            if (dataUser.profileName == "colaborador") {
              /*var context=this;
                        setTimeout(function(){
                          context.signOut();
                      },500);*/
              firebase.auth().signOut(); context.set("showLogin", false);
              PolymerUtils.Toast.show("No tienes permitido acceder al sistema");
              //  PolymerUtils.Toast.show("No tienes permitido acceder al sistema", 700);
              return;
            }
            context.updateStyles({ "--login-left": "-100%", "--login-right": "100%" });
            setTimeout(function () {
              /**
               * Como la animación dura 1 segundo, este timeout se encarga de que 
               * la propiedad showLogin cambie a false tras 1 segundo, lo que pondrá
               * el estilo display: none al cuadro de login.
              */
              context.set("showLogin", false);
            }, 1000);


          }
          else {
            /**
             * Si el objeto dataUser es nulo, mostramos el login.
            */
            context.set("showLogin", true);
            context.set("processingLogin", false);
            context.updateStyles({ "--login-left": "0px", "--login-right": "0px" });

          }
        });
      }


      static get is() { return 'my-view1'; }
      getImageWidth(small) {
        if (small) {
          return "85%";
        }
        else return "400px";
      }
      static get properties() {
        return {
          usePassword: {
            type: Boolean,
            notify: true,
            value: true
          },
          //Guarda el texto ingresado en "emailInput"
          email: {
            type: String,
            notify: true

          },
          //Guarda el texto ingresado en "passwordInput"
          password: {
            type: String,
            notify: true
          },

          //Boolean que define si debe aplicarse display:none o no al div con ID "centerContainer"
          showLogin: {
            type: Boolean,
            notify: true,
            value: true
          },
          // Boolean que indica si se está procesando el login. 
          processingLogin: {
            type: Boolean,
            notify: true,
            value: false
          }


        };


      }
      requestElectronVerifyFingerprint(email) {
        const { ipcRenderer } = require('electron');
        var status = ipcRenderer.sendSync('verifyFingerprint', { "email": email });
        if (typeof status == "object") {

          firebaseHelper.auth.showErrorToast(status);
          return;
        }


        switch (status) {

          case 1:
            //firebase.firestore().doc("users/"+userId).update({"fingerprintSaved":true});
            //  PolymerUtils.Toast.show("", 4000);
            PolymerUtils.Toast.show("¡La huella coincide!");
            this.set("email", email);
            this.set("password", "mokoccino");
            this.signIn();
            break;
          case 2:
            //   PolymerUtils.Toast.show("La huella no coincidió. Asegúrate de haber usado el dedo con el que te registraste. Inténtalo más tarde.", 9000);
            PolymerUtils.Toast.show("La huella no coincidió. Asegúrate de haber usado el dedo con el que te registraste. Inténtalo más tarde.");
            break;
          default: {
            //    PolymerUtils.Toast.show("Hubo un error desconocido. Inténtalo más tarde.", 5000);
            PolymerUtils.Toast.show("Hubo un error desconocido. Inténtalo más tarde");

            break;
          }
        }
      }
      signInFingerprint() {
        if (this.usePassword) {
          this.signIn();
          return;
        }
        var email = this.email;
        if (!email || email.trim() == "") {
          //Si el email no está escrito, termina la función y muestra un mensaje.
          PolymerUtils.Toast.show("El email es obligatorio");
          return;
        }
        var context = this;
        PolymerUtils.Toast.show("Solicitando lectura de huella...", 4000);
        setTimeout(function () {
          context.requestElectronVerifyFingerprint(email.trim());

        }, 1000);


      }
      /**
       * signIn() utiliza los datos ingresados en los inputs de email y de password
       * para llamar la función de inicio de sesión de firebase.
       * 
      */
      signIn() {

        var email = this.email;
        var password = this.password;


        if (!email || email.trim() == "") {
          //Si el email no está escrito, termina la función y muestra un mensaje.
          PolymerUtils.Toast.show("El email es obligatorio");
          return;
        }
        if (!password || password.trim() == "") {
          //Si el campo de contraseña está vacío, termina la función y muestra un mensaje.
          PolymerUtils.Toast.show("No escribiste una contraseña");
          return;
        }
        //A la propiedad 'processingLogin' se le asigna true, indicando que se está procesando el inicio de sesión.
        this.set("processingLogin", true);
        //A la variable context, le asignamos el contexto actual de Polymer
        var context = this;
        /**
         * Llamado directo a la función signInWithEmailAndPassword de firebase.auth().
         * 
         * Recibe como parámetros el email y la contraseña. Dependiendo del resultado de la función,
         * se muestran mensajes de error, o de confirmación de acceso.
        */
        firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(function (record) {
          /**
          *Se eliminan los valores contenidos en los inputs de email y contraseña.
          */
          var user = record.user;
          context.saveLocal("email", context.email);
          //context.set("email","");
          context.set("password", "");

          /**
           *Se revisa si existe la variable AndroidApp, que es un puente de comunicación
           entre Javascript y código nativo Android, cuando la aplicación es cargada desde
           el WebView de una aplicación Android. En caso de que sí exista, llama a la función
           makeToast, que es una función nativa del lado de Android. 
           */
          if (typeof AndroidApp != "undefined") {
            AndroidApp.makeToast("Logged in Success Really!");
          }

          //Si el usuario tiene 'displayName', muestra un ¡Hola, displayName!
          console.log(user);
          if (user.displayName)
            PolymerUtils.Toast.show("¡Hola " + user.displayName + "!", 7000);
          //Si el usuario no tiene 'displayName, se muestra el correo con el que se accedió.
          else
            PolymerUtils.Toast.show("¡Hola! Accediste con el correo " + user.email, 7000);


        }).catch(function (error) {
          /*
          Con showErrorToast de firebaseHelper.auth, pasamos el error recibido desde Firebase de parámetro,
          y recibimos un objeto con los campos 'source' y 'shortMessage', que luego es procesado por 
          la función showInputError.

          */
          var errorSource = firebaseHelper.auth.showErrorToast(error);
          context.showInputError(errorSource);

          //Damos por terminado el proceso de login, ya que terminó con un error.
          context.set("processingLogin", false);


        });
      }
      //Si la función es llamada con la presión de Enter, "passwordInput" adquiere el enfoque.
      selectPassword(e) {

        // if (PolymerUtils.isEnterKey(e)) {

        //   //this.$.passwordInput.focus();
        // }
      }
      //Revisa si la función fue llamada desde la presión de la tecla Enter. 
      //De ser así, llama a signIn 
      signInKey(e) {
        // if (.isEnterKey(e)) {
        //   this.signIn();
        // }
      }
      signInKeyFingerprint(e) {
        if (this.usePassword) {
          //if(PolymerUtils.isEnterKey(e)){
          this.selectPassword(e);
          //}
        }

        else if (PolymerUtils.isEnterKey(e)) {
          this.signInFingerprint();
        }

      }
      /**
       * getInputOpacity regresa 0 si la propiedad indicada es true,
       * o 1 si no lo es. 
       * 
       * Se utiliza para mostrar o esconder los campos de entrada para iniciar sesión, dependiendo
       * de si processingLogin es true o false.
      */
      getInputOpacity(processing) {
        if (processing) {
          return "0";
        }
        return "1";
      }
      /**
       * getSpinnerDisplay regresa 'flex' si la propiedad indicada es true,
       * o 'none' si no lo es. 
       * 
       * Se utiliza para mostrar o esconder el paper-spinner, dependiendo de si processingLogin
       * es true o false.
      */
      getSpinnerDisplay(processing) {
        if (processing) {
          return "flex";
        }
        return "none";

      }
      /**
       * showInputError recibe como parámetro el objeto retornado por firebaseHelper.auth.showErrorToast,
       * que contiene "source" y "shortMessage"
      */
      showInputError(err) {
        var context = this;
        if (err) {
          //Si el origen del error es 'email', muestra un mensaje de error en emailInput
          if (err.source == "email") {

            this.$.emailInput.errorMessage = err.shortMessage;
            this.$.emailInput.invalid = true;
            this.$.emailInput.focus();
          }

          //Si el origen del error es 'email', muestra un mensaje de error en passwordInput
          else if (err.source == "password") {
            //     context.$.passwordInput.errorMessage=err.shortMessage;
            //   context.$.passwordInput.invalid=true;
            //   context.$.passwordInput.focus();


          }
        }
      }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>