<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-search/paper-search.html">
<link rel="import" href="../bower_components/paper-search/paper-filter-dialog.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">

<link rel="import" href="../src/recursos-humanos/export.html">




<link rel="import" href="shared-styles.html">


<script type="text/javascript">
 
  </script>



<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      google-chart {
   width: 100%; 
  min-width : 450px;
}
    </style>


<div align="center">
<export-excel>
</export-excel>
</div>

  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }

    }

   
    
    

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
