<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">


<link rel="import" href="contact-badge.html">
<dom-module id="user-item">
  <template>
    <style>
      :host {
        display: block;

        /*background-color: green;*/
        --paper-item-focused-before: { background: transparent };
      }
      :host(.iron-selected) div.contenedor{
        background-color: var(--paper-amber-100) !important;
      } 
      .fingerprint-button:hover{
        opacity: 0.85 !important;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      .fingerprint-button{
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      }
      .avatar{
        display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--paper-amber-500);
      }
      .blue{
        background-color: var(--paper-light-blue-300);
      }
     div.contenedor:hover{
       background-color: rgba(255,255,255,0.5);
       /*color: white !important;*/
     }
     div.contenedor{
       display: flex;
    align-items: center;
    cursor:pointer;
    justify-content: center;
     }
     
     div.contenedor .action-button{
      transition: opacity 100ms;
      opacity: 0;
     }
     div.contenedor:hover .action-button{
       opacity: 1.0 !important;
     }
     google-map{
      height: 70vh;
      width: 100%;
     }
     paper-item.odd{
       /*background-color: #F8F8F8;*/
       
       background-color: rgba(240,240,240,0);
     }
    </style>

<div class$="contenedor [[checkIndex(listIndex)]]" >
    <!--<paper-item-body two-line >
      <div style="font-size: 16px; font-weight: 500;">[[user.displayName]]</div>
      <div secondary style="color: var(--paper-indigo-500);">[[user.profileName]]</div>
      <div style="font-size: 15px; color: #848484;">[[user.email]]</div>
      </paper-item-body>-->

    <paper-icon-item style="flex-grow: 100; font-weight: 600 !important;" on-click="showInfoDialog">
      
      <contact-badge style="border-radius: 50%; box-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;" contact=[[user]]  slot="item-icon"></contact-badge>
      
      <!--<div class="avatar blue" slot="item-icon"></div>-->
      <paper-item-body two-line>
        <div style="padding-left: 2px; text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;">[[user.displayName]]</div>
        <div secondary style=" padding-left: 2px; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; font-weight: 600; color: var(--paper-indigo-500) !important;">[[user.profile.name]]</div>
      </paper-item-body>
    </paper-icon-item>

    <!--<paper-icon-button icon="maps:my-location" on-click="openCollapse" style="color: #909090;"></paper-icon-button>-->
    
   

    <dom-access path="usuarios/editar">
    <paper-icon-button class="action-button" icon="editor:mode-edit" on-click="editUser" style="color: #212121;"></paper-icon-button>
    </dom-access>


    <dom-access path="usuarios/eliminar">
          <paper-icon-button class="action-button" icon="delete" on-click="removeUser" style="color: #212121;"></paper-icon-button>
</dom-access>

    <!--<paper-icon-button icon="fingerprint" class="fingerprint-button"
    style$="[[getFingerprintStyle(user.fingerprintSaved)]] border-radius: 50%; margin-right: 16px;"
    on-click="requestFingerprintRead"></paper-icon-button>-->
    

    
  </div> 
  <!--<iron-collapse id="collapse">
    <div  class="collapse-content" style="height: 70vh;">
      <template is="dom-if" if="[[!locationsExist]]">
          <div style="text-align: center; display: flex; background-color: var(--paper-grey-300); color: #545454; font-size: 40px; height: 70vh;">
              <div style="margin: 40px; margin-top: 20vh;">No hay datos de ubicación para este usuario</div>
              <paper-button on-click="askLocation" style="color: var(--paper-indigo-500);">Solicitar ubicación</paper-button>
          
            </div>
      </template>
      <div hidden$="[[!locationsExist]]">
       <div style="display: flex; border-style: solid; border-width: 1px; border-color: var(--paper-indigo-300);" >
        <div style="width: 310px; overflow-y: scroll; height: 70vh; display: block; border-top-color: #E0E0E0; border-top-style: solid; border-top-width: 1px; border-bottom-color: #E0E0E0; border-bottom-style: solid; border-bottom-width: 1px;">
            <paper-button on-click="askLocation" style="color: var(--paper-indigo-500);">Solicitar ubicación</paper-button>
           
            <paper-listbox selected="0" on-keyup="listKeyUpdate">
            <template is="dom-repeat" items="[[locations]]">
                <paper-item name="[[item._key]]" item="[[item]]" style="cursor: pointer;" on-click="selectLocation">
                <div>[[getTimeString(item.timestamp)]]</div>
              </paper-item>
            </template>
          </paper-listbox>
        </div>

       
      <google-map id="map" latitude="[[firstMarker.lat]]" longitude="[[firstMarker.long]]" zoom="18" api-key="AIzaSyAm8lMd9Arp7BF3zxce8hNY-9g0gKH2SBk" 
      fit-to-markers>
      
        <google-map-poly stroke-color="#2196F3" stroke-opacity=".5">
            <template is="dom-repeat" items="[[pairs]]" as="pair">
                <google-map-point latitude="[[pair.0.lat]]" longitude="[[pair.0.long]]"></google-map-point>
            <google-map-point latitude="[[pair.1.lat]]" longitude="[[pair.1.long]]"></google-map-point>
              </template>
          </google-map-poly>
        <google-map-marker id="marker" latitude="[[firstMarker.lat]]" longitude="[[firstMarker.long]]"
          on-google-map-marker-click="print" click-events
            title="Selección actual">
          </google-map-marker>
            
      </google-map>
    
    </div>
  </div>
    </div>
  </iron-collapse>-->
  <iron-media-query query="(max-width: 640px)" query-matches="{{smallDevice}}"></iron-media-query>
  </template>

  <script>
    class UserItem extends GlobalMixin(Polymer.Element) {
      static get is() { return 'user-item'; }
      constructor(){
        super();

      }
      checkIndex(index){
        if(index%2==1){
          return "odd";
        }
        return "";
      }
      listKeyUpdate(e){
        
        if(!(e.keyCode==38 || e.keyCode==40)){
          return;
        }
        console.log(e.keyCode);
        var focused=e.target.closest("paper-listbox").focusedItem;
       // console.log(e.target.closest("paper-listbox"));
        //console.log(e.target,e.target.closest("paper-listbox").focusedItem);
        if(focused){
          //console.log("Focused",focused);
          var index=(e.target.closest("paper-listbox").indexOf(focused));
          e.target.closest("paper-listbox").set("selected",index);
          this.set("firstMarker",focused.item);
        }
      }
      updateMarker(marker){
        var context=this;
        var contentString = "<span>" + this.getTimeString(this.firstMarker.timestamp) + "</span>";
       var infoWindow;
        if(this.infoWindow){
          infoWindow=this.infoWindow;
          infoWindow.setContent(contentString);
       } else{
setTimeout(function(){
  infoWindow = new google.maps.InfoWindow({
    content: contentString
});
context.set("infoWindow",infoWindow);

},2000);



}
if(infoWindow){
  infoWindow.open(this.$.map.map, marker);

}
      }
      print(e){
        var t=this;
        console.log(e.target);
        this.updateMarker(e.target.marker);
        /*var infowindow = new google.maps.InfoWindow({
    content: contentString
});
infowindow.open(this.$.googleMap.map, marker);*/
       // console.log(e.target);
      }
      ready(){
        super.ready();
//        console.log(this.$.map);
      }
      markerClicked(e, detail, sender) {

console.log('google_map_marker_click');

/////////////////////////////////////
//Seting marker infowindow to be open by default using it's API
//
//Select the map and the marker:
// var map_marker_1 =  this.$.map_marker_1;
// var google_map = this.$.map_1;
//Open the info:
// google_map_marker.info.open(google_map.map, google_map_marker.marker);
/////////////////////////////////////

/////////////////////////////////////
//Closing marker infowindow
//
//console.log(sender.tagName);
//console.log(sender.info);//marker's info object
//console.log(sender.info.content);

//or select the marker by id:
//var map_marker_1 =  this.$.map_marker_1;

//this is closing marker infowindow
sender.info.open();
//or 
// map_marker_1.info.close();
/////////////////////////////////////

}
      openCollapse(){
        //this.$.collapse.toggle();
       
      }
      selectLocation(e){
        var location=e.target.closest("paper-item").item;
//        console.log(location);
        this.set("firstMarker",location);
      }
      askLocation(){
        CMUtils.showToast("Solicitando ubicación...");
        firebase.firestore().collection("gps-petition").doc(this.user.uid).set({"petition":true});
      }
      editUser(){
        firebaseController.User.openUserDialog(this.user);
      }
      removeUser(){
        firebaseController.User.openUserDeleteDialog(this.user);
      }
      findLocation(id){
        for(var i=0;i<this.locations.length;i++){
          if(this.locations[i]._key==id){
           // console.log("Found location",id);
            return this.locations[i];
          }
        }
        return null;
      }
      getTimeString(timestamp){
        //var timestamp=this.findLocation(item._key).timestamp;
        return CMUtils.getTimeString(timestamp);
      }
      userChanged(u){
        if(this.lastQuery){
//          console.log("Deleting last query");
          this.lastQuery();
        }
        if(this.$.map)
        this.$.map.clear();
        if(u){
          var t=this;

          t.splice("locations",0,this.locations.length);
          
          this.set("lastQuery",
          firebase.firestore().collection("gps-history").doc(u.uid).collection("list").orderBy("timestamp","desc")
            .onSnapshot(function(querySnapshot) {
                var counter=0;
          t.splice("locations",0,t.locations.length);
                querySnapshot.forEach(function(doc) {
                  var lo=doc.data();
                  //console.log(doc);
                  lo._key=doc.id;
                    t.push("locations",lo);
                    if(counter==0)
                    t.set("firstMarker",lo);

                    counter++;
                    //console.log(u,doc.data());
                });
                t.set("user.locations",t.locations);
                //console.log("Current cities in CA: ", cities.join(", "));
            })); 
        }
        else{
          this.splice("locations",0,this.locations.length);
        }
      }
      _sortLocation(val) {  
      return function(a, b) {
        var timeA=new Date(a.timestamp).getTime();
        var timeB=new Date(b.timestamp).getTime();
       return timeB-timeA;
      };
    
  
}
static get observers() {
        return [
          '_locationsChanged(locations.splices)',
        ];
      }

_locationsChanged(vvv){
  this.splice("pairs",0,this.pairs.length);
  for(var i=0;i<this.locations.length;i++){
    
    if((i+1)<this.locations.length){
      var pair=[];
      pair.push(this.locations[i]);
      pair.push(this.locations[i+1]);
      this.push("pairs",pair);
    }
  }
}
firstChanged(v){
  this.updateMarker(this.$.marker.marker);
}
animateLocation(){
  var t=this;
  console.log(this);
  var counter=t.animationCounter;
  console.log(this.user.locations);
  var locs=this.user.locations.length;
  console.log("Animating location",locs,counter);
  if(locs>0 && counter<locs-1){
    setTimeout(function(){
      console.log(counter);
      t.set("firstMarker",t.locations[counter]);
      t.set("animationCounter",counter+1);
      t.animateLocation();
    },800);
  }
  else{
    this.set("animationCounter",0);
  }
}
showInfoDialog(){
  //firebaseController.User.openInfoDialog(this.user);
}
requestFingerprintRead(e){
  console.log(this.user);
  var context=this;
  var userId=this.user.uid;
  CMUtils.showToast("Solicitando guardado de huella...",4000);
  setTimeout(function(){
    
  context.requestElectronSaveFingerprint(userId);
  },1000);

}
requestElectronSaveFingerprint(userId){
  const { ipcRenderer } = require('electron');
	var status=ipcRenderer.sendSync('saveFingerprint',{"userId":userId});
  switch(status){
    
    case 3:
    firebase.firestore().doc("users/"+userId).update({"fingerprintSaved":true});
    CMUtils.showToast("¡Huella guardada con éxito!",4000);
    break;
    case 4:
    CMUtils.showToast("Hubo un problema al guardar la huella. Inténtalo más tarde.",5000);
    break;
    default:{
      CMUtils.showToast("Hubo un error desconocido. Inténtalo más tarde.",5000);
   
      break;
    }
  }
}
getFingerprintStyle(saved){
  if(saved){

  return "color: white; background-color: var(--paper-green-600);";
  }
  return "color: #545454; background-color: #F0F0F0;";
  
}
      static get properties(){
        return {
          user:{
            type:Object,
            notify:true,
            observer: "userChanged"
          },
          
          animationCounter:{
            type:Number,
            notify:true,
            value: 0
          },
          firstMarker:{
            type: Object,
            notify:true,
            //observer: "firstChanged"
          },
          locations:{
            type:Array,
            notify:true,
            value: []
          },
          pairs:{
            type:Array,
            notify:true,
            value: []
          },
          locationsExist:{
            type: Boolean,
            notify:true,
            computed: "_locationsCheck(locations.splices)"
          }

        };
      }
      _locationsCheck(v){
        return this.locations.length>0;
      }
    }

    window.customElements.define(UserItem.is, UserItem);
  </script>
</dom-module>
