<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="shared-styles.html">

<dom-module id="user-badge">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 8px;
      }
      .circle-div{
          border-radius: 50%;
          
          color: white;
          cursor:pointer;
          text-align: center;
          display: flex;
    align-items: center;
    justify-content: center;
    
          border-style: solid;
          border-width: 1px;
      }
      .floating-card{
          background-color: white;
          border-radius: 5px;
          
          padding: 16px;

      }
      #dropdown{
          
          z-index: 999;
      }
    </style>
    
    <template is="dom-if" if="[[!dataUser.photoURL]]">

        <div id="actualCircle" style$="[[getSizeStyle(tam)]] background-color: var(--paper-[[getShowColor(dataUser)]]-500); border-color: var(--paper-[[getShowColor(dataUser)]]-500);" class="circle-div">
            <div style$="[[getFontSize(tam)]]">[[getFirstLetter(dataUser)]]</div>
        </div>
    </template>
    <template is="dom-if" if="[[dataUser.photoURL]]">
    
        <img style$="[[getSizeStyle(tam)]] border-color: rgba(0,0,0,0.45); background-size: cover; background-image: url('[[dataUser.photoURL]]')" class="circle-div" />
    </template>  
  </template>

  <script>
    class UserBadge extends GlobalMixin(Polymer.Element) {
      static get is() { return 'user-badge'; }
      constructor(){
          super();
          var context=this;
          firebaseHelper.addDataUserCallback(function(dataUser){
            if(dataUser){
                context.set("dataUser",dataUser);
            }
            else{

                context.set("dataUser",null);
            }
            });
      }
      getShowColor(contact){
          if(!contact){
              return "teal";
          }
          if(!contact.badgeColor){
              return "teal";
          }
          return contact.badgeColor;
      }
      getFontSize(tam){
          if(tam){
              if(parseFloat(tam.replace("px",""))>48){
                  return "font-size: 30px;";
              }
          }
          else{
              return "font-size: 20px;";
          }
      }
      getSizeStyle(tam){
          if(tam){
              return "width: "+tam+" !important; height: "+tam+" !important;"
          }
          else{
              return "width: 32px !important; height: 32px !important;";
          }
      }
      showDropdown(){
          //this.$.dropdown.positionTarget=this.$.actualCircle;
            //this.$.dropdown.toggle();
             //PolymerUtils.showDropdown(this.$.dropdown);
      }
      signOut(){
          firebaseHelper.auth.delayedSignOut(1000);
          
      }
      
      static get properties(){
          return {
              dataUser:{
                  type:Object,
                  notify:true,
                  value: null
              },
              tam:{
                  type:String,
                  notify:true,
                  value:null
              }
          };
      }
      getFirstLetter(user){
          if(user){
              if(user.displayName){

                  return user.displayName.substring(0,1).toUpperCase();
              }
              else{
                  return user.email.substring(0,1).toUpperCase();
              }
          }
          else{
              return "";
          }
      }
    }

    window.customElements.define(UserBadge.is, UserBadge);
  </script>
</dom-module>
